[2017-03-22 16:32] shantenujha opened #1 "Clarify use/need of GPUs on Titan."

[2017-03-22 17:26] shantenujha opened #2 "Abstract for EarthCube 17 AHM"
Due by March 31

(https://www.earthcube.org/node/2570#dates)

Guido has agreed to present.

[2017-03-22 17:31] shantenujha opened #3 "Identify Science Problem for PY1 Paper (~01 October, 2017)"
Consistent with our PY1 [objectives](https://docs.google.com/presentation/d/1QtEGwhFiA58Gr8IXenQ3CAo6gkluoHhp0N73Cunoc54/edit#slide=id.g1c1f3fb901_0_0), we want to produce a paper from the project by Oct 01, 2017.

This paper will identify a science problem (from each track) of interest and show how the CI (Cyberinfrastructure) has been used to achieve the science objectives. The focus is on the C

[2017-03-22 20:19] mturilli opened #4 "Populate PSU use case description document"
https://docs.google.com/document/d/1kxX0sucCNJtbjAONr-yP4JtLz7KhOmj9wqATPM8kO3w/edit#

[2017-03-22 20:23] mturilli opened #5 "Provide github login names"

[2017-03-22 20:25] mturilli opened #6 "Add pre-processing section to the workflow"

[2017-03-22 20:26] mturilli commented on #6
Add adjoint simulations to the workflow. Setup is same as forward simulations

[2017-03-22 20:26] mturilli opened #7 "Move the existing forward simulations setup to Titan"

[2017-03-22 20:27] mturilli opened #8 "Make repository/wiki private"

[2017-03-22 20:28] mturilli opened #9 "Provide description of scientific problems for IPDPS paper"

[2017-03-22 20:29] mturilli opened #10 "Create a CU for RP for PR use case and start Titan testing"

[2017-03-22 20:45] mturilli commented on #6
* Wenjie, Matthieu ok with the "sequence of substages" figure
    * Substages "select time window", "make measurements", "filter window", "calculate adjoint sources" are operations per pair of simulation events (1 observed, 1 synthetic)
    * Substage "calculate window weight" is a global operation and requires "filter window" of all pairs to finish
    * Command line for each substage looks like

[2017-03-22 20:47] mturilli commented on #1
Titan targets
* solver (forward, adjoint sims) uses gpu each simulation takes 384
* each simulation takes 384 gpus, 40 simulations at a time (40*384=15360 gpus about 80-90% of titan gpus)
* gpu only is ok, preferable to even have gpus only

[2017-03-22 20:48] mturilli commented on #1
Internal action item for RU to test GPU capability for RP

[2017-03-29 19:47] mpbl commented on #5
- **mpbl**          (Matthieu)
- **rmodrak**    (Ryan)
- **wjlei1990**  (Wenjie)

[2017-03-29 19:48] mpbl commented on #6
@wjlei1990

[2017-03-29 19:51] mpbl commented on #1
Also, 1 MPI process per GPU is good enough for now.

[2017-04-05 14:34] mturilli commented on #8
Depends on #5

[2017-04-05 14:37] mturilli commented on #9
Duplicate #3

[2017-04-05 14:37] #9 closed

[2017-04-05 14:44] shantenujha commented on #2
This is now due by April 17.

[2017-04-05 14:45] shantenujha commented on #3
I propose to focus on this after April 17 submission of AHM abstract.

[2017-04-05 14:45] mturilli opened #11 "Test GPU support for RP on Titan"

[2017-04-05 15:01] vivek-bala commented on #10
Create an example RP script: https://github.com/radical-cybertools/radical.ensemblemd/blob/usecase/seisflow/examples/usecase_seisflow/rp_example/forward_simulations_titan.py

Note issue https://github.com/radical-cybertools/radical.pilot/issues/1310

[2017-04-05 15:02] vivek-bala commented on #7
Current issue: https://github.com/radical-cybertools/radical.pilot/issues/1310

[2017-04-05 15:05] vivek-bala commented on #6
The documentation provided Wenjie (https://github.com/wjlei1990/pypaw/blob/master/INSTALL.md) covers the pypaw installation process and its dependencies. I was able to install all the packages except hdf5-parallel against the RP openmpi.

See: https://github.com/radical-cybertools/radical.pilot/issues/1309. From my discussion with Andre, this might require recompiling the openmpi on RP to enable b

[2017-04-05 15:51] mturilli commented on #3
Brief initial draft of the Science Problems (PR and PSU) due on Apr 19.

[2017-04-05 16:08] andre-merzky commented on #11
Is it possible to provide some GPU workload for testing?  It would be great to have some (lshort, informal) documentation on how to distinguish correct from incorrect execution (in the case where that is not obvious).  Thanks!

[2017-04-05 16:40] vivek-bala commented on #11
#10 is now done.  The executable currently being used is cpu only, but there is also a gpu version. I will work on compiling that on Titan. Maybe we can work with that.

[2017-04-05 16:46] mturilli commented on #7
Issue radical-cybertools/radical.pilot#1310 is closed. Is it still blocking this action?

[2017-04-05 16:49] vivek-bala commented on #7
No, that issue isn't blocking anymore. The RP script works on Titan. The corresponding entk script (that we have for stampede + was tried out by Matthieu, Wenjie) is not ready since entk has to be brought up to the changes in RP devel.

[2017-04-05 16:57] vivek-bala commented on #10
Since that issue is fixed.

We can use the following script for Titan: https://github.com/radical-cybertools/radical.ensemblemd/blob/usecase/seisflow/examples/usecase_seisflow/rp_example/forward_simulations_titan.py

[2017-04-05 17:01] mpbl commented on #10
Thanks!
A quick question: that's only for the mesher, right?

[2017-04-05 17:05] vivek-bala commented on #10
Yes! I just tested the specfem, it started correctly but failed with a mpi error, expectedly. I am recompiling it against the new openmpi that the RP uses for the mpi support on titan.

[2017-04-05 17:06] mpbl commented on #5
also
**jeroentromp**

[2017-04-05 18:18] Weiming-Hu commented on #5
Weiming-Hu (Weiming)

[2017-04-05 18:24] cervone commented on #5
cervone (Guido)

[2017-04-05 18:26] mturilli commented on #2
Shantenu to share the draft of the abstract on Sunday Apr 8

[2017-04-05 18:42] mturilli opened #12 "SRS document for PR use case"

[2017-04-05 18:46] mturilli opened #13 "Evalute share-latex/overleaf for collaborative writer"

[2017-04-05 18:50] mturilli opened #14 "SRS document for PSU use case"
Depends on #4

[2017-04-05 18:52] mturilli commented on #13
* https://www.sharelatex.com/
* https://www.overleaf.com/

[2017-04-05 18:59] #5 closed

[2017-04-05 19:08] mturilli opened #15 "Recompile OpenMPI on Titan to enable RP"

[2017-04-05 21:07] vivek-bala opened #16 "Help compiling specfem against RP openmpi on Titan"
When trying to use specfem3D binary, I encounter the following error:

[code]

Can be recreated by running the ```radical_pilot_cu_launch_script.sh``` at ```/lustre/atlas/scratch/vivekb/bip149/radical.pilot.sandbox/rp.session.titan-ext5.vivekb.017261.0014/pilot.0000/unit.000001```. Please be sure to be on the compute node (you can use the interactive jobs to do so. I think I have set global permis

[2017-04-19 20:32] vivek-bala opened #17 "Compiling pypaw, hdf5-parallel against RP openmpi on Rhea/Titan"
Installation instructions for pypaw and hdf5-parallel in https://github.com/wjlei1990/pypaw/blob/master/INSTALL.md.

Original ticket (created initially in RP): https://github.com/radical-cybertools/radical.pilot/issues/1309

[2017-04-24 19:51] vivek-bala opened #18 "Non-fatal error while processing observed data (Stampede)"
I process the obsd data using the ```pypaw-process_asdf``` executable as follows:

[code]

I get a non-fatal error in stdout:
[code]
Entire log: https://gist.github.com/vivek-bala/e173c315222b27c503546fee4f3fb5ff

"Non-fatal" since I do see a 1.2G hdf5 file in the expected output location (/work/02734/vivek91/DATA_RADICAL/proc_obsd).

All the data locations have public permissions, so should be ac

[2017-04-25 14:42] #18 closed, assigned to nobody

[2017-04-25 23:32] vivek-bala opened #19 "Fatal error at the last substage of preprocessing"
I get the following error and output while doing "pypaw-sum_adjoint_asdf":

STDERR:
[code]

STDOUT:
[code]

You can reproduce (as well as run the previous substages) by following the instructions at ```https://github.com/radical-collaboration/hpc-workflows/tree/master/scripts/regional_Greece_small/preprocessing```

Note: The input path and parameter files are located at "/work/02734/vivek91/module

[2017-04-26 20:45] mpbl opened #20 "User level database"
I have tried to sketch what the requirements would be for a "user-level" database for our use case.
It's far from complete but I'd like some comments to see if it makes sense for the Radical team.

[Link to the google doc.](https://docs.google.com/document/d/1M9341Y6_9zmF0amUY9bafseyoCOmCehTHNIRpGwDc9o/edit#)

[2017-05-02 18:37] mpbl opened #21 "Generating visualization / feature extraction"
Right now just a reminder for later on.
We might want to add additional visualization layers, which will potentially generate hundreds (or more) images.

[2017-05-03 18:13] mturilli opened #22 "Get access and allocation on Yellowstone and upcoming Cheyenne"
Provide link to form to create an account and get added to the allocation.

[2017-05-10 21:13] vivek-bala opened #23 "error compiling analog ensemble binary on stampede"
Please see the following error:

[code]

[2017-05-10 23:23] #23 closed, assigned to nobody

[2017-05-17 18:38] mturilli opened #24 "Share template for EarthCube poster"

[2017-05-31 17:51] #15 closed, assigned to vivek-bala

[2017-05-31 17:57] vivek-bala opened #25 "Integration of new version of entk with RP"
Currently depends on https://github.com/radical-cybertools/radical.pilot/issues/1358

[2017-05-31 18:23] mturilli opened #26 "Gain access to read-only NFS fs on Titan"

[2017-06-09 00:58] #16 closed, assigned to andre-merzky, vivek-bala, mpbl

[2017-06-09 01:14] vivek-bala opened #27 "Move preprocessing section PU workflow to Rhea"
Currently blocked by the following tickets: #19 #17 and https://github.com/radical-cybertools/radical.pilot/issues/1187

[2017-06-09 14:41] #25 closed, assigned to nobody

[2017-06-14 18:04] #24 closed, assigned to shantenujha

[2017-06-14 18:08] #17 closed, assigned to vivek-bala

[2017-06-28 18:28] mturilli opened #28 "Support 1st stage of PSU use case on Cheyenne"

[2017-06-29 19:09] shantenujha opened #29 "NSF PY1 Report"
SJ to create a template and populate with boiler-plate content.

[2017-06-29 19:11] shantenujha opened #30 "Paper structure and template for IPDPS"
SJ and MT to circulate before next meeting (July 12)

[2017-07-17 20:54] Weiming-Hu opened #31 "Analogs error on Stampede"
I have got the following error when I try to run `AnEnV1.py` script on Stampede.

[code]

I have changed the `radical.pilot.sandbox` folder permission, so I think you will be able to access the folder. Let me know it doesn't work for you.

Thank you.

[2017-07-26 16:22] shantenujha opened #32 "move all UC documents and SRS to hpc-workflows google drive?"
To facilitate sharing, collaboration and reporting, we should probably move all SRS/UC documents to a folder under the main project google drive:

https://drive.google.com/drive/u/0/folders/0BxWZQExiTsWNV2dLSGZUeXFVRVU

[2017-07-26 18:09] #30 closed, assigned to shantenujha, mturilli

[2017-08-23 18:10] mturilli commented on #31
Use Stampede as a backup resource for the experiments

[2017-08-23 18:10] vivek-bala opened #33 "Test canalog on Stampede, Supermic and Comet"

[2017-08-23 18:12] mturilli commented on #28
PSU created a larger dataset that requires an iteration of the python script for the experiment. RU and PSU to arrange a dedicated meeting to produce this iteration.

[2017-08-23 18:22] mturilli commented on #26
Abandoned due to poor performance

[2017-08-23 18:22] #26 closed

[2017-08-23 18:23] mturilli commented on #22
Confirm whether Andre gained access (and Manuel int the medium term)

[2017-08-23 18:23] mpbl opened #34 "multiple events pilot / lustre compromise"
Adapt Vivek entk scripts to generate 'tasks' composed of a limited number of earthquakes.

[2017-08-23 18:23] vivek-bala commented on #32
We have the UC, SRS and the IPDPS paper in the hpc-workflows in the google drive.

[2017-08-23 18:23] #32 closed

[2017-08-23 18:26] #3 closed

[2017-08-23 18:26] mpbl commented on #34
Lustre friendly, Pilot unfriendly: 40 simultaneous runs
Lustre unfriendly, pilot friendly: 1 simultaneous run

Compromise: 5 to 10 simultaneous runs

[2017-08-23 18:38] mturilli opened #35 "Specify pseudoplots for PU experiments, IPDPS paper, subsection 5.4.2"

[2017-08-23 18:39] mturilli opened #36 "Convert IPDPS draft to LaTeX"

[2017-08-23 22:10] andre-merzky commented on #22
Not to my knowledge...

[2017-08-26 13:44] mturilli commented on #27
Support ready for testing as per https://github.com/radical-cybertools/radical.pilot/issues/1187#issuecomment-324745039

[2017-08-27 18:09] mturilli commented on #36
This is now done. Our paper is now at https://github.com/radical-collaboration/hpc-workflows-paper-y1

Please note: the draft on googledocs is now readonly and deprecated.

[2017-09-01 20:12] Weiming-Hu opened #37 "Does ENTK work with XSEDE Single Sign on Login Hub method"
Let me clarify what I mean by that.

XSEDE recommends one uses the XSEDE Single Sign on Login Hub to login to XSEDE resources with the local username and password. This is very helpful when I have an account with no specific username and password for every supercomputers. Does ENTK work in this type of setting? I remember that I need to set up passwordless ssh to supercomputers. But in this case,

[2017-09-05 14:02] vivek-bala commented on #37
Not really, you will have to setup the passwordless ssh access directly to the machine you wish to use.

[2017-09-05 21:25] wjlei1990 commented on #19
Hi Vivek,

Following our last emails for data processing on RHEA, the directories you mentioned:
[code]
I am not able to get access to them due to `permission denied`.

I did a quick check on the directory `/lustre/atlas1/bip149/world-shared/DATA_RADICAL`. All the processed observed file contains no waveform data(so the file size is very small). For the processed synthetic data, there is only one

[2017-09-05 23:20] vivek-bala commented on #19
Hey Wenjie,

I moved all the data and scripts to the following location:

[code]

You should have permissions to access them.

[2017-09-06 03:42] wjlei1990 commented on #19
I think the problem is:
[code]

On rhea, you need to specify the node ids to manually launch multiple jobs...Otherwise, all the jobs actually are running on the same node. So basically everything cramped together and become very very slow.

To launch jobs correctly, we do:
[code]
It takes us very long time to figure out this issue.

I think your settings are correct. I also tried running a few job

[2017-09-06 17:46] vivek-bala commented on #28
We have tested this dataset and the updated EnTK scripts + Analog ensemble on SuperMIC

[2017-09-06 17:47] mturilli commented on #22
Andre to gain access while visiting Rutgers next week.

[2017-09-06 17:48] vivek-bala commented on #27
Rhea support is now implemented. Currently, testing Rhea access from Titan.

[2017-09-06 17:49] mturilli commented on #11
Undergoing testing. Blocked by https://github.com/radical-cybertools/radical.pilot/issues/1441

[2017-09-06 17:50] vivek-bala commented on #19
I will replicate the changes you suggested and try again. The hostname list is by default specified when run through Radical Pilot so we don't need any new implementation on the RP for this.

[2017-09-06 18:05] #36 closed

[2017-09-06 18:07] vivek-bala commented on #37
The commands for setting up gsissh access on ubuntu/mac can be found here: https://github.com/vivek-bala/docs/tree/master/misc

Remember to obtain the certificate every ~12-24 hrs using the ```myproxy-logon -s myproxy.xsede.org -l <username>``` command. Once you do that, you can then use the ```gsissh -p 2222 stampede.tacc.xsede.org``` command (or similar for other systems).

[2017-09-06 18:13] mturilli commented on #29
Submitted and approved.

[2017-09-06 18:13] #29 closed

[2017-09-06 18:14] mturilli commented on #28
Done for Stampede and SuperMIC

[2017-09-06 18:23] mturilli opened #38 "Improve error messages across RCT"
Please collect here notes/comments/suggestions

[2017-09-06 19:04] Weiming-Hu commented on #38
needs more guidance on how to locate the error log files, and make sense of the error messages to users. This could potentially help them submitting more specific tickets and getting direct help to solving the question.

[2017-09-06 19:06] Weiming-Hu commented on #38
consideration between shooting out an error or providing a suggestion. This arms the interface of EnTK with a sense of intelligence that it guesses what the users are trying to do and what they are missing.

[2017-09-06 19:10] Weiming-Hu opened #39 "Skewed performance by fileIO"
From the initial experiments, it turns out that most of the application time is consumed by the fileIO process, which reaches about 90%. Although relatively fewer stations and test days are computed, which might conceptually amplify the difference between the computing time and fileIO time, we need to discuss and come up with some possible solutions for a faster fileIO.

[2017-09-06 19:12] Weiming-Hu commented on #39
@mturilli has proposed using a RAM disk, and to start another task, before the actual AnEn calculation, to read the data into RAM in advance. [forgive my unprofessional descriptions...]

[2017-09-12 20:37] wjlei1990 commented on #19
Hi Vivke, Did you get a chance to try it again?

[2017-09-19 18:19] vivek-bala commented on #11
Hey @wjlei1990
Wrf to the latest email exchanges, if you agree the output files are consistent with what you expected, please close this ticket.

[2017-09-19 22:13] Weiming-Hu commented on #31
This `AnEnV1.py` looks pretty old now, because according to the newer version of ENTK [installation guide](http://radicalentk-06.readthedocs.io/en/arch-v0.6/install.html#installing-ensemble-toolkit), I don't need to do `pip install radical.ensemblemd`. However, `AnEnV1.py` scripts gave me the following error:
[code]

So I went ahead and typed `pip install radical.ensemblemd`. And then I received t

[2017-09-20 17:03] vivek-bala commented on #19
I tried it again and got it to work last week. I had to reinstall since some files got purged, I think I might have messed that up. @wjlei1990 can we give it a try together?

[2017-09-20 17:15] vivek-bala commented on #35
One idea could be to run 40 simulation tasks (each using 384 GPUs) and run X simulation tasks (each using Y CPUs). This way we are not wasting the CPUs on these 16K nodes and getting more concurrent simulations. We can determine X and Y based on the distribution of the execution time  of the forward simulations on the CPUs and GPUs.

[2017-09-20 17:17] vivek-bala commented on #33
This is tested and all ok on the three machines.

[2017-09-20 17:20] vivek-bala commented on #31
Hey Weiming, I think you are running the older scripts. Our latest scripts are in https://github.com/radical-experiments/entk-experiments/blob/master/anen_base.

[2017-09-20 17:29] wjlei1990 commented on #19
Sure...Let's talk during today's meeting.

[2017-09-20 18:02] Weiming-Hu commented on #37
Thank you. This is done.

[2017-09-20 18:02] #37 closed

[2017-09-20 22:42] vivek-bala commented on #19
Hey Wenjie, I basically reinstalled everything and compiled my own hdf5-parallel. I'm able to go ahead with execution  now. I ran each stage one at a time and things seem to be ok till the last stage. I am actually getting the original error again. Maybe I didn't check the log correctly in my last run, apologies. Just to be sure I installed using the following instructions: https://github.com/radi

[2017-09-21 05:35] wjlei1990 commented on #19
Hi Vivek,

I looked through the output files and the workflow get stuck in the adjoint source generation. I think the situation is much better than last time...It at least get a lot of steps done.

In the adjoint source file, the event information is missing so when we add them up, the program pops out the error.

I am not sure what exactly caused the error. But I will take further look into them

[2017-09-21 20:05] wjlei1990 commented on #19
Hi Vevik,

It is really a very weird issue which I can not duplicate.

I am pretty sure the `adjoint` file you generated missing the event information inside it but I am not totally sure why it happens.

So I copied `proc_obsd`, `proc_synt` and `window` from your directory and try to generate the adjoint file. The output adjoint file is good. I also do the sum adjoint and it works. That is to say,

[2017-09-21 20:36] vivek-bala commented on #19
Hmmm. Can you check if my installation is sufficient? Maybe it is versioning issue of some of the tools?

My installation instructions are here: https://github.com/radical-collaboration/hpc-workflows/blob/master/docs/pypaw_installation.md

Note that I have version 3.4.1 of flake8 and custom compiled hdf5 based on the instructions at https://github.com/wjlei1990/pypaw/blob/master/INSTALL.md.

Meanw

[2017-09-21 21:58] wjlei1990 commented on #19
I can't see any issues with the installation...If the installation is wrong, you won't get to this step, I guess...

Flake8 should not be a issue..It is a package that checks the code format...

[2017-09-22 13:48] vivek-bala commented on #19
I think you might have already looked at this. But just to be sure. I am noticing some messages in the log file for the adjoint step like the following:

[code]

Could that be a reason why some events are missing?

Also could you give me permission to read your output files at /lustre/atlas1/geo111/world-shared/wenjie/DATA_RADICAL/data_processing? (test.* files)

[2017-09-22 13:53] vivek-bala commented on #19
I ran the adjoint and adjoint_sum stages again. I get the same error again. Let me know how I can help debug.

[2017-09-22 18:29] wjlei1990 commented on #19
I opened the permission of the "test.o*" file to you.

Those "Missing tag 'proc_obsd_17_40' from obsd_station_group AC.SRN. Skipped." are OK. I also have those warning messages in my log file. It is because after data processing, some traces are thrown away since the response file might wrong(or some data quality issue). So when calculating adjoint sources, those traces will be missing(but the the

[2017-09-22 18:54] vivek-bala commented on #19
Thanks for checking the versions and files! Do you want to meetup on hangout sometime to give the complete run a try? I'm available after 5pm today, over the weekend (if required) and most of next week (except Monday, I'll be working with PSU). Let me know what time works best for you. I'll prioritize this issue over rest since its critical.

[2017-09-25 17:35] wjlei1990 commented on #19
Let's chat tomorrow. I have sent you emails to schedule the meeting.

[2017-09-26 21:19] vivek-bala commented on #19
This issue is now resolved. We can run the entire analysis workflow. There was an incorrect boolean evaluation which is now resolved master of pypaw.

Thanks to Wenjie and all for the help in resolving this issue!

[2017-09-26 21:19] #19 closed

[2017-09-27 02:37] Weiming-Hu opened #40 "ENTK error messages after stage 1"
I have fixed the `segmentation fault` error in the C program and updated the scripts.

After the stage 1, there are some error messages. However, the process goes on, and it hasn't finished. So I posted everything up unit now. Below is the output messages.

[code]

 I will attach the session files shortly.

[2017-09-27 02:51] Weiming-Hu commented on #40
The session files

[session.zip](https://github.com/radical-collaboration/hpc-workflows/files/1335649/session.zip)

[2017-09-27 11:23] Weiming-Hu commented on #40
It turns out that it is killed by signal. You can see it in the stderr file. And after one night, there are no new output from ENTK. So I terminated it.

Question: according to the ENTK output, for stage 2, I have 3 units submitted, why there are only 3 unit folders?

[2017-09-27 11:44] Weiming-Hu commented on #40
Good news. Looks like when I increase the chunks, which will decrease the size of each subregion, the tasks will finish as expected. And I checked the files, they are created as expected. I have pushed my changed.

But I do get some error messages:
[code]

[2017-09-27 11:47] Weiming-Hu commented on #40
**Question: why does ENTK eat up all my CPUs during the process?**

![screen shot 2017-09-26 at 7 18 32 pm](https://user-images.githubusercontent.com/16421338/30911830-25c99de8-a358-11e7-863a-7094ce59bdef.png)

[2017-09-27 15:37] vivek-bala commented on #40
But I do get some error messages:

Great. That's good news indeed! I think that error is popping up during shutdown. I came across that a few times as well. I've opened a [ticket](https://github.com/vivek-bala/radical.entk/issues/23) for that. If you agree this is only during shutdown, I'll prioritize this for later since it is not fatal.

Not sure I understand this. Does this still apply? Each un

[2017-09-27 15:41] Weiming-Hu commented on #39
Wait until the complete script is done. And we will decide on the parallel scheme based on the actual time required by the execution.

[2017-09-27 15:42] Weiming-Hu commented on #31
This has been resolved.

[2017-09-27 15:42] #31 closed

[2017-09-27 16:01] Weiming-Hu commented on #4
user case doc updated.

[2017-09-27 17:31] vivek-bala commented on #27
#19 is also resolved.

https://github.com/radical-cybertools/radical.pilot/issues/1187 is reopened due to recent changes on Rhea.

[2017-09-27 18:12] mturilli commented on #33
Done

[2017-09-27 18:12] #33 closed

[2017-09-27 18:15] mpbl commented on #11
Forgot to close it before. It seems good.

[2017-09-27 18:15] #11 closed

[2017-09-27 18:15] vivek-bala commented on #34
VB: Currently translating changes in RP (for GPU) to EnTK. I will use the data available in https://github.com/radical-collaboration/hpc-workflows/tree/master/scripts/regional_Greece_small/forward_simulations to run with the GPU as well.

[2017-09-28 14:14] Weiming-Hu commented on #40
Thank you.

The numbers of tasks and unit folders match now.

I will try out the Jetstream you mentioned.

[2017-09-28 14:14] #40 closed

[2017-09-28 14:16] Weiming-Hu commented on #40
Vivek, where could I find the jetstream access to XSEDE? Thank you....

[2017-09-28 14:33] vivek-bala commented on #40
https://portal.xsede.org/jetstream

[2017-09-29 00:57] Weiming-Hu opened #41 "ENTK does not terminate"
All the files needed have been generated. But the process of copying file from supercomputers to local folder does not finish, and ENTK hung.

[code]

[2017-09-29 19:06] Weiming-Hu opened #42 "Start new pipeline failed"
When I tried to add the iteration feature to the script, I got the following errors:

[code]

[2017-10-04 15:16] vivek-bala commented on #41
Opened a new ticket in RP to debug this: https://github.com/radical-cybertools/radical.pilot/issues/1471

[2017-10-04 18:06] mturilli commented on #35
Ongoing

[2017-10-04 18:07] mturilli commented on #34
To be measured via IPDPS experiments

[2017-10-04 18:08] mturilli commented on #42
Depends on #41

[2017-10-04 18:09] mturilli commented on #39
Ongoing. To be measured by IPDPS experiments

[2017-10-04 18:12] Weiming-Hu commented on #4
Add the temporal analysis loop to the user case

[2017-10-04 18:40] mturilli opened #43 "Adding photovoltaic preliminary results to IPDPS paper?"

[2017-10-05 15:05] Weiming-Hu commented on #42
After the discussion with Vivek, we decided on the solution that we only keep one application manager with multiple pipelines. The code has been edited.

[2017-10-05 15:05] Weiming-Hu commented on #42
However, it seems like it is still creating multiple application managers according to the standard output.

[code]

[2017-10-11 18:06] vivek-bala commented on #41
Closing this as we have a stable solution in place for the experiments.

[2017-10-11 18:06] #41 closed

[2017-10-11 18:06] vivek-bala commented on #35
We have a table for this in the paper. Closing

[2017-10-11 18:06] #35 closed

[2017-10-11 18:07] Weiming-Hu commented on #39
At current stage, AnEn is data intensive, and thus it just takes time to read and write data. Close it for now.

[2017-10-11 18:07] #39 closed

[2017-10-11 18:08] Weiming-Hu commented on #42
This has been resolved in the script_master_Weiming.py

[2017-10-11 18:08] #42 closed

[2017-10-11 18:16] vivek-bala commented on #27
Blocked by https://github.com/radical-cybertools/radical.pilot/issues/1473

[2017-10-16 03:30] Weiming-Hu opened #44 "EnTK doesn't proceed for pipeline"
Hi,

This is the place where EnTK has got stuck for my last 3 times of trying...

[code]

After one hour, it still sits at the same place.

My allocation setting is up to date with the scripts in the repo if you'd like to check it.

Thank you.

[2017-10-16 12:30] vivek-bala commented on #44
Hey Weiming.. Can you rerun it with the verbosity level on please? Also set ```export RADICAL_PILOT_VERBOSE=INFO```. Let's pick this up when we talk today.

[2017-10-16 12:38] Weiming-Hu commented on #44
So I'll set the verbose info and try again.

[2017-10-16 16:56] Weiming-Hu commented on #44
This has been resolved with the help from Vivek.

Notes:

To restart the rabbitmq
[code]

[2017-10-18 18:04] #43 closed

[2017-10-26 20:11] Weiming-Hu commented on #44
Hi Vivek, it looks like the same problem occurs again. I tried to stop/remove the rabbitMQ and created a new one, but it didn't work.

[code]

[2017-10-26 20:30] vivek-bala commented on #44
It seems like your walltime is short or 0?
[code]
Can you share the script that you are executing?

[2017-10-26 20:35] Weiming-Hu commented on #44
https://github.com/radical-collaboration/hpc-workflows/blob/master/scripts/application_AnEn/anen_base/script_master.py

[2017-10-26 20:38] vivek-bala commented on #44
The script looks ok. Can you reproduce this mutltiple times? Can you send me the pilot folder on superMIC with all its files and folders (radical.pilot.sandbox/rp.session.js-156-59.jetstream-cloud.org.weiming.017465.0005/)?

[2017-10-26 20:40] Weiming-Hu commented on #44
Yes. I tried this multiple times and it all hangs...

[2017-10-26 20:42] Weiming-Hu commented on #44
[rp.session.js-156-59.jetstream-cloud.org.weiming.017465.0005.zip](https://github.com/radical-collaboration/hpc-workflows/files/1419992/rp.session.js-156-59.jetstream-cloud.org.weiming.017465.0005.zip)

[2017-10-26 20:53] vivek-bala commented on #44
Of course. I think superMIC changed their default python distribution. Let me try a couple of fixes and get back to you on this.

[2017-10-26 21:06] Weiming-Hu commented on #44
Sounds good. Thank you.

[2017-10-26 21:47] vivek-bala commented on #44
Resolved by https://github.com/radical-cybertools/radical.pilot/pull/1482

[2017-10-26 22:38] Weiming-Hu commented on #44
Do I need to update anything? Or just rerun the script?

[2017-10-26 22:42] vivek-bala commented on #44
I have created a pull request for now. You can probably checkout (fix/python-on-supermic) branch in RP and reinstall it (pip install . --upgrade). Then you should be able to run your scripts.

[2017-10-26 22:54] Weiming-Hu commented on #44
Nice! It's proceeding. Thank you.

[2017-10-26 23:01] vivek-bala commented on #44
Great! Feel free to use more than 40 cores as well!

[2017-10-26 23:14] Weiming-Hu commented on #44
Unfortunately, it hangs after the pre processing. The output files are correctly generated. but EnTK doesn't go on to the iterative computation..... I'm going to attach the rp files..

[2017-10-26 23:14] Weiming-Hu commented on #44
[rp.session.js-156-59.jetstream-cloud.org.weiming.017465.0008.zip](https://github.com/radical-collaboration/hpc-workflows/files/1420295/rp.session.js-156-59.jetstream-cloud.org.weiming.017465.0008.zip)

[2017-10-26 23:15] Weiming-Hu commented on #44
[code]

[2017-10-31 02:39] Weiming-Hu commented on #44
This is the local rp session folder.
[rp.session.zip](https://github.com/radical-collaboration/hpc-workflows/files/1429427/rp.session.zip)

[2017-10-31 18:46] vivek-bala commented on #44
@andre-merzky I might need your help here. The tasks reach the AGENT_STAGING_OUTPUT state but not any further. Weiming uploaded both the client and the agent logs. There staging only in the CUs. Do you see anything going wrong here?

Thanks

[2017-11-01 18:46] mturilli commented on #34
Mitigated and possibly addressed by the capabilities offered by EnTK. We will revised it if needed once in production.

[2017-11-01 18:46] #34 closed

[2017-11-01 18:51] mturilli commented on #28
To determine whether Vivek can enable this or Andre is required

[2017-11-01 18:59] mturilli commented on #21
Unfrozen.

Requirement elicitation:
* What kind of visualization/feature extraction do you need?
* At runtime or at the end of one simulation e/o analysis run?
* Other?

[2017-11-01 19:03] mturilli commented on #20
Unfrozen.

Possibly related to #21

[2017-11-06 20:10] Weiming-Hu commented on #44
Hey Vivek. Just would like to check if you have any updates for me in case I missed them. Thank you.

[2017-11-22 19:10] mturilli commented on #38
Ongoing, @Weiming-Hu and @vivek-bala to sync and decide what messages should be implemented.

[2017-11-22 19:17] mpbl commented on #21
Matthieu to open an mail thread to meet with Ebru

[2017-11-22 19:29] mturilli opened #45 "Coordinate with workflows and data-intensive computing group at OLCF for PU activity"
Identify requests to make to ORNL to support use case

[2017-11-22 19:33] mturilli opened #46 "Attempt production run of PU use case"

[2017-11-22 21:56] andre-merzky commented on #44
I am sorry, I missed the ping :(

This looks like a version problem.  The umgr log shows this exception:

[code]

From this point on, the unit manager will not get any state updates for completed units anymore.  Please make sure that RP and RU are in sync, but please let me know if the problem persists.  In that case, please include the output of the `radical-stack` command.  Thanks!

[2017-11-22 21:58] Weiming-Hu commented on #44
Thank you for your input. Since this issue has been here for a while, I'm kind of lost here. The issue is still there. So what should I do? Should I entirely reinstall ENTK?

[2017-11-22 22:03] andre-merzky commented on #44
Yes, you probably should recreate the whole virtualenv.

@vivek-bala, can you advice please what stack would be usable for this workload?

[2017-11-24 20:59] shantenujha commented on #45
468E9BB0-585E-4CC6-A749-E9C14C4DA6CE

[2017-11-27 22:01] Weiming-Hu commented on #44
Per your instructions, I recreated the virtualenv, and reinstalled the RADICAL toolset from scratch. I also renewed my certificate to SuperMIC.

But I got an error.

[code]

[2017-11-28 21:05] mpbl opened #47 "Testing on localhost"
Hi,

As I was adapting Vivek's script in simpy, I encountered the following problem:
I wrote a simple example to be run on my local machine to make it easier to debug.

According to the entk documentation the resource has to be named ```local.localhost```.
I came up with the following:
[code]

The issue is that:
[code]

but that the entk checks for ```project``` to be present in the resource descr

[2017-11-28 21:11] mpbl commented on #46
blocked (kind of) by #47

[2017-11-29 20:05] Weiming-Hu commented on #44
This has been resolved thanks to Vivek. Two issues were resolved:

- `module load python` needs to be edited in the virtual environment
- clean the ve.* folders on SuperMIC

[2017-11-29 20:05] #44 closed

[2017-11-29 20:19] mpbl commented on #47
Thanks @vivek-bala for solving the problem.
The solution was to set ```project``` to ```""```

[2017-11-29 20:19] #47 closed

[2017-12-06 19:07] mturilli commented on #28
Vivek to report at next meeting.

[2017-12-06 19:10] #22 closed

[2017-12-06 19:12] #20 closed

[2017-12-06 19:12] mturilli commented on #14
Ongoing

[2017-12-06 19:12] #4 closed

[2017-12-14 22:00] mpbl commented on #46
Hi, Vivek,

when trying to run on Titan, I have got the following error:

[code]

the full log is [there](https://gist.github.com/mpbl/819170b70ad8186297dc410ef1ff25c3)

Chances are that I am not defining the entk/pilot resource properly. Would you mind taking a look at the [config file](https://bitbucket.org/mpbl/simpy/src/b44523d92aa8b9e489f6206b7580b1103ca42e43/entk_config_files/entk_config_orn

[2017-12-18 18:15] vivek-bala commented on #46
Hey Matthieu, can you try again after setting the following: ```export SAGA_PTY_SSH_TIMEOUT=300```.

Also, I noticed that the path to EnTK and RP files are different:
```/autofs/nccs-svm1_home1/mpbl/radical.entk/src/radical/entk/appman/appmanager.py```
```/ccs/home/mpbl/miniconda2/lib/python2.7/site-packages/radical/pilot/compute_pilot.py```

Is that expected? Generally both EnTK and RP are instal

[2017-12-18 19:37] mpbl commented on #46
I believe the paths are different because rp was installed with ```pip install .``` and entk with ```pip install -e .```

Let me check how it goes with your suggested environment variable.

[2017-12-18 20:57] mpbl commented on #46
Hi, Vivek,

Thanks, it helped.
I have then got another problem, I believe all processes are running on the same node due to the following command getting issued:
[code]
I know you solved this issue a while ago in RP. I am using the RP's latest master branch. Is it the one I should use?

[2017-12-20 19:22] vivek-bala commented on #28
VB  to test SAGA and RP with a config file similar to those of existing machines.

[2017-12-20 19:34] mturilli opened #48 "Porting EnTK to Summit"

[2018-01-03 19:13] mturilli commented on #45
Ping end of January

[2018-01-10 20:25] Weiming-Hu opened #49 "EnTK Pilot has failed"
When I tried to run the 'script_master.py' script again, I had an error.

[code]

[2018-01-12 14:45] mpbl commented on #48
Started the process to adding Rutger's team to summit-dev.

[2018-01-22 20:11] mpbl commented on #46
Update: it works fine, for a smaller test case on Titan.

@vivek-bala
There is one thing I find confusing:
[code]

I originally set cpus to be equal to gpus, a on Titan one node has a single cpu and a single gpu.
However, this ```cpus``` variable seems to be passed to rp's ```cores``` variable (this is confirmed by looking at what is reversed by the scheduler).

[2018-01-31 19:01] vivek-bala commented on #14
Iterated on the SRS for PSU. @Weiming-Hu @cervone can take a look at it now.

[2018-01-31 19:07] mturilli commented on #48
Manuel, Vivek, Matteo, Shantenu to gain access

[2018-01-31 19:09] mturilli commented on #46
Ongoing, ready to test at higher scale

[2018-01-31 19:10] mturilli commented on #45
Shantenu to ping them

[2018-01-31 19:13] mturilli commented on #38
* Improve reporter logger with shorter and better messages.
* Improve documentation with information on how to manage those errors.

[2018-01-31 19:22] vivek-bala commented on #28
Compile list of questions regarding access, system policy and submission policy. Convert questions into tickets if needed to be forwarded to sys admins.

[2018-01-31 19:28] mturilli opened #50 "Tutorial about EnTK/RCT at SEA conference: Apr 5, 2018"
* SEA, Boulder Colorado, April 4.
* 1/2 or 1 day tutorial? Make this decision by Feb 7. Depends on #28
* Target audience?

[2018-01-31 19:30] Weiming-Hu commented on #50
https://sea.ucar.edu/conference/2018

[2018-01-31 19:36] mturilli opened #51 "Year 2 use case with Michael"
To be started before visiting PSU

[2018-01-31 19:37] mturilli commented on #51
Determine whether Michael has a student in Y2

[2018-01-31 19:39] mturilli opened #52 "Agenda for RU visit at PSU: May 8, 2018"
March 2018, week 2-4?

[2018-01-31 19:55] mturilli opened #53 "Upload document PU use case Y2 to google drive"

[2018-02-08 20:48] shantenujha commented on #50
@vivek-bala @mturilli  -- What is the result of the initial assessment? As per ticket, we needed to converge on SEA (or not) by yesterday.

[2018-02-08 20:49] shantenujha commented on #52
Tentatively scheduled for March 16 (day long). Rutgers team arrive the evening before.

[2018-02-08 20:49] shantenujha commented on #48
Manuel, Vivek, Matteo have confirmed access.

[2018-02-08 20:51] shantenujha commented on #45
Pinged ORNL team on 2/04.

[2018-02-09 00:29] vivek-bala commented on #28
Blocked by https://github.com/radical-cybertools/radical.pilot/issues/1551

[2018-02-09 03:10] vivek-bala commented on #50
Confirmed: No system limitation on number of concurrent mpirun or mpiexec_mpt jobs

[2018-02-09 21:40] mturilli commented on #50
@vivek-bala I would suggest the following roadmap for supporting Cheyenne:
1. Enable job submission via Saga (it may be ready or require some modification to the current connector)
2. Bootstrap one pilot on a single node (no MPI required)
3. Bootstrap one pilot on multiple nodes once RP#1552 is addressed.

Does this look reasonable?

[2018-02-10 00:17] vivek-bala commented on #50
Yes, I agree with the order. 1 and 3 can definitely be done concurrently.

For 2, I will need to first test if I can submit a job with no launch method. If not, 2 depends on 3.

[2018-02-12 20:38] vivek-bala commented on #50
1. Pending: https://github.com/radical-cybertools/saga-python/issues/657
2. A job can be started with no launch method. Submitted a pbs script with a simple /bin/date executable and no launch cmd (mpirun, mpiexec)

[2018-02-14 01:53] Weiming-Hu commented on #31
Hi team,

Unfortunately, my current class schedule conflicts with our meeting period. I have a class weekly starts at 2:30pm on Wednesday.

Is it feasible for us to start 30 minutes earlier so that the meeting is scheduled between 1:30pm to 2:30pm?

Let me know if it works for everyone. If not, I can think of other solutions. Sorry for the trouble.

Thank you
Weiming

[2018-02-14 15:44] vivek-bala commented on #49
Not sure if we discussed this in the last call. But could you try again with a new virtual environment?

[2018-02-14 15:45] Weiming-Hu commented on #49
OK. It has been a while for me too. Let me follow up on this. Thank you...

[2018-02-14 15:46] vivek-bala commented on #50
The SAGA issue has been fixed. Currently blocked by https://github.com/radical-cybertools/radical.pilot/issues/1551

[2018-02-14 15:49] vivek-bala commented on #38
Created a ticket https://github.com/radical-cybertools/radical.entk/issues/206. This issue will be addressed in the next EnTK release (week of Feb 19) and can be skipped till then.

[2018-02-14 18:16] vivek-bala commented on #14
SRS at https://docs.google.com/document/d/1VnitoSASx40SsTCIvx9Xav7MLR1gFqFrN3rogxRLaqQ/edit#

[2018-02-14 18:16] Weiming-Hu commented on #14
Thank you!

Weiming

[2018-02-14 20:14] wjlei1990 opened #54 "Large Scale Test on SPECFEM3D Globe"
We recently did a large scale simulation test using `entk`, `simpy` and `SPECFEM3D GLOBE`.

The sandbox is at: `/lustre/atlas/scratch/lei/csc143/radical.pilot.sandbox/rp.session.titan-ext4.lei.017574.0000`.

The job contains 40 independent simulations, each using 384 GPUs(nodes). In total, it uses about 15,400 nodes on Titan@ORNL.

Based on our test, we found the timeline:

| Time           |  Tas

[2018-02-14 21:30] #46 closed

[2018-02-14 21:33] #21 closed

[2018-02-14 21:40] andre-merzky commented on #54
Hey - I have a couple of questions on the run:

  * I am afraid I can't access that pilot sandbox - could you either open it up (and all parent dirs) or attach a tarball to this ticket?
  * In case you did not do so already, can you rerun with `export RADICAL_PILOT_PROFILE=TRUE` in your environment?  This will enable more fine grained bookkeeping about the RCT stack's performance.
  * would you be

[2018-02-14 21:46] vivek-bala commented on #54
Hey Andre, I am going to meeting with Wenjie/Matthieu to take a look at the profiles. Linking might work but the delay seems to come from the src and tgt being in different file systems. We might try out both linking as well as moving the sandbox to where the raw data is.

[2018-02-14 21:50] andre-merzky commented on #54
I am not sure why a different file system would mean a slower file system - is that really the case?  Linking across different FS should be (almost) as fast as linking on the same FS.

[2018-02-14 21:52] vivek-bala commented on #54
I am not sure if linking is slow. I meant we will try that out as well :) But it seems like copy is considerable slow across different FS.

[2018-02-14 21:58] andre-merzky commented on #54
We may be saying the same then - linking should avoid the copy...

[2018-02-14 22:09] mpbl commented on #54
Hi, Andre:
About the copy: at the end of the meshing, we try to ```mv``` the data to some other directory. The idea is to allow simulations to run from a pre-computed mesh. We could link the data there instead of trying to move them.

The intuition was that the move was slow because the data are moved from atlas1 to atlas2 (or conversely) and that staying on a single FS might help avoiding this sp

[2018-02-14 22:40] vivek-bala commented on #54
@andre-merzky I don't think there is a method to link the output in EnTK. I think that might help here. IIRC there was some issue when I created a directive for it in RP, but let me try it out again.

[2018-02-14 22:42] mpbl commented on #54
Just fyi, the ```mv``` is something we specify in the post_exec script. If it's slow it is on us.

[2018-02-14 22:44] vivek-bala commented on #54
Maybe, I am not sure. I had a chat with Wenjie and mentioned some environment variables that will give us more detailed profiles. We can analyze those to nail down on the reason.

Also, thanks Matthieu. It might be a good idea to include properties in EnTK to move input and output data as well!

[2018-02-14 23:41] andre-merzky commented on #54
@mpbl : about that self-containment: that is not something RP really enforces.  We recently introduced some shared staging space to specifically support use cases where data are to be shared between different pilot spaces.  I am not sure if entk can use that already thoug;h...

[2018-02-16 18:50] shantenujha commented on #50
@vivek-bala @mturilli Is it fair to assume that we will not be making plans for a hands-on tutorial at SEA? I think we need to get back to Guido ASAP so he can confirm whether to ask for a full-day or half-day tutorial, which in turn depends upon us.

[2018-02-20 20:44] wjlei1990 commented on #54
@vivek-bala : I just did a performance test on Titan using 4 concurrent SPECFEM forward runs.  We may check sometime together. There is a few issues I encountered in the runs:

1) the pilot didn't get terminated after the simulation finished. There is some message keep repeating on the terminal:
[code]
2) `simpy` didn't move the `synthetic.h5` to solver stage out directory.

[2018-02-21 16:25] mturilli commented on #50
This depends on the estimated ETA for supporting Cheyenne. If the decision needs to be made now, then I would opt for not committing to it as we would risk not to be able to deliver **if** some major issue surfaces with supporting Cheyenne.

[2018-02-23 00:34] vivek-bala commented on #54
Hey Wenjie, 1 is resolved in the master. If you are using the gpu branch, I can merge the fix to that branch as well. I would need to see the logs to debug 2.

Most times tomorrow work for me (except 2.30-3pm). Let me know when we can take a look.

[2018-02-26 20:34] wjlei1990 commented on #54
Hi Vivek, could you do the merge so I can resubmit my test and see if it works. Let me know when you are done with the merge.

I am available most time of this week. (but not today since I left my laptop at home)

[2018-02-26 21:23] vivek-bala commented on #54
Sure, let me get to that this evening. I will have it merged and ready so that you can use it tomorrow.

[2018-02-27 17:15] vivek-bala commented on #54
Hey Wenjie, the gpu branch should be ready to test again. Just to be sure, please use the following stack:
[code]

Let me know when you are available. Anytime other than 2-4pm E works for me. We can chat on slack to converge on a time.

[2018-02-28 20:53] Weiming-Hu commented on #49
I'm going to close it for now. Once the modified algorithm is ready from my side, I'll check if it still exists.

[2018-02-28 20:53] #49 closed

[2018-02-28 21:08] mturilli commented on #51
PSU had a meeting with Michael, collected requirement and is ready to start to populate the SRS document.

[2018-02-28 21:23] mturilli commented on #38
Reporter to be included in the next point release (0.6.2).

[2018-02-28 21:36] mturilli commented on #45
No answer from the group. Parked until they resurface.

[2018-02-28 21:37] #45 closed

[2018-02-28 21:59] vivek-bala commented on #48
Documentation about jsrun on Summit: https://www.olcf.ornl.gov/for-users/system-user-guides/summit/running-jobs/#job-launcher-jsrun

[2018-03-13 01:31] wjlei1990 commented on #54
Hi Vivek,

I got errors when running jobs:
[code]

Any ideas?

[2018-03-14 17:25] vivek-bala commented on #54
Hey Wenjie, that error should be during termination. It is not a critical error and can be ignored.

[2018-03-14 17:30] Weiming-Hu commented on #51
We have created a doc to keep tracks of tasks and ideas.

https://docs.google.com/document/d/1uYtPy_VqoZ24JeU8qgTIUVzCmoCN35gSXFCQpqKXYP0/edit?usp=sharing

[2018-03-14 17:31] Weiming-Hu commented on #52
The date of Rutgers' visit is set on Tue, May 8th.

[2018-03-14 17:47] wjlei1990 commented on #54
Maybe I am pointing to the wrong position of the log file.

Actually none of the jobs runs, not even the "unit.000*" is created. Give me some time to check from my side.

[2018-03-14 17:51] vivek-bala opened #55 "Change tests to accept different RMQ hostname and ports"
This is required for the RMQ running in docker on radical-one.

[2018-03-14 17:51] vivek-bala commented on #55
Oops, wrong repo.

[2018-03-14 17:51] #55 closed

[2018-03-14 19:51] wjlei1990 commented on #54
My bad...The code actually runs but due to some module changes, I need to resubmit the jobs

[2018-03-14 20:09] mturilli commented on #52
To agree upon an agenda for the visit.

[2018-03-14 20:15] mturilli commented on #28
Blocked by https://github.com/radical-cybertools/radical.pilot/issues/1552

[2018-03-14 21:42] wjlei1990 commented on #54
Hi Vivek, I got the new job finished. Maybe we can take a look at them together tomorrow.

Let me know what time works for you.

[2018-03-15 13:23] Weiming-Hu commented on #52
Tentative agenda
https://docs.google.com/document/d/1se0szbXzH0xKJTBTa4QAY1Y61dqo37Aqj5mnHHq4Yqo/edit?usp=sharing

[2018-03-21 20:58] Weiming-Hu commented on #50
We had a meeting discussing about the plan for SEA workshop. Since Cheyenne wouldn't be ready, we decided to limit the problem scale so that a regular laptop can handle the computation.

[2018-03-21 20:58] #50 closed

[2018-03-21 21:36] Weiming-Hu commented on #51
Instead of reusing and incrementing stage 1 use case, @vivek-bala and I have agreed on starting a new doc for stage 2 use case, because I can foresee a major change in the workflow. However, we can still increment the SRS document because requirements will mostly remain similar.

FYI, here is the [comprehensive AnEn Use Case](https://docs.google.com/document/d/1kxX0sucCNJtbjAONr-yP4JtLz7KhOmj9wqAT

[2018-03-27 17:09] wjlei1990 opened #56 "ENTK Performance for Seismic inversion (Profiling)"
Is it possible to provide the users with tools that will visualize the profile files? such as blocks and time lines shows when did job start and end, how much resource did each job end? So it will be easier for users to check the status of jobs.

[2018-03-28 20:30] vivek-bala opened #57 "Preparation for Earthcube AHM"
Once we get notification from Earthcube, we need to start creating the presentation for the talk.

[2018-03-28 20:35] mturilli commented on #56
Agree upon a dedicated meeting to introduce analytics and see whether we should define a dedicated workflow

[2018-03-28 20:36] vivek-bala commented on #56
@wjlei1990 Incase you are interested: https://github.com/radical-cybertools/radical.analytics

[2018-03-28 20:36] mturilli commented on #27
Reha has been rebooted. Rutgers to check whether the issue has been addressed.

[2018-03-28 20:38] mturilli commented on #54
Use the profiles for the meeting about analytics #56

[2018-04-13 19:07] Weiming-Hu commented on #51
Update use [case workflow](https://docs.google.com/document/d/1uYtPy_VqoZ24JeU8qgTIUVzCmoCN35gSXFCQpqKXYP0/edit?usp=sharing).

Create [issues to do in CAnalogsV2](https://github.com/Weiming-Hu/CAnalogsV2/issues/36)

[2018-04-25 20:13] vivek-bala commented on #53
Link to the document: https://docs.google.com/document/d/1SnJ2soxARSgHd8w3HYbHrj6-gBcIeJgzUvVWSYVvZwI/edit#

[2018-05-09 19:50] wjlei1990 commented on #56
I have run a few example scripts from `radical.analytics`. The output log is [here](https://gist.github.com/wjlei1990/83fa5072da505b2815ef37baf39d44de).

[2018-05-09 20:11] vivek-bala commented on #48
Better to focus directly on Summit. Changing title of ticket.

[2018-05-09 20:12] vivek-bala commented on #48
https://github.com/radical-cybertools/radical.pilot/issues/1616

[2018-05-09 20:17] vivek-bala commented on #48
https://github.com/radical-cybertools/radical.pilot/issues/1574

[2018-05-09 22:06] vivek-bala commented on #51
Iterated on use case diagram - Added raw notes from meeting. Added workflow derived in meeting. Todo: Describe notation and define task as functions

[2018-06-05 14:41] mpbl commented on #53
Use case does not change for Y1.
Added a few things to indicate where requirements differ slightly in case we would like to run on a newer system.

[2018-06-05 15:19] Weiming-Hu commented on #52
Closing this ticket after the meeting.

[2018-06-05 15:19] #52 closed

[2018-06-05 15:38] wjlei1990 commented on #56
According to our last discussion, I have run SPECFEM3D GLOBE forward simulation without ENTK to test the run time. The time is listed below:

| Type  | Time |
| ------------- | ------------- |
| ENTK with 4 forward runs  | 754 - 768 sec  |
| Single Run | 284 sec  |
| Single Run with soft link to mesh files |  327 sec |

The run time for ENTK is taken from [here](https://gist.github.com/wjlei1990/8

[2018-06-06 20:05] vivek-bala commented on #57
Thanks for the input everyone! Closing.

[2018-06-06 20:05] #57 closed

[2018-06-06 20:09] mpbl commented on #56
Wenjie to run the EntK with multiple pilot sizes / run numbers.
The idea is to factor out what is due to startup overhead to what might be a scalability problem.

[2018-06-06 20:15] mturilli commented on #53
Change the tile (iteration) and then close the ticket

[2018-06-06 20:24] vivek-bala opened #58 "Add integration tests specific to PSU and PU use cases as part of the tests pre-release"
Automate the integration tests as part of the pre-release testing

[2018-06-12 21:43] wjlei1990 commented on #56
Another test run is finished. In this job, only 1 forward simuation runs at one time and there are 4 serial runs, so in total of 1 * 4 = 4 forward runs.

By runing `06_events.py`, it is shown:
[code]
The first unit with rank 0 is the mesher. The raw profile files is attached.
[rp.session.titan-ext1.lei.017694.0006.zip](https://github.com/radical-collaboration/hpc-workflows/files/2095913/rp.session

[2018-06-12 21:46] mpbl commented on #56
@wjlei1990 Quick question: how did you time:
* PBS job with 1 forward run
* PBS job with 1 forward run and soft link to mesh files

[2018-06-12 21:55] wjlei1990 commented on #56
@mpbl

I am using command in the job submission script to measure the time:
[code]

[2018-06-13 19:19] wjlei1990 commented on #56
Another test run is finished. 2 forward simulations are running at the same time and 2 serial runs. So in total 2 * 2 = 4 forward simulations.

By runing `06_events.py`, it is shown:
[code]
Which is comparable to the `1*4` runs.

The raw profile files(2*2) is attached.
[rp.session.titan-ext1.lei.017694.0008.2*2.zip](https://github.com/radical-collaboration/hpc-workflows/files/2099559/rp.session.ti

[2018-06-13 19:29] wjlei1990 commented on #56
I rerun the `4*1` test. The new test shows different result.
[code]
The raw profile files(4*1) are attached.
[rp.session.titan-ext4.lei.017695.0001.4*1.zip](https://github.com/radical-collaboration/hpc-workflows/files/2099589/rp.session.titan-ext4.lei.017695.0001.4.1.zip)

[2018-06-14 03:03] wjlei1990 commented on #56
The `4*4` test run just went through.
``------------------------------------------------------------------------------
pure exec times (exec_start ... exec_stop)
------------------------------------------------------------------------------

unit.000009:  366.98
unit.000008:  462.65
unit.000003:  400.08
unit.000002:  388.48
unit.000001:  368.57
unit.000000:  502.99
unit.000014: 1332.23
unit.000015

[2018-06-14 14:07] mpbl commented on #56
@wjlei1990
Would you mind checking the mean time per time step to see if this discrepancy for unit 14 is due to a bad node?

[2018-06-20 19:52] wjlei1990 commented on #56
Another `4*4` run:
[code]

[2018-06-20 20:14] mpbl commented on #56
We should add a test with a twice shorter physical duration to understand if the overhead is 10% of the run or a fixed 30s.

[2018-06-20 20:16] #53 closed

[2018-07-02 18:43] wjlei1990 commented on #56
`4*4` test with `60 min` seismograms:
[code]

[2018-07-18 20:03] mturilli commented on #58
Partially done, open and ongoing

[2018-07-18 20:15] mpbl commented on #56
Overhead seems constant, as expected by the Radical team.
We should launch a full-sized production job as a final validation.

[2018-07-18 20:18] mturilli commented on #54
duplicate

[2018-07-18 20:18] #54 closed

[2018-07-18 20:33] mturilli commented on #28
Ready for testing by PSU

[2018-07-18 20:37] mturilli commented on #14
Year 1 is done

[2018-07-18 20:37] #14 closed

[2018-07-18 20:41] mturilli opened #59 "NSF Report"
Deadline Aug 15

[2018-07-18 20:45] mturilli commented on #59
Please let Shantenu know whether there is any question about what section everyone should work on.

[2018-08-01 16:31] wjlei1990 commented on #56
Full production run test results:

| Type  | Number of nodes | Time |
| ------------- | ------------- | ------------- |
| ENTK with 4*4 forward runs  | 4*384 |  463 - 512 sec  |
| PBS job with 1 forward run | 384 | 436 sec  |
| PBS job with 1 forward run and soft link to mesh files | 384 |   441 - 510 sec |

Detailed log for each unit in ENTK:
[code]
Runtimes for `PBS job with 1 forward run and so

[2018-08-01 20:15] wjlei1990 commented on #56
The profile test has finished.

In conclusion, through all of our tests, we observed 20-40sec(30sec on average) for each unit runs, in-regardless of the simulation size and duration. In other words, the overhead using ENTK is constant.

We are happy about the result now and the issue will be close.

[2018-08-01 20:15] #56 closed

[2018-08-01 20:18] vivek-bala commented on #38
WH to investigate the new released version (0.7.*) and comment.

[2018-08-01 20:19] vivek-bala commented on #28
To do: Drop Cheyenne admins email to increase proc/thread limit for WH.

[2018-08-01 20:28] vivek-bala commented on #59
Draft deadline: Aug 15
Draft to be revisited on Aug 29, if there are open questions/comments
Report deadline: Sep 01

[2018-08-15 17:28] Weiming-Hu commented on #38
This issue will be tested using the latest version of AnEn once the development is complete.

[2018-08-15 17:28] #38 closed

[2018-08-15 17:33] Weiming-Hu commented on #28
Submitted request to increase the limit of threads/processes.

[2018-08-15 20:05] mturilli commented on #58
Done for PU, PSU ongoing. Tests will be triggered manually for auth issues.

[2018-08-15 20:07] mturilli commented on #51
PSU iterated on the document. Ongoing.

[2018-08-15 20:11] mturilli commented on #27
Provided scripts to PU for testing. Ongoing.

[2018-08-15 20:22] mturilli opened #60 "Organize F2F meeting with PSU"
Oct-Nov timeframe, 2 days.

[2018-08-29 20:06] mturilli commented on #60
* Proposing for PSU to visit Rutgers.

[2018-08-29 20:08] mturilli commented on #58
PSU ongoing.

[2018-08-29 20:16] mturilli opened #61 "Use case description for PU simulations on Summit"

[2018-08-29 20:17] mturilli commented on #28
Depends on #58

[2018-08-29 20:24] mturilli opened #62 "Plan F2F meeting Rutgers in PU"

[2018-08-29 20:28] mturilli opened #63 "Performance characterization of PSU new implementation"

[2018-09-05 14:59] Weiming-Hu commented on #63
A summary of reasons for program refactoring:

- Scientific reason: Separating similarity computation and the analog selection makes the program more flexible in providing detailed information, for example, the similarity metric, the mapping mechanism from forecast time to observation time. This change might lead to a larger memory requirement.
- Performance reseason: Redesigning several costly lo

[2018-09-05 15:00] Weiming-Hu commented on #63
Ongoing work: implementing python scripts and C++ executables on Cheyenne to lay the ground for coming experiments.

[2018-09-12 19:31] Weiming-Hu commented on #51
The first draft is done. File size estimation depending on the data input.

[2018-09-12 20:04] mturilli commented on #62
The new postdoc will join in October. Rutgers will visit after then.

[2018-09-12 20:06] #59 closed

[2018-09-12 20:08] mturilli commented on #61
Create template document for this use case and share link here.

[2018-09-12 20:33] mturilli commented on #61
This is a copy of the Y1 document. We can use it as a base to describe the changes required by Summit:  https://docs.google.com/document/d/1uugJsRRSTHDhMFb3NWaRRPwyoMiNPKn6sr2iO3IqMaQ/edit#

[2018-09-24 18:58] Weiming-Hu commented on #58
@vivek-bala I'm trying to set up passwordless access to Cheyenne. However, Cheyenne requires a token. I've tried the public rsa key but it looks like this does not work. Is there an alternative? Thank you.

[2018-09-24 18:59] cervone commented on #58
I think the token is what you get from the ybkey.    There is a solution where you open a SSH tunnel, but you still need to enter the token at the beginning of the session

On Sep 24, 2018, at 2:58 PM, Weiming <notifications@github.com<mailto:notifications@github.com>> wrote:

@vivek-bala<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fvivek-bala&data=02%7C01%7Cguc18%

[2018-09-24 19:01] Weiming-Hu commented on #58
@cervone I can log onto Cheyenne without a problem. But to use EnTK I need to set up passwordless access. That's what stoped me.

[2018-09-24 19:52] vivek-bala commented on #58
On Cheyenne, you can use the login node as the client (in place of your laptop). The changes in process limits were to accommodate this execution mode. Let me know how it goes.

[2018-09-25 14:17] Weiming-Hu commented on #58
@vivek-bala Thank you. Working on this today. So I guess I need  to install radical.entk on Cheyenne log in node. Do I need rabbitMQ and MongoDB?

[2018-09-26 15:42] wjlei1990 opened #64 "Reference Papers for Ensemble-Toolkit"
Hi,

I am wondering if there are some places that document any reference papers that I can use in my paper.

I remember that the Rutgers group may attend some conference some time ago. So you may have conference abstract or paper that I can reference? Also, I am wondering if there are some other papers by Rutgers group that I can refer to in the paper, for ENTK.

Do we have that in the yearly repo

[2018-09-26 17:27] Weiming-Hu opened #65 "Error on Cheyenne"
Hi there,

I've followed the document installation and tried to set up the enviroment on NCAR Cheyenne. I've set up the system environment `RADICAL_PILOT_DBURL`, `RMQ_HOSTNAME`, and `RMQ_PORT`.

When I'm trying to run the simple example `eop.py` I had the following error messages.

[code]

This is my environment settings.

[code]

Thank you.

[2018-09-26 17:39] vivek-bala commented on #65
Hey @andre-merzky , this seems like a mismatch between the different versions. Can you advise on which utils version to use? I don't remember the one that I had used previously.

or maybe RP/SAGA branches need to be updated as well. Probably that is on a longer time scale.

[2018-09-26 20:10] vivek-bala commented on #65
Short term could be to get the specific branch or version of radical utils. Long term we will have to merge the cheyenne branches into master/release.

[2018-09-26 20:16] vivek-bala commented on #64
For EnTK, please use the following:

[code]

[2018-09-26 20:17] vivek-bala commented on #58
Dependent on #65

[2018-09-26 20:44] wjlei1990 commented on #61
There are a few things we planned to do on Summit.

1) Increase the number of earthquakes. Currently, we have 1,840 earthquakes that are ready to be used . We are thinking about expanding the data to 4,000 or 6,000 in the future. The computational cost goes linearly with the number of earthquakes, if using the same simulation resolution.

2) Bring in more model parameters. Our parametrization is b

[2018-10-08 15:41] Weiming-Hu opened #66 "Setting up gsissh on ubuntu"
Hi there,

I've tried to fix this by myself but I couldn't find very much useful information online. I was using our notes from the previous year from [myself](https://gist.github.com/Weiming-Hu/21fa5d10652d184a26552aba6406afe1) and [Vivek](https://github.com/vivek-bala/docs/blob/master/misc/gsissh_setup_stampede_ubuntu_xenial.sh). However, they are not working now. I used to set it up on Mac OS,

[2018-10-08 15:44] vivek-bala commented on #66
Hey Weiming, what version of ubuntu are you using? Can you paste the error you are getting?

[2018-10-08 15:47] Weiming-Hu commented on #66
I'm using 18.04 Bionic Ubuntu. I'm still trying to set up `gsissh`, therefore I don't have any error messages from `EnTK`. I'm just having trouble installing `gsissh`.

[2018-10-08 15:55] Weiming-Hu commented on #66
I can still run the [script](https://github.com/radical-collaboration/hpc-workflows/blob/master/scripts/application_AnEn/year_2/test.py). I get the following errors. This is expected because I didn't successfully set up `gsissh` and I don't know how.

[code]

Thank you very much.

[2018-10-08 16:04] vivek-bala commented on #66
Okay. The instructions to set up gsissh that I shared with you last year were for xenial (ubuntu 16) and trusty (ubuntu 14). To convert the instructions for bionic, you would have to convert the string 'xenial' to 'bionic' in all the commands in the instructions.

I tried to do this for ubuntu 18 a couple of weeks back and found out that some of the packages required for gsissh were not available

[2018-10-08 16:05] vivek-bala commented on #66
FWIW, the instructions are still valid for ubuntu 16. I reverted to ubuntu 16 from ubuntu 18 (gsissh was one of several reasons) and was able to use the same set of instructions as in that document.

[2018-10-08 16:06] Weiming-Hu commented on #66
Thanks. I'm trying to use [this script](https://github.com/vivek-bala/docs/blob/master/misc/gsissh_setup_stampede_ubuntu_xenial.sh) and replace the version and distribution names to bionic 18.

[2018-10-08 16:35] Weiming-Hu commented on #66
It works. Looks like I need to install several packages in a specific order. Probably they have some dependency that I'm not aware of. Before when I run `apt-get install gsi-openssh-clients` it failed. Probably after I installed all the dependency in the script, I run the command again and it works perfectly. Now I have `gsissh`.

[2018-10-08 16:57] vivek-bala commented on #66
Awesome! Glad to hear that. Can you share the final commands/script you executed to get gsissh set up on Bionic? I would like to store that alongside the current scripts. Thanks!

I can add all these to EnTK documentation itself at some point.

[2018-10-08 17:29] Weiming-Hu commented on #66
Sure. I've added it to [my notes](https://github.com/radical-collaboration/hpc-workflows/blob/master/scripts/application_AnEn/year_2/developer_notes.md#setting-up-open-ssh-on-ubuntu-bionic).

[2018-10-08 18:07] Weiming-Hu commented on #66
Closing this now. gsissh to stampede2 works but it is not working for Comet and SuperMIC. Since this is not of the main concern now as long as we have one working, I'm going to close this issue and carry on with testing my script on Stampede2. Thank you for your help.

[2018-10-08 18:07] #66 closed

[2018-10-08 18:46] vivek-bala commented on #66
Thanks. I believe Comet uses ssh alone. SuperMIC uses gsissh but requires specifying port 2222. Just want to make sure you included the port number as well.

[2018-10-08 18:59] Weiming-Hu commented on #66
This is what I've got when I tried SuperMIC and Comet.

[code]

For SuperMIC, it failed immediately with the error message. I Google it a bit and it looks like it is a bug in the OpenSSH?

For Comet, I'm still asked for credentials. Looks like gsissh is not working.

I tried Stempede, but the gsissh didn't respond for a long time. Maybe this has something to do with its being overloaded/outdated?

[2018-10-08 19:04] vivek-bala commented on #66
That seems correct. I remember encountering this in Ubuntu 18 and the solution was to determine the correct version of openssh. I never could find out the version though.

For Comet, you should try ssh, not gsissh. Stampede is decommissioned, so we can't use Stampede any more.

I think its good that you can use Stampede2 right now, so do continue on that.

[2018-10-08 19:07] Weiming-Hu commented on #66
OK. Do you have any experience with Wrangler? I ran the test script on Wrangler and seems like things are working except for my account is not associated with our project.

If I should continue on Stampede2, what should I do for the error message? I also tried to change resource to `xsede.stampede2` but EnTK said it couldn't find the resource. Should I open another ticket instead?

Thank you

[2018-10-08 19:09] Weiming-Hu commented on #66
Hah, I just heard back from XSEDE on Wrangler issue. They said that the information that I was added to the project did not get to TACC system, and they just made a manual change. I shall try for another time in half an hour. I'll keep you posted.

[2018-10-09 00:16] Weiming-Hu commented on #66
After XSEDE added my account to the project, the test script can be successfully run on Wrangler. I'm going to use this platform for testing purposes.

[2018-10-09 01:56] Weiming-Hu commented on #65
Hi there. A quick update. A [toy test](https://github.com/radical-collaboration/hpc-workflows/blob/master/scripts/application_AnEn/year_2/test.py) is passed on Wrangler.

[2018-10-10 20:12] #64 closed

[2018-10-10 20:13] mturilli commented on #63
Ongoing.

[2018-10-10 20:13] mturilli commented on #62
To be taken offline with Jeroen

[2018-10-10 20:17] mturilli commented on #60
26 should be fine, start to define the agenda. It would be desirable to close #65 but it will not be a deal breaker.

[2018-10-10 20:18] #51 closed

[2018-10-10 20:18] mturilli opened #67 "Integrating EnTK with Michael PSU use case"

[2018-10-10 20:28] mturilli opened #68 "PSU and PU science goals in year 2"
The PI should review the science goals achieved and about to be achieved in year 2 of the project. This will offer the base to define the requirements for the cyberinfrastructure in year 3.

[2018-10-10 20:31] mturilli commented on #67
- [comprehensive AnEn Use Case](https://docs.google.com/document/d/1kxX0sucCNJtbjAONr-yP4JtLz7KhOmj9wqATPM8kO3w/edit#heading=h.l5z8xtdth8uo) the integrates different stages of AnEn the proposed use cases.
- Update use [case workflow](https://docs.google.com/document/d/1uYtPy_VqoZ24JeU8qgTIUVzCmoCN35gSXFCQpqKXYP0/edit?usp=sharing).
- Create [issues to do in CAnalogsV2](https://github.com/Weiming-Hu

[2018-10-23 20:12] mturilli commented on #48
First milestone reached: end-to-end executions of single and multi-node, not-MPI and MPI compute units on SummitDev. Summit is still unavailable due to acceptance test.

[2018-10-24 19:32] Weiming-Hu commented on #67
Gave this ticket a new name to be more specific and precise. This is one of the science drivers for year 2.

[2018-10-24 19:36] Weiming-Hu commented on #60
Proposed [agenda](https://docs.google.com/document/d/1roJlvnUH1q-fO5TtInwQgMwhhr7020IGUbbIEF-6zS8/edit?usp=sharing)

[2018-10-24 21:00] vivek-bala commented on #65
We have fixed the issues in SAGA and RP. The devel branch of both have been tested on Cheyenne to be successful.

[2018-10-24 21:03] andre-merzky commented on #65
Great - I am going to merge and release the branches.  Thanks!

[2018-10-26 17:34] Weiming-Hu opened #69 "AnEn project urls to be added to EnTK Wiki"
Here are the links to AnEn

- Website: https://weiming-hu.github.io/AnalogsEnsemble/
- Github repo: https://github.com/Weiming-Hu/AnalogsEnsemble

[2018-11-07 21:10] #69 closed

[2018-11-07 21:11] vivek-bala commented on #68
Roadmap added in a wiki at https://github.com/radical-collaboration/hpc-workflows/wiki/Y2-Roadmap-PSU-Use-case

[2018-11-07 21:12] #65 closed

[2018-11-07 21:12] Weiming-Hu commented on #63
https://github.com/radical-collaboration/hpc-workflows/blob/master/scripts/application_AnEn/year_2/profiling/profile.pdf

[2018-11-07 21:34] #60 closed

[2018-11-07 21:35] #58 closed

[2018-11-07 21:36] vivek-bala commented on #63
Simulation kernel is profiled above.

TODO:
* Update [wiki](https://github.com/radical-collaboration/hpc-workflows/wiki/Y2-Roadmap-PSU-Use-case) with profiles and experiment setup
* Experiments to be done with varying search space (currently fixed to 31 days)
* Use case document to be updated with details of the simulation kernel and how data is moved from
anen kernels to the simulation kernel

[2018-11-07 21:37] #28 closed

[2018-11-07 21:43] mturilli opened #70 "Tutorial about EnTK/RCT at SEA: Apr 2019"
Depends on publication from PSU.

[2018-11-07 21:56] mturilli opened #71 "Run solar panel simulation application on Cheyennne"

[2018-12-05 15:49] Weiming-Hu opened #72 "PSU and Rutgers F2F meeting at Baltimore"
Location: [Gordon Plaza](https://www.google.com/maps/place/Gordon+Plaza/@39.3036513,-76.614442,16z/data=!4m5!3m4!1s0x0:0x391a0830a75362fa!8m2!3d39.3058211!4d-76.6171677)

Date: Sunday, Dec 9

Time: 12:30 PM - 3:30 PM (tentative)

[2018-12-05 21:08] mturilli commented on #71
Ongoing. On agenda #72

[2018-12-05 21:08] vivek-bala commented on #72
WH, VB to create agenda for meeting

[2018-12-05 21:09] mturilli commented on #70
This is going to happen

[2018-12-05 21:10] mturilli commented on #68
Agenda for #72

[2018-12-05 21:20] mturilli commented on #67
Agenda for #72

[2018-12-06 22:44] vivek-bala commented on #72
Hi all, please find a draft of the meeting agenda at https://github.com/radical-collaboration/hpc-workflows/wiki/F2F-Meeting-09-Dec-2018-%28PSU%2CRU%29. Please feel free to add or edit any points to the agenda.

[2018-12-19 18:29] vivek-bala opened #73 "Create experiment to profile the execution of similarity_calculator and analog_selector"
Identified at least three parameters of the executables across which we want to profile the execution time and memory consumption.

Parameters: subgrid_size(SG), number of threads (NT), search space (SS)
T_simcalc = f(SG, NT, SS)
M_simcalc = g(SG, NT, SS)
T_anasel = h(SG, NT, SS)
M_anasel = j(SG, NT, SS)

Find f, g, h, and j when the executables are run on Cheyenne.

There may be more parameters t

[2018-12-19 18:30] vivek-bala opened #74 "To discuss how Michael's phase of the workflow is derived from the current workflow"
Current understanding is that we run the current workflow (that exists for one test day) concurrently for multiple workflows.

[2018-12-19 18:31] vivek-bala commented on #74
To be confirmed by PSU

[2018-12-19 18:32] vivek-bala opened #75 "Document figure with entire workflow"
Create a neat figure of the workflow diagram from the F2F meeting

@mturilli to add picture of workflow
@vivek-bala and @Weiming-Hu to create a google drawing of the picture

[2018-12-19 18:33] vivek-bala opened #76 "Discuss paper for Journal for Climate science and Informatics"

[2018-12-19 18:35] vivek-bala commented on #73
Some plot ideas from F2F meeting:

![img_20181209_153303](https://user-images.githubusercontent.com/5543518/50240505-9c0d5380-038a-11e9-97b6-3d9d715707a4.jpg)

[2018-12-19 18:38] vivek-bala opened #77 "EnTK script for Year 2 PSU usecase"
I have added an initial script at https://github.com/radical-collaboration/hpc-workflows/blob/master/scripts/application_AnEn/year_2/entk_scripts. We have two configuration files: one for resource related parameters, other for workflow related parameters.

@Weiming-Hu and @vivek-bala to work for fill up remaining parts of the config file and entk script. Test on Cheyenne.

[2018-12-19 19:11] mturilli commented on #75
Here the picture:
![img_5552](https://user-images.githubusercontent.com/2323492/50242321-422c7e00-03ca-11e9-9e3f-b16313129be8.jpg)

[2018-12-19 21:09] mturilli commented on #77
@Weiming-Hu to try this on Cheyenne after populating the yml. Note: currently there are only placeholders for data movement. In case it is needed, the script will have to be amended.

[2018-12-19 21:13] mturilli commented on #75
Iterate on the current drawing. Add link to the ticket.

[2018-12-19 21:17] #72 closed

[2018-12-19 21:17] vivek-bala commented on #73
Profiling to be done with the EnTK script developed in #77

[2018-12-19 21:17] mturilli commented on #71
Ongoing

[2018-12-19 21:20] mturilli commented on #67
Get results with research space extension.

[2018-12-19 21:22] mturilli commented on #63
Duplicate #67

[2018-12-19 21:22] #63 closed

[2019-01-04 21:58] Weiming-Hu commented on #71
Solar panel simulation completed and tested on Cheyenne. You can access the code [here](https://github.com/Weiming-Hu/RenewableSimulator).

[2019-01-04 21:58] #71 closed

[2019-01-09 21:11] mturilli commented on #75
Ongoing. @vivek-bala to refine the figure.

[2019-01-09 21:12] mturilli commented on #74
Ongoing. @Weiming-Hu to meet F2F with Michael and confirm.

[2019-01-09 21:13] mturilli commented on #73
Profiled single-node. To be extended to multi-node.

[2019-01-09 21:13] Weiming-Hu commented on #77
[Renewable simulator](https://github.com/Weiming-Hu/RenewableSimulator) is complete.

[2019-01-09 21:14] mturilli commented on #70
To be discussed in the next meeting as a follow up with the organizer.

[2019-01-09 21:15] Weiming-Hu commented on #70
[SEA 2019](https://sea.ucar.edu/conference/2019)

[2019-01-23 15:04] Weiming-Hu commented on #77
EnTK + AnEn py script is complete. It is successfully run on local machine Sapphire.

[2019-01-23 15:04] Weiming-Hu commented on #74
Scheduled meeting on Friday, Feb 1st.

[2019-01-23 15:21] Weiming-Hu commented on #70
General question: do all users need to have their thread limit changed if they want to run it on Cheyenne?

[2019-01-23 15:49] vivek-bala commented on #70
Based on the last email exchanges with the sys admins, yes.

We can maybe ask them to revisit increasing the limits, at least for a subset of
users temporarily -- i.e. any SEA users if that's where your question was headed. They
did say they might consider it after monitoring our (as in Weiming's and Vivek's)
utilization after the limit increase.

[2019-01-23 21:11] mturilli commented on #73
Blocked by uploading dataset to Cheyenne.

[2019-01-23 21:21] mturilli commented on #70
Starting and sharing a document with the current information and ideas about the tutorial.

[2019-01-23 21:22] mturilli commented on #68
Discuss with Jeroen and report back next meeting.

[2019-01-23 21:37] mturilli opened #78 "Discuss F2F slot with PSU for mid-semester"

[2019-01-23 21:40] mturilli opened #79 "Request account on Summit"

[2019-01-24 03:28] Weiming-Hu opened #80 "EnTK failed on local machine during transition of stages"
I've observed consistent failures of EnTK on local machine. Here is the error message.

[code]

Since the sandbox files are large than 10 MB and I can't upload them here, I have sent the files to @vivek-bala's email.

Thank you very much!

Weiming

[2019-01-24 03:38] Weiming-Hu commented on #80
I have observed that when a task takes a relatively long time to finish (10 ~ 15 minutes), the transition will fail. That's is why I'm creating increased the number of tasks trying to make each task smaller and faster, but it still fails during the second stage, which is similarity computation.

[2019-01-24 14:40] vivek-bala commented on #80
Hey Weiming, can you point me to the latest EnTK script that you are using?

[2019-01-24 14:50] Weiming-Hu commented on #80
[This](https://github.com/radical-collaboration/hpc-workflows/blob/master/scripts/application_AnEn/year_2/multi-node/runme.py) is the script I used.

I added a new argument called `run-serially` in to configuration file. If this is used, only one task is added to a stage to assure that tasks are run serially. I didn't limit the threads because each task is a multi-threaded program. I though if I l

[2019-01-24 17:07] uvaaland commented on #62
Have sent an email to @wjlei1990, waiting to hear back.

[2019-01-24 17:09] uvaaland commented on #61
The above bullets are accurate. In terms of priority, @jeroentromp says that it is 1, 3 and then 2. First increasing the number of events, then pushing the resolution to 9 sec, then considering additional model parameters.

[2019-01-24 17:13] uvaaland commented on #27
Easiest would be to have everything run on Summit, but @jeroentromp said that they were not allowed to do the preprocessing on Titan and had to do it on Rhea. Therefore, this action is still relevant unless things have changed for Summit.

[2019-01-24 18:11] uvaaland opened #81 "ENTK get_started.py on local machine"
I am getting started with ENTK on my local Mac following the steps at: https://radicalentk.readthedocs.io/en/latest/user_guide/get_started.html

RabbitMQ and MongoDB have been successfully installed, but I keep getting the following error when I run `python get_started.py`:

[code]

As you see, the Pilot fails.

To further look into this, I went to the RADICAL-Pilot documentation and tried running

[2019-01-24 19:08] vivek-bala commented on #81
Hey Uno, thanks for trying it out!

Can you rerun the EnTK example with another environment variable set up: ```export RADICAL_PILOT_VERBOSE=DEBUG```?

You should you have two folders created that you can send to me. They will contain all the log files.
A "client" folder (1) with the name ```re.session.*```` will be created in the location where the EnTK script exists.
A "remote" folder (2) with t

[2019-01-24 19:44] Weiming-Hu commented on #77
Set up personal local endpoint using personal globus connect. Uploading observations (1.9T) at a speed of ~80 MB/s.

[2019-01-24 21:19] vivek-bala commented on #80
Thanks! I'm checking it out now. Can you add the entire verbose message log please? The source of the error might be before the messages that you have pasted above.

[2019-01-25 14:52] Weiming-Hu commented on #80
I don't have the error log anymore since I closed the terminal. Do you want me to run it again?

[2019-01-25 14:55] vivek-bala commented on #80
Yes, that would be helpful.

[2019-01-25 14:57] Weiming-Hu commented on #80
Can I direct the log into a file?

[2019-01-25 16:02] Weiming-Hu commented on #80
Here is the output.

[code]

[2019-01-25 16:51] uvaaland commented on #81
Hi, Vivek!

Thanks for taking the time. I reran the example with `export RADICAL_PILOT_VERBOSE=DEBUG` and the folders that you asked for can be found as a tar.gz at the following link:

https://drive.google.com/file/d/1qoKY8zIoflzTCQ-dKgpZIzE6-UX85ffF/view?usp=sharing

I have not made any changes to the example script. I got it locally in my virtual environment (as suggested in the tutorial).

[2019-01-25 16:56] vivek-bala commented on #81
Thanks! Are you running everything in a virtual box of some sort sandbox?

[2019-01-25 17:12] uvaaland commented on #81
I am running it in a conda environment and have also tried it using `virtualenv` and get the same result in both cases. I am not using a VM on top of this.

[2019-01-25 22:20] vivek-bala commented on #81
Ah found it. Seems like you're using python3:
[code]

We don't yet support python3, can you try with python2.7 please? You probably tried the RP example with python2.7. Let me know how it goes!

[2019-01-25 22:20] vivek-bala commented on #80
Thanks Weiming! I'll take a look at all of this and get back to you.

[2019-01-28 16:49] vivek-bala commented on #81
Thanks for checking that! You're right in that the pilot creates its own VE. This VE (rather the commands that create this VE) is somewhat configured such that it can work on different HPCs (Titan, Summit, etc.). The VE on your machine/laptop might not be the correct one to use on the HPC and hence a fresh VE on the remote side.

The pilot side VE would pick up the python that is loaded by default

[2019-01-28 16:53] uvaaland commented on #81
Yes, then we are on the same page. That makes perfect sense to me. To work around this, I will create a virtual machine that runs python2 as the default and play with ENKT there.

I'll leave the ticket open until I get my VM set up and do a test run, but I expect this to take care of it.

[2019-01-29 15:44] uvaaland commented on #81
Successfully ran the example on a VM.

Final question, is there a file where you can see what the program printed during execution, e.g. "Hello World" in this example?

[2019-01-29 16:00] vivek-bala commented on #81
Awesome ! The standard output should be written to a STDOUT file located inside ```$HOME/radical.pilot.sandbox/re.session.*/pilot.0000/unit.*```. You can bring this file to the client side by using the data movement properties.

You can add ```task.download_output_data = ['STDOUT']``` to the EnTK script. This would bring that file to where your EnTK script resides.

[2019-01-30 16:19] uvaaland commented on #79
Account has been created and I have successfully logged on to Summit.

[2019-01-31 14:43] Weiming-Hu commented on #77
Data uploaded to Cheyenne.

[2019-01-31 19:47] vivek-bala commented on #80
New error at the saga level:

[code]

Hey @andre-merzky , do you have any idea about this error? We encountered this error when executing locally.

Full logs:
[re.session.sapphire.geog.psu.edu.wuh20.017927.0002.zip](https://github.com/radical-collaboration/hpc-workflows/files/2818809/re.session.sapphire.geog.psu.edu.wuh20.017927.0002.zip)

[2019-01-31 19:48] vivek-bala commented on #80
The error was persistent after removing $HOME/.radical and $HOME/.saga as well.

[2019-01-31 20:12] andre-merzky commented on #80
Hey @vivek-bala : can you please send me the stack info?  Is this reproducible on another machine?  Please rerun it with `RADICAL_SAGA_PTY_VERBOSE=DEBUG` and attach the resulting log file.  Thanks!

[2019-01-31 20:13] vivek-bala commented on #80
Hey @Weiming-Hu , can you give this a try please. You can get the stack info by executing ```radical-stack```.

[2019-01-31 20:18] Weiming-Hu commented on #80
How would I get the stack info?

[2019-01-31 20:19] vivek-bala commented on #80
By running ```radical-stack``` in the command line after sourcing your virtual environment.

[2019-01-31 20:19] Weiming-Hu commented on #80
I got the following error messages.

[code]

[2019-01-31 20:19] Weiming-Hu commented on #80
Thank you.

[code]

[2019-02-04 18:19] uvaaland opened #82 "EnTK on Princeton cluster"
@jeroentromp expressed interest in setting up the pilot + EnTK on one of the Princeton clusters to have a local testing ground for us to try things out before taking them to Summit.

Princeton will be getting a couple of Summit nodes in the near future, which might make the setup easier.

[2019-02-05 15:24] vivek-bala commented on #82
Hey @uvaaland , can you add any links to the user guide or documentation for the Princeton cluster. That will be helpful in planning.

[2019-02-05 15:53] uvaaland commented on #82
The relevant cluster right now is the TigerGPU cluster:
https://researchcomputing.princeton.edu/systems-and-services/available-systems/tiger

The Summit nodes will make up their own cluster. That is, it will be a mini-Summit and so the setup should be similar to what had to be done for Summit itself.

[2019-02-05 18:10] Weiming-Hu commented on #80
Hi. Sorry for my late update.

Below is the error message from console std:

[code]

This is the log file.

[radical.log](https://github.com/radical-collaboration/hpc-workflows/files/2833272/radical.log)

Thank you

[2019-02-05 23:19] Weiming-Hu opened #83 "EnTK failed on Cheyenne"
Hi. I have had some problems running EnTK on Cheyenne. Here is the error message:

[code]

The radical pilot sandbox folder should be accessible. It is at `/glade/u/home/wuh20/scratch/radical.pilot.sandbox`. Please let me know how I can assist the debugging process.

Thank you very much!

[2019-02-06 14:22] vivek-bala commented on #83
Hey Weiming, can you run ```radical-pilot-fetch-logfiles``` after sourcing the virtualenv from the same directory as where you have the EnTK script please? You will have a folder of the format ```re.session.*``` which you can zip and upload here.

[2019-02-06 14:39] Weiming-Hu commented on #83
Here you are.
[re.session.cheyenne1.wuh20.017933.0000.tar.gz](https://github.com/radical-collaboration/hpc-workflows/files/2836725/re.session.cheyenne1.wuh20.017933.0000.tar.gz)

Thank you

[2019-02-06 21:08] mturilli commented on #80
Related to #83

[2019-02-06 21:09] #79 closed

[2019-02-06 21:10] #77 closed

[2019-02-06 21:15] mturilli commented on #73
Block by #83

[2019-02-06 21:17] mturilli commented on #70
Parked until confirmed due to the shutdown. Send email and see whether we can get more information.

[2019-02-06 21:19] mturilli opened #84 "F2F meeting Princeton/Rutgers"

[2019-02-06 21:38] mturilli commented on #78
Apr: 1-3; 14-30

[2019-02-06 22:03] andre-merzky commented on #83
I know this one! :-)

[code]

This seems like an incomplete RP installations.  Some version of pip / setuptools don't install our json config files.  How was RP installed in this virtualenv?  Can you please check if there are *any* json files in
`venv/lib/python2.7/site-packages/radical/pilot/configs` ?

[2019-02-06 22:20] Weiming-Hu commented on #83
This is some information that might be helpful:

[code]

I have a message during installation of EnTK:

[code]

And every time after I log onto Cheyenne, I need to reinstall radical.entk otherwise I'm not able to run entk.

Here are the files:

[code]

[2019-02-06 22:36] andre-merzky commented on #83
Wait, now I am confused: your `ls lists `umgr_default.json`, but the error explicitly said `No such file or directory`.  So, which one is it?  The  installation is a red herring then, as the file seems there.  Is that a permission issue?  Was that a file system issue?  The latter would likely mean that its not reproducible - does the problem persists?

The `netifaces` warning can be ignored for no

[2019-02-07 14:53] Weiming-Hu commented on #83
Hi Andre. I'm afraid so. I ran the script again and I get the same error for missing file even when the file actually exists.

OK. This is the weird part. After I got the error message and after I terminated the EnTK, radical.pilot package is gone, literally. It looks like it gets deleted somehow during the process because I can no longer even run the simple command:

[code]

And this is what I me

[2019-02-07 19:58] vivek-bala commented on #83
This indeed is strange, I just made some fixes in RP (https://github.com/radical-cybertools/radical.pilot/pull/1808). We have a working RP again on Cheyenne. I'll give Weiming's script a try now.

[2019-02-07 22:04] andre-merzky commented on #83
Thanks Vivek - I don't have a useful suggestion myself, really.

[2019-02-08 00:04] vivek-bala commented on #83
Hey Weiming, tested your script as well on Cheyenne. Its executing all 3 stages. The tasks in the third stage fail with ```the option '--mapping-txt' is required but missing```. I'll leave that to you to debug. You can install the fix/cheyenne branch of radical pilot in your virtualenv on Cheyenne and it should be back to normal.

[2019-02-08 01:13] Weiming-Hu commented on #78
Hi, I would like to confirm our (Guido and I) visit to NJ on Mar. 3 Sun.

[2019-02-08 01:16] Weiming-Hu commented on #83
This is awesome. I will give this a try ASAP.

[2019-02-08 01:17] vivek-bala commented on #83
Actually the script has run only once out of about 5 runs. I am not sure where the error is but the pilot seems to fail while the first stage is executing. Same script, no change from the successful run. I can't locate the error and get the impression that the job got killed by the system(?). @andre-merzky  could you take a look at the log files please.

Please see the debug logs.
[log_files.zip](

[2019-02-08 01:18] vivek-bala commented on #83
@Weiming-Hu feel free to give it a try, let's see how it behaves for you.

[2019-02-08 01:20] vivek-bala commented on #83
@andre-merzky From the debug.log file (with saga verbose msgs):

[code]

[2019-02-08 01:26] vivek-bala commented on #83
Based on [this](https://www.nas.nasa.gov/hecc/support/kb/PBS-exit-codes_185.html), exit code 265 means signal 9. So, the job is being killed (note: not the rp client -- probably not any process limits).

[2019-02-08 22:43] Weiming-Hu commented on #83
I'm afraid the problem persists and I still get the error that `umgr_default.json` is missing. Here is a detailed breakdown of what I did to help you reproduce what I have.

First, I load the python module after logging onto Cheyenne:

[code]

Then, I build a virtual env and install radical.entk, pyyaml, and netcdf.

[code]

And I checked that `umgr_default.json` file exists.

[code]

And entk wor

[2019-02-11 14:38] vivek-bala commented on #83
Just an update that I have dropped an email with Cheyenne support to see why the jobs are being killed.

[2019-02-11 14:40] vivek-bala commented on #83
@Weiming-Hu The set of commands I use to install:

[code]

Could you give that a try? Also please check that there are no conflicting settings in your bashrc file.

[2019-02-11 15:14] Weiming-Hu commented on #83
I don't have a .bashrc file, but a .bash_profile. I set `RADICAL_PILOT_DBURL` and `RADICAL_ENTK_VERBOSE` variable.

[2019-02-11 15:19] Weiming-Hu commented on #83
I have to install `pyyaml` before I can run the script.

Unfortunately, The same problem persists. Same error message.

[code]

[2019-02-11 16:20] vivek-bala commented on #83
I believe Weiming can also reproduce the error that I can now.

I confirmed that Cheyenne is killing our jobs. It seems to be because of memory exhaustion
by the tasks on the compute nodes. See response from Cheyenne admin:
[code]

I am trying to prepare a single job that can reproduce the error. @Weiming-Hu do you have any
profiles or jobs that you ran on Cheyenne? If you already have them, I can

[2019-02-11 16:20] andre-merzky commented on #83
@Weiming-Hu , can you please try the following:

 -  install the RCT stack as usual in your VE
 - run `chmod -R a-w ve/lib/python2.7/site-packages/radical`
 - run your application

I  hope this triggers a write error for whatever is purging your installation...

[2019-02-11 16:21] vivek-bala commented on #83
@andre-merzky The error with the missing JSON file is now resolved. I had to comment out a PATH setting in his bash_profile.

[2019-02-11 16:25] andre-merzky commented on #83
@vivek-bala @Weiming-Hu : if memory usage is a problem, you can try adding `ulimit -s 1024` to your bashrc.  Python by default creates threads with 8MB stack size - the above command would limit that to 1MB.  I am not sure if stacksize causes memory issues, but I have seen systems where that's the case.

[2019-02-11 16:26] andre-merzky commented on #83
How did the `$PATH` setting affect file persistence / deletion?  This is funny :-)

[2019-02-11 16:26] vivek-bala commented on #83
Cool, will try that as well. I think we are also reading ~GB of data in our tasks, so I will test if that is the reason as well. (the tasks start but don't complete)

[2019-02-11 16:27] vivek-bala commented on #83
I don't know really. I also used the fix/cheyenne branch instead of master. Didn't dig into what the actual source is, I simply repeated the steps that I did to create my VE. You want me to find out? (no promises :-P )

[2019-02-11 17:33] andre-merzky commented on #83
Yes, that would be great.  Don't get lost in that part of course - but I do remember reports in the past about disappearing installations, so this is not a totally isolated incidence.  If you happen to be able to reproduce this outside of Cheyenne,  I'd be happy to pick this up myself!  Thanks :-)

[2019-02-13 15:41] vivek-bala commented on #83
Update: The original issue has been fixed for Weiming. We have been able to run tasks from the three stages on Cheyenne. The tasks themselves initially failed since multiple tasks (reading ~20-30GB of data) were running on a single compute node, thus barfing the memory. This has been fixed by keeping 1-2 tasks per compute node.

Status: The tasks themselves do not complete due to an error from the

[2019-02-13 15:42] vivek-bala commented on #82
Both Andre and I have got an account on the Tiger cluster. Thanks Uno and Jeroen!

[2019-02-13 15:43] Weiming-Hu commented on #83
Thank you, Vivek. Let me know when I should give it a try.

[2019-02-13 19:40] vivek-bala commented on #83
Hey Weiming, you can give the scripts a try now. There were some typos in the script that caused the MPI shepher termination. It should be resolved now.

[2019-02-18 03:09] Weiming-Hu commented on #83
Now it seems that we have a slightly different situation. Pilot has complete, but the final message is in red:

[code]

And there is no output data, and no unit*** folders.

[2019-02-20 13:50] vivek-bala commented on #75
Figure: https://docs.google.com/drawings/d/1C2pZG4nkC4BGZ46efMhAZW_X37wO75ELWPLeRuzKbQk/edit?usp=sharing

Hey @Weiming-Hu take a look at this. If you agree, then I can move it into the google doc. Feel free to directly edit the figure.

[2019-02-20 16:58] Weiming-Hu commented on #75
Hi Vivek. This looks good. Please add it to the doc. Thanks.

[2019-02-20 17:33] vivek-bala commented on #75
Done. This ticket can be closed.

[2019-02-20 20:15] mturilli commented on #84
Realistically end of March, after Wenjie defended.

[2019-02-20 20:16] mturilli commented on #83
Mostly addressed, issues on the last stage for thread number configuration.

[2019-02-20 20:17] #78 closed

[2019-02-20 20:19] #75 closed

[2019-02-20 20:20] vivek-bala opened #85 "Discuss PSU year 2 workflow in next F2F meeting"
Located in https://docs.google.com/document/d/1uYtPy_VqoZ24JeU8qgTIUVzCmoCN35gSXFCQpqKXYP0/edit#

[2019-02-20 20:20] mturilli commented on #74
Ongoing.

[2019-02-20 20:23] mturilli commented on #73
Ready to go for the first two stages.

[2019-02-20 20:26] mturilli commented on #70
- Presentation Analog/EnTK on Tuesday 8
- 1/2 day tutorial on Thursday 10
- Create/share tutorial googledoc document.

[2019-02-20 20:26] Weiming-Hu commented on #70
https://sea.ucar.edu/conference/2019/program

[2019-02-21 16:21] Weiming-Hu commented on #83
Issue resolved in commit f73b197.

[2019-02-21 16:21] Weiming-Hu commented on #80
Taking this offline since we already have a working version from the commit f73b197.

[2019-02-21 16:21] #80 closed

[2019-03-06 16:26] Weiming-Hu commented on #70
Proposed narrative (on-going) [here](https://drive.google.com/drive/folders/1x4Y7yjl11ICI4cRdPkT0jPAS49ruBo2A?usp=sharing)

[2019-03-06 16:27] Weiming-Hu commented on #74
Implementing the minimal workflow and script with CMIP 5/6, AnEn, EnTK, and SolarSim.

[2019-03-06 20:03] #85 closed

[2019-03-06 21:35] andre-merzky commented on #82
So I know my netid for princeton (but I don't think I have seen nor set a password anywhere).

Next step, according to the [docs](https://researchcomputing.princeton.edu/getting-started/how-use-our-systems) I could find, would be to enable shell access.  The [respective page](https://princeton.service-now.com/snap?id=kb_article&sys_id=822a27064f9ca20018ddd48e5210c743) says:

[code]

Any idea how t

[2019-03-11 15:53] uvaaland commented on #82
Hi, Andre!

It was my understanding from talking to Vivek that he was able to log in and do what needs to be done. Maybe @vivek-bala can clarify if we are missing a step?

[2019-03-19 17:25] Weiming-Hu commented on #83
Hi. I have again got some errors from this thread.

[code]

This looks like a problem that we used to have. Does anybody have an idea how to solve this?

Thank you

[2019-03-20 18:56] mturilli commented on #62
Duplicate #84

[2019-03-20 18:56] #62 closed

[2019-03-20 19:09] mturilli opened #86 "Consolidate Cheyenne stack by the end of March"
Avoid using a specific branch for RP

[2019-03-20 19:13] mturilli commented on #74
Ongoing

[2019-03-20 19:14] mturilli commented on #70
Depends on #86

[2019-03-20 20:02] Weiming-Hu commented on #83
Looks like even if I revert to the old version and old code, I still get errors.

[code]

[2019-03-21 15:38] Weiming-Hu commented on #83
This has been resolved. @vivek-bala is going to make a hot release for this issue. Waiting on Vivek to close this issue.

[2019-03-21 21:45] andre-merzky commented on #82
Hey @uvaaland , I think I would benefit from your support.  I got my netid - but all the ways to access the machine require some initial password.  I never set such an initial password anywhere, and don't see any notification with an initial password.

The form  (second page after entering the netid) [points](https://puaccess.princeton.edu/) to `609-258-HELP` as support contact for lost passwords

[2019-03-21 22:26] uvaaland commented on #82
Hi, Andre!

Yes, let's look at this together tomorrow. I will be at the office by 0930 EST and am free to connect with you anytime outside 1100-1130, when I have a meeting. Let me know if you can work with that, and I am confident that we should be able to work through this without too much effort :)

Uno
________________________________
From: Andre Merzky [notifications@github.com]
Sent: Thursday

[2019-03-21 22:28] andre-merzky commented on #82
I find it fascinating how much the process of getting access to some machine resembles an old-school  role playing game: heroic quests, discovering new pages, talking to different RPC, false leads, some light lies (yes, this is my campus address...), lots of note taking and mapping...

Long story short, I got access now - thanks to @vivek-bala for some crucial cheat codes! :-D

[2019-03-22 13:39] uvaaland commented on #82
Haha, how exciting! I am happy to hear that it worked out. And don't hesitate to reach out if there is anything else you should need :)

Uno
________________________________
From: Andre Merzky [notifications@github.com]
Sent: Thursday, March 21, 2019 6:28 PM
To: radical-collaboration/hpc-workflows
Cc: Uno B. Vaaland; Mention
Subject: Re: [radical-collaboration/hpc-workflows] EnTK on Princeton clus

[2019-03-30 14:34] Weiming-Hu opened #87 "Job efficiency on Cheyenne"
Hi, I have a question about how EnTK is managing tasks.

For a specific job submission below where I requested for 3600 cores (100 nodes) for 120 minutes in the resource script, I have the following record in Cheyenne allocation monitoring system:

Username | Job Id | Job Name | Queue Name | Submit Time | Start Time | End Time | # Nodes | Adjusted Core Hours
-- | -- | -- | -- | -- | -- | -- | -- |

[2019-04-01 22:04] andre-merzky commented on #87
AFAICS, this is indeed how EnTK is supposed to function: the resources are requested immediately.

What exactly was EnTK doing in that time, do you know?

[2019-04-01 22:06] Weiming-Hu commented on #87
I don't know what EnTK is doing exactly. But based on my recollection, it is manging tasks from 0 - 599, like submission and transition.

[2019-04-01 22:10] andre-merzky commented on #87
Can you please provide the log files?

@vivek-bala : Do you have any idea what EnTK could spend 20 min on?

[2019-04-01 22:12] Weiming-Hu commented on #87
I don't have it saved. I need to resubmit jobs. Let me update this when I get the log files. Thank you.

[2019-04-01 22:23] andre-merzky commented on #87
Thank you.

[2019-04-02 12:17] vivek-bala commented on #87
No, not really. We do bulk submission of the tasks already. Hard to say without the profiles.

[2019-04-03 13:18] andre-merzky commented on #87
I pushed some changes to the `fix/cheyenne` branch (in the `mpirun_dplace` launch method) which addresses core pinning for multithreaded tasks.  Can you give this a try, please?

[2019-04-03 13:19] andre-merzky commented on #86
Cheyenne support is merged and released in RP by now, but #87 needs to be resolved before we can declare success.

[2019-04-03 18:40] andre-merzky commented on #82
A basic setup is now functional on `tiger_cpu`.  I still need to test MPI tasks and GPU support, but from what I can see this should work (tests are in the queue).

Using RCT on `tiger_[cg]pu` requires a manual configuration step - the pilot is not able to bootstrap itself on the compute nodes due to DNS setup issues.  We may be able to work around this eventually, for now the user needs to run tw

[2019-04-03 19:01] andre-merzky commented on #82
Uh, MPI still fails.  Do you happen to have a recommendation on what modules to load for MPI  setup?

[2019-04-03 19:03] uvaaland commented on #82
The one that I am currently using for my runs is:

module load openmpi/intel-17.0/2.1.0/64

[2019-04-03 19:09] mturilli opened #88 "Enable multithreaded execution for PSU use case on Cheyenne"

[2019-04-03 19:10] andre-merzky commented on #88
I pushed some changes to the `fix/cheyenne` branch (in the mpirun_dplace launch method) which addresses core pinning for multithreaded tasks. Can you give this a try, please?

[2019-04-03 19:12] mturilli commented on #83
Resolved.

[2019-04-03 19:12] #83 closed

[2019-04-03 19:23] andre-merzky commented on #82
great, let me try that one...

[2019-04-03 19:43] andre-merzky commented on #82
@uvaaland advised to load the intel compiler module first, that resolved the mpirun problem.  We are up and running now.  Some more tests are needed with the actual workload, and I want to look into some bootstrapping delays - but it looks we are on track to releasing this soon.

[2019-04-16 17:08] uvaaland commented on #84
We are currently looking at at least two other use cases for EnTK in the group. These are projects that have some similar features to the global project but are different.

Jeroen has therefore aired the idea of having two F2F meetings. One being about the global inversion project once Wenjie is back, the other one being about these other use cases. Everyone is here that needs to be here for this

[2019-04-17 11:08] andre-merzky commented on #82
PR for RP: https://github.com/radical-cybertools/radical.pilot/pull/1852

Note that of today I see network problems on tiger_cpu (unrelated to RP).

[2019-04-17 11:12] andre-merzky commented on #82
for the record on the network issues mentioned above:

[code]

It seems like the DNS resolver fails, but it's cache can be repopulated by manual resolving via `host` lookup.  That cache times out after some seconds.  I did not attempt to work around this in the RP pilot bootstrapper, but it seems to stumble over this very problem.

[2019-04-17 19:06] mturilli commented on #86
Ready to merge.

[2019-04-17 19:06] #86 closed

[2019-04-17 19:14] mturilli commented on #82
- Open a ticket with support
- Princeton made available a real-life use-case script for testing
- Confirm support and release.

[2019-04-17 19:15] andre-merzky commented on #82
use case: `/scratch/gpfs/uvaaland/research/radical_collaboration/specfem3d_globe`

[2019-04-17 19:17] uvaaland commented on #82
To open a ticket with PU system administrators regarding cluster usage, send an email to cses@princeton.edu. They are usually quick to respond.

[2019-04-17 19:20] #70 closed

[2019-04-17 19:33] mturilli opened #89 "Send Princeton report about Jsrun issue and share with Judith"

[2019-04-19 15:57] mturilli commented on #84
Would 4/22 or 4/23 work for Princeton? Unfortunately, after that our calendars are very busy and it is difficult to find a day free for all until the second week of May.

[2019-04-19 16:13] uvaaland commented on #84
Hi, Matteo! Tuesday 4/23 in the morning (before noon) is good for us.

[2019-04-29 08:03] andre-merzky commented on #82
Hi @uvaaland,

I encounter troubles  with OpenMPI (mpirun segfaults), but seem to have success with intel-mpi.  The following modules seem to result in a sane setup:

[code]

Your application is linked against OpenMPI.  I don't seem to have enough disk quota to clone the specfm repo and to recompile with intel-mpi to check if that's viable - do you know if that works?  If not, would you mind givin

[2019-04-29 13:20] uvaaland commented on #82
Hi, Andre!

I have tried the above commands and can confirm that both examples are working for me. The only additional step I needed to take in order for it to work was:

export RADICAL_PILOT_DBURL="mongodb://user:user123@ds043012.mlab.com:43012/princeton"

If you are having issues with the quota, use the command `checkquota` which will list the storage you have available. My suspicion is that you

[2019-04-29 17:31] Weiming-Hu opened #90 "Passwordless access to Cheyenne"
I have recently figured out a way to bypass the Yubikey mechanism and achieve passwordless access to Cheyenne through ssh control master. Then, I'm wondering whether it is possible to submit EnTK jobs directly from my local laptop?

Thank you

[2019-04-29 18:25] vivek-bala commented on #90
That certainly will ease things! Can you share your secret with us? :) Just want to make sure the your method to setup ssh is compatible with how we use ssh to access.

[2019-04-29 18:30] Weiming-Hu commented on #90
I used the control master mechanism. It reuses the connection rather than creating a new one each time. You can specify the length of the live session (3 seconds to minutes, I don't know whether there is an upper bound).

Specifically, I have the following part in my `~/.ssh/config`

[code]

The first time of ssh, authentication is still needed. But after that, the connection is just reused.

[2019-04-29 18:36] vivek-bala commented on #90
Oh that's new for me. Good to know. Unless there is a hard cutoff/upper bound, I think this might work. We need a change in RP though to enable ssh access to Cheyenne. I created a ticket for it in RP: https://github.com/radical-cybertools/radical.pilot/issues/1853.

@andre-merzky @mturilli do you see any issues with this ssh access mode?

[2019-04-29 19:02] Weiming-Hu commented on #90
Right. I learned this rather recently. Once the connection is initiated (you logged in once), you can close the terminal and the connection remains alive for the length that you've specified. Then the subsequent ssh request will no longer need a password. Let me know when I should give this a try. Probably I will need your help.

[2019-04-30 07:16] andre-merzky commented on #90
Nice!  You way want to find out for how long the master stays alive.  Many sites have a limit of about a day.  If so, you need to be careful that it does not time out during an experiment, as RCT will not be able to recover from a failing master (in most cases).

Its cool that this works on Cheyenne though!

[2019-04-30 07:17] andre-merzky commented on #90
No, that should just work (TM).

[2019-04-30 07:47] andre-merzky commented on #82
@uvaaland : Ah, since `$HOME` was shared, I did not even consider looking for other FS...  Duh!  Will do.

[2019-04-30 07:53] andre-merzky commented on #82
We hit a SNAFU on tiger, in that the available OpenMPI modules seem to be unreliable.  Specifically their `mpirun` seems to segfault now and then, which makes task placement in RP unstable.

We have two immediate options: (a) recompile the application against `intel-mpi` (intel-mpi is based on MPICH, and the launcher seems stable AFAICT), (b) implement an `srun` base launch method for RP.  The sec

[2019-04-30 11:16] andre-merzky commented on #82
The srun launch method is not implemented in radical-cybertools/radical.pilot/pull/1854

[2019-04-30 14:05] uvaaland commented on #82
I am currently recompiling using `intel-mpi/intel/2018.3/64` and rerunning the specfem mesher and solver to check that it works. Will report back once the results are in.

[2019-04-30 15:02] vivek-bala commented on #90
Thanks Andre!

@Weiming-Hu can you pull the fix/cheyenne branch and try to run from your desktop machine after setting up the passwordless access. As Andre mentioned, you should find out what the maximum time limit is for the ssh connection.

[2019-04-30 15:07] Weiming-Hu commented on #90
How could I find it out? Is it as simple as to just try ssh every 10 minutes until it fails?

[2019-04-30 15:08] vivek-bala commented on #90
No, I think it would policy enforced by the system admins. Best/quickest option would be to ask them directly.

[2019-04-30 17:41] Weiming-Hu commented on #88
Sorry for my delay.

I have updated the package but I received the following problem when I tried to run `entk-version`.

[code]

I also tried to delete my old virtual environment and start a new one but the same error persists.

I tried to run `radical-stack`, but also ended up with the same error `ImportError: /gpfs/u/home/wuh20/github/hpc-workflows/scripts/application_AnEn/year_2/multi-node/ven

[2019-04-30 18:22] Weiming-Hu commented on #90
I have contacted the sysadmin. Actually, they are not aware of this mechanism, so they didn't provide me an absolute answer. I'm almost tempted to give this a try. But now it is blocked by issue #88.

[2019-04-30 22:29] andre-merzky commented on #88
This is surprising.  Could it be that the python version used when installing the virtualenv is different than the one used when running the above?  Like, different module loaded, or a different compiler module loaded?

[2019-04-30 22:42] Weiming-Hu commented on #88
But I have purged my modules and recreated a new virtual environment.

[This](https://github.com/radical-collaboration/hpc-workflows/blob/master/scripts/application_AnEn/year_2/developer_notes.md) is the script I used to install packages.

Thank you

[2019-05-01 10:08] uvaaland commented on #82
I have successfully recompiled and run the specfem mesher and solver on `tigergpu` using the `intel/18.0` and `intel-mpi/intel/2018.3/64` modules.

[2019-05-01 10:11] andre-merzky commented on #82
Ah, cool - then let me switch the RP config to `intel-mpi`, and the mpirun problem should be solved, too!

[2019-05-01 12:26] andre-merzky commented on #82
This seems to work as expected, and is now configured in the `feature/tiger` branch of RP.  Would you mind giving this a try?  Thanks!

[2019-05-01 12:28] andre-merzky commented on #88
Do you also do the `module purge && module load python/2.7.15` when you use that virtualenv and run the code?

[2019-05-01 15:07] Weiming-Hu commented on #88
No. After I activated the virtualenv, I didn't purge modules again and load python. I just tried to purge and load again after activating the virtualenv, and then it is not able to find any packages, including entk packges.

[2019-05-01 15:31] andre-merzky commented on #88
This is also unexpected.  I would guess that the installation did not go into that VE possibly.  Can you check if it ended up somewhere under `$HOME/.local/lib/`?

Either way though, I would recommend to start from scratch, and to include entk installation and the verification in your deployment script:

[code]

[2019-05-01 15:44] Weiming-Hu commented on #88
Looks like I don't have the folder `$HOME/.local/lib/`.

I tried to start a new session, and use the script to create a new virtualenv. But I still get the errors.

[code]

Again, after the installation, I still don't have the folder `$HOME/.local/lib/`.

Thank you.

[2019-05-01 15:49] andre-merzky commented on #88
I'll be back on my computer in about 30 min.  Can you send me a `module list` you get after a fresh login, and possibly also after the `module load` in the install script you use?  I will try to reproduce this.

[2019-05-01 15:57] Weiming-Hu commented on #88
Thank you very much.

[code]

[2019-05-01 16:07] andre-merzky commented on #88
Thank you!

[2019-05-01 16:35] andre-merzky commented on #88
There is something funny going on with your account I think.  This is what your procedure looks for me (I shortened insuspicious output):

[code]

The installation of the RP branch also does not make a difference:

[code]

Can you please send the result of:

[code]

Can you please also send me the output like below, please:

[code]

[2019-05-01 16:43] Weiming-Hu commented on #88
Here is the output.

[code]
[code]

[2019-05-01 16:48] andre-merzky commented on #88
Any idea what this is:
[code]

This is likely the culprit.    My output of the  ldd is:
[code]

The glibc used in your case likely has not been compiled with the default intel compile chain.

If that glibc is needed by you workload, you could try to :

[code]
and see if the deployment is more forgiving to that libc?

[2019-05-01 16:49] andre-merzky commented on #88
`libc` -> `ld-linux` ...

[2019-05-01 18:43] Weiming-Hu commented on #88
I installed `linuxbrew` a while ago. I guess it has built in some libraries and packages that mess up with my environment. I have just removed it. The result of `ldd` changed, but still, I'm having the problem.

[code]

I plan to work with Cheyenne sysmin to address my environment setup first. Hope it will address some of these issues.

[2019-05-01 18:57] uvaaland commented on #82
Are you referring to the following steps?

[code]

[2019-05-01 18:58] andre-merzky commented on #88
Could you send me the setting of `$LD_LIBRARY_PATH` just before you run the `radical-stack` command?

[2019-05-01 19:00] Weiming-Hu commented on #88
[code]

[2019-05-01 19:04] andre-merzky commented on #88
:-P
[code]

[2019-05-01 19:11] vivek-bala commented on #82
That sounds correct to me.

[2019-05-01 19:11] Weiming-Hu commented on #90
Taking this task offline.

[2019-05-01 19:11] #90 closed

[2019-05-01 19:15] mturilli commented on #87
Blocked by #88

[2019-05-01 19:35] vivek-bala opened #91 "Discussion about EnTK client and RabbitMQ placement"
Please see the comments in https://github.com/radical-cybertools/radical.entk/issues/339.

This ticket is a placeholder to ensure we visit the above issue during our biweekly calls.

[2019-05-01 19:59] andre-merzky commented on #82
Yes!

[2019-05-01 21:51] Weiming-Hu commented on #88
I have resolved the default module issue. My default file in `.lmod.d` has been mysteriously changed. I have reverted it to the correct default. This should take care of it.

[code]

But I repeat the process of creating the virtual environment, I still have the error and things don't seem to change. My `LD_LIBRARY_PATH` is still different from yours. Even if I change it to yours, I get the error a

[2019-05-01 22:05] andre-merzky commented on #88
This is fascinating...  Would you mind posting the following files, if you have them?  `.bashrc .profile .login`.  What is in your `.lmod.d`?

[2019-05-01 22:09] Weiming-Hu commented on #88
Here it is.

[code]

[2019-05-01 22:15] andre-merzky commented on #88
Hmm, your jasper.ch refers to the gnu compiler still.  What happens if you retry after `mv .lmod.d .lmod.d.bak'?

[2019-05-02 01:45] Weiming-Hu commented on #88
OK. I think I have fixed this brutally. I moved all the ambiguous hidden files/folders in my home directory to somewhere else. I was almost sure it must be something messing up with my environment. And then tried again. It is working now. I guess the more import thing is to remove `.local` folder where all python packages are. Virtual environment always reuse the `regex` package from this local fo

[2019-05-02 05:28] andre-merzky commented on #88
Oh, I am sorry we did not find this earlier!  Can you remember where the regex lived under `~/.local`, for the next time a user stumbles over this?  You did not have a `~/.local/lib` where I expected it, IIRC...

But yeah, the interferences between `~/.local` and pip / virtualenv is annoying, I stumbled over that a couple of times.  Nowadays I do : `rm -rf ~/.local; ln -s /dev/null ~/.local` which

[2019-05-03 15:29] uvaaland commented on #82
I have run the above steps again on Tiger and both examples run successfully.

[2019-05-03 15:37] vivek-bala commented on #82
Awesome!

[2019-05-03 15:38] andre-merzky commented on #82
Thanks!

[2019-05-15 15:51] Weiming-Hu commented on #88
The EnTK is running now. But it looks like the process hangs for some reason.

[code]

Here I have waited for a long time but it does not go through.

[2019-05-15 18:31] andre-merzky commented on #88
Thanks for the feedback!  @Weiming-Hu, can you share the script you are running, and if possible also give access to the client and the pilot sandbox on Cheyenne?

[2019-05-15 19:08] uvaaland commented on #82
I am still seeing the same issue trying to run EnTK from my desktop machine. I did a fresh install of the feature/tiger branch, but the error is still the same: Resource allocation failing with the same complaint:

NoSuccess: Error finding SLURM tool squeue on remote server slurm://localhost/!

Then I tried running only the Pilot on Tigercpu from my desktop machine. I did so by following the steps

[2019-05-15 19:10] mturilli commented on #84
Discuss this again mid June

[2019-05-15 19:58] uvaaland commented on #82
Trying to run the example script again, I get a similar, but different message:

[code]

It is running into an issue with DUO, but this is interesting because it is not an issue if I `ssh` onto Tiger from the command line. That is, the following command:

[code]

works without prompting me for a password or DUO, but when I run the example in the same terminal window it fails with the DUO issue. Th

[2019-05-15 20:02] andre-merzky commented on #82
Thanks Uno - can you please also set (if you don't have those yet)
[code]
and also attach a tarball with the session subdir and the logfiles therein?  Thanks.

[2019-05-16 14:54] uvaaland commented on #82
Great! I ran it again with the additional debug flag. Attached is the `radical.saga.pty.log` file and the RP session folder.

[issue.tar.gz](https://github.com/radical-collaboration/hpc-workflows/files/3187645/issue.tar.gz)

[2019-05-16 15:12] uvaaland commented on #82
Agreed. What I was telling Andre is that the connection works from the command line. No password, no DUO. But for some reason that is not the case when the pilot tries to do the same. I checked the resource file for Tiger and saw that it uses the same as I do from the command line (uvaaland@tigercpu.princeton.edu) and the user is always my Princeton username (uvaaland).

Andre was going to see if

[2019-05-16 15:22] vivek-bala commented on #82
I see, okay. I think Andre will be able to debug this. FWIW, the ssh command executed seems to be:
[code]

[2019-05-16 15:25] vivek-bala commented on #82
Taking a shot in the dark, can you try after adding the following to ```$HOME/.ssh/config``` (if you don't already have this):

[code]

[2019-05-16 15:28] uvaaland commented on #82
Yes, that is what I use, but had not set the user explicitly. I just set this and tried to run it again, but the error is the same. Should I try to run the above command from the command line?

[2019-05-16 15:31] vivek-bala commented on #82
Yea, I would say so. The 'User' is essentially your username on Tiger (```whoami``` on Tiger should confirm that). After adding the entry in .ssh/config file, I would suggest trying
[code]
 one more time.

[2019-05-16 15:33] vivek-bala commented on #82
Maybe some of the parameters are conflicting with the DUO settings? Let's see what Andre suggests.

[2019-05-16 15:37] uvaaland commented on #82
This is very interesting. Because when I run the same command a second time in the same terminal, it goes right through without a DUO issue. That is, if I run the above command from the command line and put in DUO, then I run the Pilot with the example script `./examples/09_mpi_units.py princeton.tiger_cpu`, it does not get stuck on DUO.

[2019-05-16 15:40] uvaaland commented on #82
I still don't see any jobs submitted on Tiger, but the Pilot reaches the `gather results` stage.

So circumventing DUO is something that I might just have to do by running the ssh command in the command line once before I try to launch an application with the Pilot. It is not a perfect solution, but something we can work with at least.

[2019-05-16 15:50] vivek-bala commented on #82
Yea, that sounds quite odd. Maybe there is a DUO timeout per session? You can keep the session persistent by using something like tmux: you can start a tmux session and setup DUO and continue using EnTK/RP in that session. You will be able to connect and disconnect with this session, checkout [this](https://www.hamvocke.com/blog/a-quick-and-easy-guide-to-tmux/) for a quick how-to on tmux if requir

[2019-05-16 15:55] uvaaland commented on #82
Yes, I am using tmux. The way I have DUO configured is such that you require one DUO authentication per internet connection. That is, as long as my tmux session is open and the internet does not drop on my local desktop (which is very rare since it uses a cable), I should not have to deal with DUO again.

Now that we have found a way to get past this step, I don't expect it to be an issue, and I w

[2019-05-16 15:58] vivek-bala commented on #82
Is this based on your IP? RP underneath starts multiple ssh connections (3 I think).

Anyway, good that this isn't an halting issue anymore.

[2019-05-16 16:01] uvaaland commented on #82
I am not sure. But it means that anytime I `ssh` from the same machine, I will not be prompted for DUO. So it should not be an issue that it opens up several ssh connections as long as DUO has been put in once.

[2019-05-16 16:02] uvaaland commented on #82
What is the best way to figure out what might be going on when I am stuck at `gather results`. Could I abort (`Ctrl+C`) and check the log files?

[2019-05-16 16:04] uvaaland commented on #82
I think the DUO issue is tied to the ControlPath being different in the command line command and my config file. On my system, I use ~/.ssh/sockets as my ControlPath, and that should be why there was a mismatch between me running `ssh` directly on the command line and the Pilot trying to do the same.

[2019-05-16 16:08] vivek-bala commented on #82
Yes, you can Ctrl+C it. Give it about a minute as it might take some time. If it still doesn't abort after few minutes, you can Ctrl+Z and kill it (```$ kill %``` after Ctrl+Z). You should be able to whatever logs have already been created.

[2019-05-16 16:09] vivek-bala commented on #82
I see. Thanks for checking!

[2019-05-17 07:54] Weiming-Hu commented on #88
Of course.

The script I'm running `/glade/u/home/wuh20/github/hpc-workflows/scripts/application_AnEn/year_2/multi-node/runme.py`.

You should also have access to this folder `/glade/u/home/wuh20/github/hpc-workflows/scripts/application_AnEn/year_2/multi-node` to access some log files.

Pilot sandbox is generated at `/glade/scratch/wuh20/radical.pilot.sandbox`.

Thank you.

[2019-05-29 16:17] uvaaland commented on #82
The latest with this issue is that we have been able to work around the `ssh` issue when launching the pilot example `09_mpi_units.py` on Tigercpu, but it gets stuck at the `gather results` stage.

Checking the queue on Tigercpu shows that no jobs have been submitted, but several `ssh` connections have been made from the desktop machine onto Tigercpu. Since the session hangs and doesn't fail, I am

[2019-05-29 16:30] andre-merzky commented on #82
Please do interrupt with `CTRL-C` and attach the session sandboxes from the client and remote side.  Thank you!

[2019-05-29 16:37] uvaaland commented on #82
Attached are the session sandboxes from the client and remote side.

[session.tar.gz](https://github.com/radical-collaboration/hpc-workflows/files/3233506/session.tar.gz)

[2019-05-29 17:14] Weiming-Hu commented on #88
Hi @andre-merzky, sorry for not following up with this earlier. The process hangs for me after I invoke EnTK. Maybe it would be more convenient for both of us to have a chat sometime?

[2019-05-29 17:17] Weiming-Hu commented on #74
Currently working on the paper on using AnEn for PV forecasts. Part of the work includes feeding the AnEn forecasts into SolarSim and see how this result compares with a neural network. The comparison will be helpful when we decide to run the simulation at larger scales.

[2019-05-29 17:21] Weiming-Hu commented on #73
The paper on [PAnEn](https://weiming-hu.github.io/AnalogsEnsemble/) implementation and profiling has been submitted to the Journal of Earth Science Informatics. This paper covers profiling of the algorithm on a single node. Next step is to test AnEn with EnTK. But before that, I need make sure that the environment is properly set up (issue #88 and #87 ).

[2019-05-29 17:35] andre-merzky commented on #88
Hey @Weiming-Hu : yeah, sorry also from my end for not following up earlier.  I am in the process of reproducing this problem.  I had to recreate the pilot virtualenv on Cheyenne, and hope I have some more info until the call.

[2019-05-29 17:39] andre-merzky commented on #82
Hi Uno - that session seems to get terminated (by `CTRL-C`?) while the pilot is still being submitted - data staging seems to take a while?  20 min seems like a very long time...  Hmm.  I'll look into what is eating that time - meanwhile, can you please set `RADICAL_PROFILE=True` and run again, letting it run for some time longer (say, 40 min)?

This by no means should be a normal runtime, but I w

[2019-05-29 17:44] uvaaland commented on #82
Yes, I will get right to it. As mentioned, once I launch the example from my desktop machine I can see 9 `ssh` connections to Tiger from my desktop, but no jobs are being submitted to the queue.

I will let the job run for at least 40 minutes and report back. Thanks!

[2019-05-29 17:46] andre-merzky commented on #88
Good news: the pilot now gets submitted and runs again.

Not so good news: the client sees a segfault in Python because we hit some stack limit.  This may be one of the problems we see on other machines, where the default stacksize for python threads is very large.  I will have to look into this to confirm - if this is the problem, we can mitigate it.  If it is a new system limit we are hitting, i

[2019-05-29 18:36] uvaaland commented on #82
Session files for attempted run for ~50 minutes. The session still hangs at `gather results` and was interrupted with `CTRL-C`.

[session.tar.gz](https://github.com/radical-collaboration/hpc-workflows/files/3233927/session.tar.gz)

[2019-05-29 18:47] andre-merzky commented on #82
Thanks Uno - the behavior is the same, meaning that it hangs at the exact same log entry, when trying to submit the pilot to the batch system.  So it seems to me like the shared channel setup is successfully used for the data staging (the pilot data are staged completely into the pilot sandbox), but it seems insufficient to manage the channel used for the batch job submission.

I propose we try to

[2019-05-29 18:55] uvaaland commented on #82
Great, that sounds like a plan!

[2019-05-29 19:07] #89 closed

[2019-05-29 19:11] andre-merzky commented on #88
According to Vivek, this requires a support ticket with NCAR to increase thread and process limits.

[2019-06-03 06:32] andre-merzky commented on #82
It does, I think I have a mental image how we can get this to work.  It will not be a quick process unfortunately.

How far are we away from you being able to run useful science *from the login node*?

[2019-06-03 14:56] uvaaland commented on #82
The current status on the head node is that we were able to successfully run the Pilot MPI examples. The reason why we put this approach on hold for a bit was the inconvenience of dealing with the RabbitMQ dependency that ENTK has.

Now, Vivek has pointed out the options to get around this on the head node and I can take some time this week to look at it. That way we can move forward with getting

[2019-06-03 15:08] Weiming-Hu commented on #88
Thank you. Are you suggesting that I should submit a ticket to Cheyenne admin? I remembered that I have already asked them to increase my thread limit. Should I do it again?

[2019-06-03 15:22] andre-merzky commented on #88
I did submit a ticket - but did not yet get an reply.  If you got your  limit raised already and it still doesn't work, you are likely hung up on something different, or the limit was reset for some reason.  Either way though, I won't be able to reproduce the problem until support replies... :/

[2019-06-03 15:22] mturilli commented on #88
Hey @Weiming-Hu, I don't think any action is needed from you. It is for @andre-merzky and myself to open that ticket asking for our thread limits to be increased.

[2019-06-03 15:23] Weiming-Hu commented on #88
Thank you for the clearification.

[2019-06-03 15:30] uvaaland commented on #82
Successfully ran ENTK example `get_started.py` from the head node, using the VM option for the RabbitMQ dependency and with the `devel` branch of radical.pilot installed to pick up the `feature/tiger` commits.

That is, we have a successful run with ENTK on Tiger! 👍  I will document the required steps and then try an example run with SPECFEM on multiple CPUs and report back.

[2019-06-03 16:51] andre-merzky commented on #82
fantastic!  FWIW, tiger support will be part of tomorrows RP release....

[2019-06-05 13:51] uvaaland commented on #82
I have successfully run the SPECFEM mesher and solver through ENTK on Tiger with the Intel compilers. I have only run on CPUs, but this is enough to allow us to start playing with SPECFEM pipelines on Tiger. In other words, this is great news! 👍

One question I have is with regards to the `radical.pilot.sandbox` folder. By default it ends up in `$HOME`, but we only have ~20GB of storage in this lo

[2019-06-05 17:52] andre-merzky commented on #82
Hi Uno,

that sounds great  :-D

The pilot sandbox root is specified [here](https://github.com/radical-cybertools/radical.pilot/blob/devel/src/radical/pilot/configs/resource_princeton.json#L32) - `radical.pilot.sandbox` is created under the path specified here.

[2019-06-06 15:22] uvaaland opened #92 "How does EnTK distribute mesh files to all simulations?"
Considering the following diagram of the tomography pst model:

https://github.com/radical-collaboration/hpc-workflows-paper-y1/blob/master/figures/use_case_tomo_workflow_pst.pdf

How are the mesh files from the first stage made available to the forward simulations in the second stage?

Looking at the following script that was used to run the forward simulations on Titan, it looks like a symbolic

[2019-06-06 16:08] andre-merzky commented on #92
Reading the same file from a shared file system (e.g., by linking the file into the task sandboxes) should be fairly efficient, as the FS will move the file into local caches and optimize transfer.  Manually staging the data is likely slower, and only makes sense if that can be done before the tasks start - but since the compute nodes they will land on are not known, that won't work.

Concurrently

[2019-06-06 16:08] mturilli commented on #92
Performance of concurrent readings tend to decrease with scale but when performance degradation becomes an issue for an actual workflow, scale and machine depends on several considerations. For example:

* Capabilities of the serving filesystem: what is the performance curve for the actual storage subsystem, workflow and desired scale? For example, Summit offers more types of filesystems with much

[2019-06-07 14:16] uvaaland commented on #82
Hi, Andre! I see the `princeton.tiger_cpu` resource is still not available in the `master` branch. I am currently putting together some documentation on how to run EnTK on Tiger and am wondering if I should put in instructions for how to install the `devel` branch of the pilot or if the merge is just around the corner such that I can work with the `master` branch instead?

[2019-06-07 14:33] uvaaland commented on #82
So if I want to set a different path on Tiger, say `/scratch/gpfs/uvaaland/`, then I should update lines 32 and 36 in the resource file to reflect that?

[2019-06-07 15:16] mturilli commented on #82
Updating line 32 should be enough or do you need/want to change also the name of the VE used by RP?

[2019-06-07 15:17] mturilli commented on #82
Apologies, I see now what you meant. Yes, assuming you do not use in 32 then you would have also to edit 36

[2019-06-07 15:30] uvaaland opened #93 "Issue with `virtualenv` and `conda`"
Hi,

We have made great progress on Tiger and have been able to run some SPECFEM examples. I have been putting together documentation for this and tried to do it all from scratch again.

This is when I ran into an issue that I had seen before, but for some reason did not show up lately. The issue is that of initially creating the virtual environment `ve.princeton.tiger` if you are already in a con

[2019-06-07 15:39] uvaaland commented on #92
Thank you both for these thorough answers. This was not prompted by an observation that we have seen in our runs, it was simply a curiosity.

In the paper you found that the optimal number of concurrent tasks on Titan was 16. Given the amount of resources required by a single task (384 nodes) one would not be able to run more than tens of concurrent tasks on Titan. That is, the prospect of spawnin

[2019-06-07 19:51] mturilli commented on #92
I think you understand this correctly. Just consider that usually this is a problem for concurrent writing and much less with concurrent reading, and that if we want to understand 'how that equation changes' then we have to account for factors like those I listed above. Without a quantitative description of that 'equation behavior', we don't know whether the performance difference is as small as t

[2019-06-26 08:09] andre-merzky commented on #93
@iparask : Ioannis, do you have any input on this, maybe?  Thank you!

[2019-06-26 16:10] iparask commented on #93
Hello, I would suggest to create the virtual environment the way that conda does. For example:
[code]
That is if you want to use conda at the user level. If conda python is used on the resource level, I would suggest to change the python distribution from the pilot side.

@andre-merzky , changing the `python_dist` entry in the configuration file to `conda` instructs the bootstrapper to create a co

[2019-06-26 19:31] mturilli opened #94 "Brief summary of progress on Summit"

[2019-06-26 19:34] #68 closed

[2019-06-26 19:35] #27 closed

[2019-07-03 23:04] lsawade commented on #82
Hi!

I have been working with Unos example workflows to get specfem (and eventually my own workflow) running on the cluster here. While the CPU version seems to run smoothly, I have encountered some issues with the GPU queue.
I haven't been able to make a simple compiled GPU vector-add function without any inputs run.

One issue is usually that modules can't be found even though loading them in th

[2019-07-10 01:01] shantenujha commented on #82
Hi @andre-merzky @mturilli @lee212 --- gentle ping if you have any insight on what might be happening on Tiger?

[2019-07-10 10:28] andre-merzky commented on #82
Hey @lsawade, sorry for the late reply, but here are some answers I hope:

Indeed, that should not happen.  I don't see a `module purge` in the script you quoted, can you send what exactly you tried there so that I can try to reproduce it?  Thank you.  Do the `module load` commands you have above work like that, or do they also fail?

The req spec looks good to me, and that exact task spec seems t

[2019-07-10 19:04] #94 closed

[2019-07-10 19:11] #92 closed

[2019-07-15 18:41] lsawade commented on #82
Hi @andre-merzky,

I got stuff to work. And resources were allocated correctly.

I encountered a new error, which is not really an error per sé, but it worked before, so I thought it's worth a mention:
[code]
had to be changed to
[code]
otherwise I got the error that the port has to be an integer. I am sure you were aware of that.

For future reference, what logs do I look at for debugging in gene

[2019-07-15 20:14] lsawade commented on #82
[code]
had to be changed to
[code]

Just found in the docs, that that is the usual way...

[2019-07-19 16:58] andre-merzky commented on #82
Point taken.  It's unlikely that we will support partial nodes quickly - it's simply not high enough on the priority list I'm afraid - but we'll keep it in mind on the next iteration of the resource allocator.

Re int casting for the port: We opened a ticket in EnTK to fix that, thanks!

[2019-07-19 16:59] andre-merzky commented on #82
PS.: if the stack is working on Tiger otherwise, feel free to close this specific issue and open new ones for each problem you find.

[2019-07-23 21:12] lsawade commented on #82
So, I'm still having issues with my pipeline, but I am not sure what the issue is as of now since I'm just waiting until the wall time has run out.
I have a feeling that the issue might be me requesting 2 GPU nodes which probably in total requests three nodes (the radical node plus the 2 requested ones, right?).
Does it help if you cancel the computation and send you the tarball with the run info?

[2019-07-26 06:27] mturilli commented on #82
Hi @lsawade, I would open a new ticket:
- describing the issue you are encountering
- indicating the ID of the session that presented the issue (e.g., `rp.session.login1.mturilli1.018102.0001`)
- granting access to the session sandbox on Tiger (e.g., chmod 755 `radical.pilot.sandbox`)

In general, if you encounter an error and you execute a test, set the following environment variables:
[code]
and

[2019-07-27 16:51] lsawade commented on #82
Hi @mturilli,

I'll open a new ticket. I think there might be an issue in the communication when trying to run stuff through the tigergpu queue. I'll attach all necessary files and give all write and read access to the necessary directories.

I think this issue can be closed for now as EnTK is running on the TigerCPU cluster successfully without issue!

[2019-07-27 17:35] lsawade opened #95 "EnTK on the TigerGPU cluster"
Hi,

As @mturilli suggested (Here #82 ), I'll open a new ticket fo the more specific GPU problem.

To warn everyone, I do believe that this is caused by error 40 (the error sits 40cm in front of the screen).

First of all, the necessary locations:

- Specfem GPU installation `/tigress/lsawade/specfem3d_globe`; the installation runs successfully using slurm.

- the EnTK directory from where I ('m t

[2019-07-29 11:03] andre-merzky commented on #95
Well, tbh, I prefer `Error 40` over errors in our stack - they are usually simpler to fix (for us) :-D  So, don't worry about that! :-)

Alas, I can't access your sandbox:

[code]

You should be able to open it with:

[code]

Thanks!

[2019-07-29 11:05] andre-merzky commented on #82
Closing, discussion continues in #95.

[2019-07-29 11:05] #82 closed

[2019-07-29 14:35] lsawade commented on #95
That is true! From that point of view `Error 40` is always the better error!

I ran the commands you pointed out! I though I ran `chmod -R 777` on everything and that should run everything. Let me know if that worked!

[2019-07-29 15:07] andre-merzky commented on #95
Thanks.  FWIW, your sysadmins probably don't like a brute-force `0777` chmod - but yes, it worked :-)

I see this in the `agent_0.err` log:
[code]

There seems to be a problem with the number of allocated nodes.  The config files look correct:

[code]

You said that you ran `solver.py` - but that contains:
[code]
which seems to be a different setup.  Can you please check what exact `res_dict` you

[2019-07-29 15:08] andre-merzky commented on #95
PS.: please remove the `RADICAL_ENTK_VERBOSE` line from your script, and set `RADICAL_LOG_LVL=DEBUG` in your environment, to obtain full log files.  If the log disturb you when running the script, you can redirect them to a file by using `RADICAL_LOG_TGT=rct.log`.

[2019-07-29 15:15] lsawade commented on #95
Ok, I will try that and get back to you!

[2019-07-29 15:30] lsawade commented on #95
Ok, so, the resource dictionary is supposed to have the actual number of gpus and cpus of the nodes and then I request a specific amount from that pool at task level?
Am I understanding this correctly?

[2019-07-29 15:33] andre-merzky commented on #95
not quite: the resource dict is supposed to capture the resources your *workload* needs, and our stack is supposed to figure out how many nodes to request to have the sufficient amount of resources.  assume you need 4 cores and 16 GPUS - the stack should allocate 4 nodes (28*4 cores, 4*4 GPUs) to satisfy that, even if that means that some (well, many) cores will remain idle.

[2019-07-29 15:37] lsawade commented on #95
Ok, I see so when I put
[code]
That is the correct amount I am requesting of the cluster. However, as of now, the stack has issues communicating this?

[2019-07-29 15:48] andre-merzky commented on #95
Yes - thanks for confirming then,  I'll try to run this.

[2019-07-29 16:30] lsawade commented on #95
Just as a reference, all files concerning this `pipeline` can be found in the following repository:

[simple_entk_specfem](https://github.com/lsawade/simple_entk_specfem)

[2019-07-30 09:09] mturilli commented on #95
I left a couple of comments in two tickets at https://github.com/lsawade/simple_entk_specfem. Looking forward to discuss this later today in our meeting.

[2019-07-30 12:45] andre-merzky commented on #95
@lsawade : can you please post again what `radical-stack` you are using?  You should upgrade to `0.70.0` for all layers (which is the version uploaded to pypi - so a `pip install radical.entk` should give you that stack  on a fresh virtualenv.

I am asking because I can't seem to reproduce that problem on the current stack :-/

[2019-08-05 14:54] mturilli opened #96 "Annual Project Report"
Work on common sections and on site specific components

[2019-08-06 19:17] mturilli commented on #95
Princeton to provide a batch script to run the executable(s) of the workflow, independent from EnTK. This will facilitate the debugging of the reported issues.

[2019-08-07 19:10] #74 closed

[2019-08-07 19:11] mturilli commented on #74
Weiming to execute two workflows that build upon each other. Likely, these workflows will not require new capabilities in EnTK

[2019-08-12 01:17] lsawade commented on #95
Hi @mturilli, for the initial problem, I had provided a batch script in th [simple_entk_specfem](https://github.com/lsawade/simple_entk_specfem) repository. It's called ``submit_GPU.sh``. I don't think, I mentioned it explicitly. Sorry, for the delay!

[2019-08-18 18:06] shantenujha commented on #96
Please find a link to NSF Report for PY3:
https://docs.google.com/document/d/1uk_QuwuYY10CAB6x2bLpDiKbUmfGchOZKy5B-4EguEs/edit

I've updated most entries (where needed). PSU / Princeton / Rutgers team members should be able to update where explicitly requested.

[2019-08-21 19:09] #91 closed

[2019-08-21 19:15] mturilli commented on #88
Closing because the workflow is not used anymore

[2019-08-21 19:15] #88 closed

[2019-08-21 19:15] mturilli opened #97 "EnTK is broken on Cheyenne"

[2019-08-21 19:15] #87 closed

[2019-08-21 19:16] #73 closed

[2019-08-21 19:19] mturilli commented on #48
Ported.

[2019-08-21 19:19] #48 closed

[2019-08-22 08:46] lsawade commented on #95
Hi @andre-merzky,

are there any updates? I'm close to finishing my full EnTK pipeline and would like to get it up and running when I'm back in Princeton in the beginning of September. At the moment the pipeline is of course - sadly - dry and untested because I'm still on a boat and ssh-ing to the server to work is not as nice as I hoped. But most of my code is unit-tested, so the only barrier to

[2019-09-04 19:12] #93 closed

[2019-09-04 19:15] mturilli commented on #84
10/11/19 planned

[2019-09-04 19:26] andre-merzky commented on #95
Our task execution script contains these lines:
[code]

the ldd command outputs :
[code]
which is unexpected and leads to a later MPI error when running the appliation code.  This should point to the intel MPI module, IIUC.  So we need to figure out why our stack results in a different lib resolution.

[2019-09-05 02:46] lsawade commented on #84
Hi @mturilli, I won't be able to attend that week, because I am in Portland for a deep earth workshop. Is it possible to move the meeting up one week?

[2019-09-05 05:16] lsawade commented on #95
Hi @andre-merzky,
It seems like you are using older modules. Could that be an issue? I have been working with the ones defined here: [Simple_Specfem_ENTK/submit_GPU.sh](https://github.com/lsawade/simple_entk_specfem/blob/master/submit_GPU.sh).

I fixed up the pipeline and the batchscript, and tested the batch script already and it runs.
You just have to create a directory, where you run specfem, a

[2019-09-16 22:41] lsawade opened #98 "Run Stage from headnode"

[2019-09-16 22:44] lsawade commented on #98
Hi,

As I mentioned before, I would like part of the code to be run from the node that is connected to the internet to download data files if possible. @andre-merzky mentioned that this was a simple directive, but I haven't been able to figure it out from the documentation. Could you hint me where to look?

Thanks!

Lucas

[2019-09-17 18:29] lsawade commented on #98
[Exisiting Issue...](https://github.com/radical-cybertools/radical.entk/issues/359)

[2019-09-17 18:29] #98 closed

[2019-09-17 18:29] lsawade commented on #98
Sorry, I did not remember making this an actual issue ...

[2019-09-18 18:50] cervone commented on #96
Our document has been submitted and approved

[2019-09-18 19:08] mturilli commented on #95
GPU support will become critical starting from December 1

[2019-09-18 19:20] mturilli commented on #96
Submitted and approved.

[2019-09-18 19:20] #96 closed

[2019-09-24 13:44] andre-merzky commented on #97
The discussions with NCAR's support staff are somewhat ridiculous, to be blunt, and I don't see this being resolved anytime soon.  Do we have any other line of support for Cheyenne apart from the official support channels?
@mturilli : any idea who we could contact?

[2019-09-24 13:56] andre-merzky commented on #97
Thanks Guido, I will do that.

[2019-10-02 19:00] andre-merzky commented on #97
I got the required information.  CISL supports virtualenv in it's custom wrapper.  Applying this to our stack needs some work, but should be doable.  Alas, Cheyenne went up and down last week, to I did not make progress toward implementing that...

[2019-10-02 19:11] mturilli commented on #84
Confirmed for 10/10, 10am

[2019-10-02 19:15] jeroentromp commented on #84
Friday October 11, not 10/10.

On Oct 2, 2019, at 3:11 PM, Matteo Turilli <notifications@github.com<mailto:notifications@github.com>> wrote:

Confirmed for 10/10, 10am

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/radical-collaboration/hpc-workflows/issues/84?email_source=notifications&email_token=ABMOQXEUVXTCZJA3HLXNWI3QMTW

[2019-10-16 19:10] mturilli commented on #97
Large PSU allocation, 1 to 2K core hours per experiment, several experiments and needs for scale. This will be required by the end of October.

[2019-10-16 19:12] #84 closed

[2019-11-01 18:17] mturilli commented on #97
This is now escalated. This might be required to update a presentation that is coming up in 2 months. We should see whether fixing Cheyenne is reasonably fast. If not, we should move to a different resource to be defined.

[2019-11-15 19:06] mturilli commented on #97
We got feedback from the sysadmins and we are now testing a new virtual environment. We should know whether it works by the beginning of next week

[2019-11-15 19:18] mturilli opened #99 "Support Rhea with SLURM"

[2019-11-21 12:44] andre-merzky commented on #97
See radical-cybertools/radical.pilot/pull/1999

[2019-11-21 14:03] Weiming-Hu commented on #97
Hooray! I'm going to give it a try as soon as possible! Thank you!

On Thu, Nov 21, 2019, 07:44 Andre Merzky <notifications@github.com> wrote:

[2019-11-21 14:20] andre-merzky commented on #97
@Weiming-Hu : Excellent, thank you!  Please note that you need the devel branches for radical.utils and radical.saga, and remember that this is Python 3 :-)  MY module set is:

[code]

I did not yet try to use the intel compilers or OpenMPI - let me please know if you need those, then we need to add some configuration options.

[2019-11-21 14:46] Weiming-Hu commented on #97
That's sounds good. Thanks.

On Thu, Nov 21, 2019, 09:20 Andre Merzky <notifications@github.com> wrote:

[2019-11-24 02:50] wjlei1990 commented on #99
Hi Matteo,

I just tried `radical.saga` on RHEA and I can't get it to work.

The thing is I reinstalled everything(new conda and new virtual env with conda), and install the saga in the brand new virtual env:
[code]
Then I just write a simple script to test if `saga` works on rhea. My script is below:
[code]
Then run the code and the code gives me error instantly:
[code]
I looked into the code and

[2019-11-24 06:12] wjlei1990 commented on #99
A few more comments  and questions on the `radical.saga`

1. The slurm verion on RHEA is `19.05.0`. `#SBATCH -N` is required in the header.

https://github.com/radical-cybertools/radical.saga/blob/devel/src/radical/saga/adaptors/slurm/slurm_job.py#L493

Also, the `working_directory` is `#SBATCH --chdir` in `slurm 19.05.0`.

2. I am not sure how to set the header information in my job script. Here

[2019-11-25 04:44] wjlei1990 commented on #99
I have another question about the logger in `radical.saga`.

Based on the tutorial, I can set the logger by:
[code]
However, based on my test runs, the command is not effective at all.

When I run `radical.saga`, there are some log files generated in the running directory.
[code]
However, there is nothing shown in those log files.

I noticed the `radical.saga` now used the `radical.utils.logger`,

[2019-11-25 12:38] mturilli commented on #99
@wjlei1990 thank you for the feedback.

I added @andre-merzky to the ticket as there might be some issues with `radical.saga` that are not specific to `reha`:
- type of timeout
- logging

@lee212 please feel free to open a ticket for each issue specifically related to `rhea` in the `radical.saga` repository referencing this ticket.

[2019-11-25 13:04] andre-merzky commented on #99
Hi @wjlei1990 ,

for the logging to work, setting `RADICAL_LOG_LVL=DEBUG` should be all you need.  With the naming transition from `saga-python` to `radical.saga` a while back we were able to unify those settings across the stack, at last!  The `SAGA_*` variables are not supported anymore.

Similarly, I see that you mention the `saga-python` module in your initial post - that still exists from som

[2019-11-26 04:28] wjlei1990 commented on #99
Hi Andre,

Thanks for your feedback.

1. For the logging, it works!

2. I install the `radical.saga` from source code that got cloned from the github repo(and then `pip install .`). Below is the output from `radical-stack`.
[code]

3. Using `saga.job.Service("slurm://rhea.ccs.ornl.gov/")` will gives me errors.
[code]
Here is my routine. I logged onto RHEA and run `radical.saga` jobs on the logging

[2019-11-26 04:47] wjlei1990 commented on #99
Also, with regarding to my previous [question](https://github.com/radical-collaboration/hpc-workflows/issues/99#issuecomment-557861194), could you tell me in my scenario and use case, how to set `--ntasks-per-node` or `--cpus-per-task` correctly? Or do I even need it or not?

[2019-11-26 19:43] lee212 commented on #99
@andre-merzky , I can't get my rp stack working on rhea, my env is failed with the error:
```caught Exception: [Errno 28] No space left on device```
This may be caused by retired `lustre altas` but I need to find out how to resolve this because updating json configuration file with Alpine GPFS didn't fix the problem. This is for py3, not py2 BTW.

[2019-11-26 19:55] wjlei1990 commented on #99
@lee212 might also be your home(or where you run the script) is running out of space :)

[2019-11-26 21:23] wjlei1990 commented on #99
!!! Urgent...the code is complaining on RHEA `Could not detect shell prompt (timeout) `:
[code]

[2019-12-01 21:52] andre-merzky commented on #99
Hi @wjlei1990 : I am not sure what's up with the shell prompt problem - is that repeatable?  What exactly are you running?

The SAGA slurm adaptor is now fixed for Rhea (in the saga branch `fix/rhea`), but I need to iterate on RP and EnTK a bit more.

[2019-12-02 06:51] wjlei1990 commented on #99
Hi @andre-merzky , it seems to always fail in one of my virtual environment (created by conda)...It just keeps trying and timeout. However, it works for some other virtual enviroment. I gues it would be my virtual environment issue.

However, even in some virtual envs it works, it still tries multiple times to get the shell prompt. Do you think you could be able to fix it anyway. I guess this is n

[2019-12-02 08:11] andre-merzky commented on #99
Hi @wjlei1990 : This should not depend on the virtualenv, or at least I can't see how.  Can you send me the command or code you are running please, and I'll try to reproduce it.

[2019-12-03 04:45] wjlei1990 commented on #99
This seems doesn't work for me, at least it doesn't generate the `pty.log` file for me.
[code]
So I just used the `RADICAL_LOG_LVL=DEBUG`.

The successful case is here, in the file `radical.saga.cpi.log`. Even it is successful, I think it tries multiple times to find the shell prompt (between line 10 to 15)
[radical.saga.cpi.log](https://github.com/radical-collaboration/hpc-workflows/files/3914614

[2019-12-03 04:50] wjlei1990 commented on #99
Here is a bad case(in another vritual env).

Starting from line 10, you can see it keeps tring..utils it reaches max try.
[radical.saga.cpi.log](https://github.com/radical-collaboration/hpc-workflows/files/3914631/radical.saga.cpi.log)

I also zip all the logs if it helps you locate the issue.
[slurm_work.bad.zip](https://github.com/radical-collaboration/hpc-workflows/files/3914638/slurm_work.bad.

[2019-12-03 09:28] andre-merzky commented on #99
Thanks for the logs, @wjlei1990 !

What happens if you run this on the command line:

[code]

This should result in a new shell running rather quickly:
[code]

Did you try
[code]

Can you show me the output of
[code]

Thanks!

[2019-12-06 19:11] mturilli opened #100 "Support GPU MPS on Summit"
@wjlei1990 to provide some details in this ticket.

[2019-12-06 19:24] mturilli opened #101 "Face to face meeting Rutgers/PSU"

[2019-12-06 19:25] mturilli opened #102 "Face to face meeting Princeton/Rutgers"

[2019-12-06 19:27] wjlei1990 commented on #100
@wjlei1990 finish the doc: https://docs.google.com/document/d/1uugJsRRSTHDhMFb3NWaRRPwyoMiNPKn6sr2iO3IqMaQ/edit#heading=h.k670rad7dcz1

[2019-12-06 19:29] wjlei1990 commented on #100
The summit support `GPUMPS`. The user just need to put one extra line in their batch script:
[code]
And then the `jsrun` to configure the resource allocation correctly. Using our current specfem software as an example, we used 384 mpis, so previously it will use 384 cpu cores and 384 GPUs.(each cpu core and GPU will only handle one MPI)

So the jsrun run command would be:
[code]
Say now we want to

[2020-01-03 02:15] wjlei1990 commented on #99
It seems the fix you put into the code [here](https://github.com/radical-cybertools/radical.saga/blob/devel/src/radical/saga/adaptors/slurm/slurm_job.py#L488) doesn't work for me.
[code]
In my case, the `self.rm.host.lower()` will get the value `localhost`. It is not `*rhea*`...

Could you confirm it?

[2020-01-10 15:36] shantenujha commented on #99
@andre-merzky @lee212 -- can you confirm @wjlei1990 query please  ?

[2020-01-10 15:57] andre-merzky commented on #99
Thanks for the ping!

RP should by now have [config files](https://github.com/radical-cybertools/radical.pilot/blob/devel/src/radical/pilot/configs/resource_ornl.json#L7) which use the FQHN in the job access URLs, even for local access.  Can you please check if this is the case in the RP version you have installed?  If not, you may want to either change the respective config entries (python2)  or

[2020-01-24 17:23] wjlei1990 commented on #99
Got it. Thanks. Let me check it an I will post updates here.

[2020-01-24 17:24] Weiming-Hu commented on #97
I ported my code to python 3. There seems like a small issue with mongoDB (mlab).
[code]

[2020-01-24 19:09] mturilli commented on #102
March 5 or 6, whatever works best for the teams.

[2020-01-24 19:10] mturilli commented on #99
This works now, closing

[2020-01-24 19:10] #99 closed

[2020-01-24 22:16] mturilli commented on #97
@Weiming-Hu , as discussed in our meeting, this is probably due to using `mlab` that, after MongoDB acquisition, is not supported anymore by RCT. Please ping me on Slack and I will give you an alternative mongodb endpoint.

[2020-01-26 23:15] mturilli commented on #102
Apologies, @andre-merzky will be at Rutgers 8-16 March. Could we have our meeting at Rutgers either 10, 12 or 13 of March?

[2020-01-26 23:21] jeroentromp commented on #102
My preference would be March 10.

Jeroen

On Jan 26, 2020, at 6:15 PM, Matteo Turilli <notifications@github.com<mailto:notifications@github.com>> wrote:

Apologies, @andre-merzky<https://github.com/andre-merzky> will be at Rutgers 8-16 March. Could we have our meeting at Rutgers either 10, 12 or 13 of March?

—
You are receiving this because you were assigned.
Reply to this email directly, view it

[2020-02-14 19:13] mturilli commented on #101
Agreed on March 8th morning.

[2020-02-14 19:14] mturilli commented on #100
Radical team has to discuss how to render this in RP.

[2020-02-14 19:20] mturilli opened #103 "Porting data processing from Rhea to Summit"

[2020-02-14 19:20] mturilli opened #104 "Testing the simulation portion of the workflow on Summit"

[2020-02-18 20:45] iparask commented on #100
https://docs.olcf.ornl.gov/systems/summit_user_guide.html#mps

[2020-02-18 20:46] andre-merzky commented on #100
Note from RP discussion:
we likely express this as GPU threads, and cap by max number of shareable ranks.

[2020-02-19 20:49] mturilli commented on #97
@andre-merzky , @Weiming-Hu and I tested his script on Cheyenne. We get the following error:
[code]

[2020-02-19 21:46] andre-merzky commented on #97
We use a static VE on Cheyenne, and that has been created before the RCT stack introduced munch as a new dependency.  This can be fixed by installing the module in the static ve, like:
[code]

[2020-02-19 21:46] andre-merzky commented on #97
Let me do that (you may not have write permissions)

[2020-02-21 10:11] andre-merzky commented on #97
So, in a sad turn of events, it seems that we are back to square-1 with our Cheyenne support.  We now face the exact same problem we originally had with `virtualenv` when using `ncar_pylib`.  As a recap: the last time we did not get any useful feedback from support, so Guido pointed us to a contact which suggested to use `ncar_pylib` instead of virtualenv.  That got us runnin - but now we see the

[2020-02-21 18:15] cervone commented on #97
Hello,

At this point, can we use a different system other than Cheyenne?  WE are really in a rush to produce results, and if there is a way to get it to run elsewhere, then it is a perfectly fine solution.

Guido

On Feb 21, 2020, at 5:11 AM, Andre Merzky <notifications@github.com<mailto:notifications@github.com>> wrote:

So, in a sad turn of events, it seems that we are back to square-1 with our

[2020-02-21 22:07] andre-merzky commented on #97
Hi Guido @Cervone, that's probably sensible.  The first iteration with support was useless again - I'll keep that channel open of course, but ...

Matteo and I discussed this, and we should try to get you running on Stampede2 meanwhile, just to unstall.  Can you remind me please, do you have accounts / allocation on Stampede2?

Best, Andre.

[2020-02-22 13:48] cervone commented on #97
Hi

Weiming, what do you think?   Guido

On Feb 21, 2020, at 5:07 PM, Andre Merzky <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Guido @cervone<https://nam01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fcervone&data=02%7C01%7Cguc18%40psu.edu%7Cc54ba7360dce4ddfb19d08d7b71a725e%7C7cf48d453ddb4389a9c1c115526eb52e%7C0%7C0%7C637179196529815998&sdata=y5%2FMuu

[2020-02-22 22:00] Weiming-Hu commented on #97
I don't think it's a problem for me. I need to move the dataset. As soon as
I'm assigned with an account and allocation, I can start running them.

On Sat, Feb 22, 2020, 08:48 Guido Cervone <notifications@github.com> wrote:

[2020-02-22 22:26] andre-merzky commented on #97
@mturilli: can you advise on account creation, please?

[2020-02-23 15:36] Weiming-Hu commented on #97
@mturilli I might already have one. I can log onto the XSEDE portal and Stampede2. Does that mean I can start transferring directly? I'm not sure where I should put my data though. Could you help me with that? Thank you.

[2020-02-24 01:04] mturilli commented on #97
@Weiming-Hu do you see your allocation on Stampede2 from your xsede account? How much data do you have to transfer?

[2020-02-24 03:48] Weiming-Hu commented on #97
I can see the allocation status to be 2714.0 / 95896.0 SUs. I suppose that
I can use this allocation?

For data storage, I need to transfer about 10 T.

On Sun, Feb 23, 2020 at 8:04 PM Matteo Turilli <notifications@github.com>
wrote:

--

Weiming Hu
Geography Ph.D. Candidate
Geoinformatics and Earth Observation Laboratory
The Pennsylvania State University
http://geolab.psu.edu/
https://weiming-hu.

[2020-02-24 10:52] mturilli commented on #97
Yes, that means you have access to our allocation. 10T in XSEDE terms are a lot of data. We will have to see how to get you that space but, meanwhile, you could use $SCRATCH on Stampede2? It has no space limit but has a **purge** policy if access time is more than 10 days old. I know this is suboptimal but I also know you are in a hurry.

From https://portal.xsede.org/tacc-stampede2#table3: "*The

[2020-02-24 12:10] Weiming-Hu commented on #97
Sounds good. I'll start doing this right away. Thank you.

On Mon, Feb 24, 2020, 05:52 Matteo Turilli <notifications@github.com> wrote:

[2020-02-28 18:56] wjlei1990 commented on #100
Error using `pip install radical.ensemblemd` in python3 and virtualenv.

[code]

[2020-02-28 18:57] andre-merzky commented on #100
This looks like a Python version issue - looks like you are using an old version of EnTK with Python3?

[2020-02-28 19:01] wjlei1990 opened #105 "radical.ensemblemd documentation link breaks"
Hi I can't get access to the documentation using the entk's [main page](https://radical-cybertools.github.io/entk/quick_start.html).

If I clicked the `Quick Links` and `Documentation`, it said `Not Found`.

[2020-02-28 19:03] wjlei1990 commented on #100
Hi, I am using pip install to directly install entk. I guess I should install for source right?

[2020-02-28 19:06] mturilli commented on #105
https://radicalentk.readthedocs.io/en/latest/

[2020-02-28 19:09] mturilli commented on #104
* Installing RCT stack with python 3:
  - Install via `pip install radical.entk` with python 3. See #105 for the authoritative documentation.

[2020-02-28 19:11] mturilli commented on #102
Confirm March 10 at Rutgers.

[2020-02-28 19:12] mturilli commented on #101
Either 7th or 8th, to confirm preference.

[2020-02-28 19:13] mturilli commented on #100
Not critical, Rutgers to discuss internally how to best support this.

[2020-02-28 19:15] mturilli commented on #97
Moved to Stampede2, avoiding Cheyenne for the foreseeable future.

[2020-02-28 19:15] #97 closed

[2020-02-28 19:16] andre-merzky commented on #97
If we ever tackle this again, we may want to try our own Python deployment.

[2020-02-28 19:16] #61 closed

[2020-02-28 19:17] andre-merzky commented on #95
AM to contact support and CC Jeroen.

[2020-03-04 18:49] mturilli commented on #102
After internal discussion, the Rutgers team will be happy to go to Princeton. See you soon there!

[2020-03-04 21:02] mturilli commented on #102
Yes, we are indeed planning to be there at 10am. Should be there before then?

[2020-03-04 21:05] jeroentromp commented on #102
10 am is fine, but earlier would mean we can probably finish by noon. You want to avoid rush hour, but 9:30 may be OK?

On Mar 4, 2020, at 4:02 PM, Matteo Turilli <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes, we are indeed planning to be there at 10am. Should be there before then?

—
You are receiving this because you were assigned.
Reply to this email directly, view it

[2020-03-04 21:25] mturilli commented on #102
We will aim for 9:30am then.

[2020-03-05 01:22] #105 closed

[2020-03-05 01:24] wjlei1990 opened #106 "`conda install` doesn't work durinng installation"
Hi, I found  in the doc it also stated that we could use conda to install radical.entk.

In my environment I got error somehow:
[code]

Do I need to add some conda channel or so? Here is my conda version:
[code]

`pip install radical.entk` works for me.

[2020-03-05 02:25] wjlei1990 opened #107 "mongodb URL issues"
Hi,

Which mongodb url should we use for  Princeton team? Do we need to create our own?

In some old [docs](https://github.com/uvaaland/pugeo-userguides/blob/master/entk-on-princeton-desktop/00_installing_entk_on_princeton_desktop_computer.ipynb), it said we could use this one:
[code]

But I tried and it doesn't work any longer.

[2020-03-05 04:23] wjlei1990 opened #108 "ENTK running example in doc error"
Hi,

I am trying to run the entk example on summit `localhost` here https://radicalentk.readthedocs.io/en/stable/user_guide/adding_data.html

However, there is error shown up when I run the code:
[code]

I think it is coming from this line:
[code]
I tried to print the `p.uid`, `s1.uid`, and `t1.uid`. They are all `None`.

Do you have any idea?

My env:
[code]

[2020-03-05 08:39] mturilli commented on #106
We did not publish our stack for linux_ppc64 on conda-forge. We are now in the process of building our stack to publish it for that architecture. If you are in a hurry, you can just use virtualenv and skip conda altogether.

[2020-03-05 08:41] mturilli commented on #107
Since when it was acquired by MongoDB, mlab API broke and we moved away from it. Please ping me on Slack and I will give you a usable mongodb server endpoint.

[2020-03-05 13:47] wjlei1990 commented on #106
No problem.I used conda env and pip install to install them in my conda virtual env

[2020-03-05 13:47] #106 closed

[2020-03-05 13:50] wjlei1990 commented on #107
Hi Matteo, I tried to log into the old workspace in slack but it seems somehow been de-activated. Could you send me another invitation link to your current workspace or so? My email account is: lei@princeton.edu

[2020-03-05 15:22] mturilli commented on #107
Done, let me know whether the invitation works.

[2020-03-05 15:56] wjlei1990 commented on #102
Hi Matteo, do you have any plans for the meeing in your mind? Do we need to prepare anything for the meeting?

[2020-03-05 20:24] wjlei1990 opened #109 "ENTK hangs on Summit"
Hi My current entk python script hangs when running on summit.

I copied my files to world shared directory here so you may replicate the my tests.
[code]
I also prepared a bash script for you to launch job directly.
[code]

The system modules I used:
[code]

[2020-03-05 20:51] lee212 commented on #109
At the line number 46 of `run_job.py`, `schema` would be `local` instead of `jsrun`.

[2020-03-05 20:51] andre-merzky commented on #109
As per slack exchange: the pilot sees a `SIGNAL 2` while running - no other `ERROR` logs, no suspicious `*.err/*.out` files

[2020-03-05 20:52] wjlei1990 commented on #109
@lee212 I actually used 'local' on summit...sorry, `jsrun` is just one try...

[2020-03-05 21:01] lee212 commented on #109
@wjlei1990 , thanks for the confirmation. No worries, I used your script on my account and have a similar issue.

[2020-03-05 21:03] wjlei1990 commented on #109
Thanks for the help :)

[2020-03-05 21:08] lee212 commented on #109
`queue` is missing e.g. `queue:"batch"` in the `res_dict`?

[2020-03-05 21:09] wjlei1990 commented on #109
OK Let me try now

[2020-03-05 22:00] wjlei1990 commented on #109
I tried adding `"queue":"batch"` and the job still hangs...

[2020-03-06 01:17] lsawade commented on #95
Hi everyone,
So I have tried running a "Hello World" example, without any luck. Maybe there is a simple fix.
I followed the EnTK installation from the link that was provided during the last meeting ran the folowing script:
[code]
[code]

The wall time is set to 200s, so the error must lie somewhere else.

The exported variables are the following:

[code]

Some ideas?

[2020-03-06 19:08] lsawade commented on #109
Talked to @wjlei1990, issue I’m facing in Tiger #95 seem to be the same.

[2020-03-06 22:59] Weiming-Hu opened #110 "Error on Stampede2 while loading shared libraries"
I have had the following errors while trying to submit jobs to XSEDE Stampede2.

[code]

I have loaded `python3` when I specified my jobs as follows:

In [workflow_cfg.yml](https://github.com/radical-collaboration/hpc-workflows/blob/master/scripts/application_AnEn/year_3/workflow_cfg.yml#L27)
[code]

Then in [task_anen_gen.py](https://github.com/radical-collaboration/hpc-workflows/blob/35546de8391

[2020-03-09 16:01] mturilli commented on #102
Due to the covid-19 containment policies, this meeting will be now held remotely. Here a tentative agenda, please edit and add as you see fit: https://github.com/radical-collaboration/hpc-workflows/wiki/F2F-Meeting-09-Mar-2020-(PU,RU)

[2020-03-10 13:16] wjlei1990 commented on #102
Hi All, we have updated our slides in the wiki

[2020-03-10 13:36] andre-merzky commented on #109
@lee212 : you said you were able to reproduce this, right?  Do you already have any idea whats up?

[2020-03-10 14:18] mturilli opened #111 "Support of Traverse at PU"
@lsawade to provide details about how to access the machine.

[2020-03-10 14:19] mturilli opened #112 "Running Lucas's EnTK workflow on Traverse"
Depends on #111

[2020-03-10 14:21] mturilli opened #113 "GPUMPS support for PU workflows"

[2020-03-10 14:27] mturilli opened #114 "Document data staging with examples"

[2020-03-18 16:09] lee212 commented on #109
This seems related to resource over-allocation, and the correct description would be:
[code]
and the task resource would be:
[code]

this will result in:
[code]

[2020-03-19 17:56] Weiming-Hu opened #115 "AnEn MPI with EnTK resource/pipeline specification details"
Hi,

I'm trying to run my updated AnEn executable with MPI with EnTK.

First of all, do you already have some demos/examples of related use cases that I can refer to?

I have coded up my own trial version for [resources](https://github.com/radical-collaboration/hpc-workflows/blob/master/scripts/application_AnEn/year_3/resource_cfg_stampede.yml) and [pipeline specification](https://github.com/radic

[2020-03-20 15:47] wjlei1990 commented on #109
Hi could you explain to me why in `res_dict`, the value of `cpus` is `168`.

[2020-03-23 16:30] lee212 commented on #109
Summit compute nodes have (2) 22-core Power9 CPUs where each core supports 4 hardware threads, resulting in `168 = 2 * (22 - 1) * 4`. 1 core on each socket has been set aside (-1) for overhead and is not available for allocation through jsrun.

I will look into the hangs on multiple tasks.

[2020-03-27 16:12] Weiming-Hu opened #116 "mpiexec or mpirun"
I have tested the OpenMP MPI hybrid program on NCAR Cheyenne. It appears to me that on Cheyenne, I need to run the program with mpiexec_mpt in order to achieve full performance.

I noticed that EnTK by default uses mpirun to launch programs (maybe I'm mistaken?), is there a proper way to change this? Do you have any suggestions for running hybrid programs on Stampede2?

Thank you

[2020-03-27 16:27] lee212 commented on #115
How many cpus (nodes) the job requires and each task?

When I see `workflow_cfg.yml` (task cpu requirement) and `resource_cfg_stampede.yml` (job cpu requirement), the numbers are identical but if you have `n` concurrent tasks (seems you have 6 tasks), the total cpu counts you request need to be `n` times of each task requirement. For example, if you use 68 cores (KNL provides) per task, your `reso

[2020-03-27 18:01] Weiming-Hu commented on #115
Here is an overview of my task.

- I have 262792 grids to process.
- Each task process 4000 grids which lead to 66 concurrent tasks.
- Each task roughly takes 30 minutes.
- Each task would be an OMP-OpenMP hybrid task that will start its own computation (thread and process pools).

I hope this is helpful. Thank you

[2020-03-27 18:13] mturilli commented on #115
Blocked #116

[2020-03-27 18:22] mturilli commented on #110
Solved by using `module purge`

[2020-03-27 18:22] #110 closed

[2020-03-27 18:27] #107 closed

[2020-03-27 18:28] #102 closed

[2020-03-27 18:28] #101 closed

[2020-03-27 18:32] lee212 commented on #108
It looks like a documentation error. Could you try `name` instead ~~p.uid, s1.uid, t1.uid~~? like:
[code]

I will get read the docs updated about this section.

[2020-03-27 18:34] mturilli commented on #109
This is critical for Summit allocation renewal. Data need to be ready that show we are running in production on Summit with EnTK.

[2020-03-28 17:58] andre-merzky commented on #116
We will provide an `mpiexec_mpt` configuration for RCT.

[2020-03-28 17:58] mturilli commented on #109
@wjlei1990 to address this we will need to reproduce your issue. Unfortunately, this means we will need some information from you:
- batch script (without EnTK) that correctly executes your executable. This will be our baseline.
- The workflow you are trying to use with EnTK with instructions on how to run it.

We will run your workflow first with a single task, comparing it to our baseline and co

[2020-03-28 20:46] Weiming-Hu commented on #116
Thank you Andre. Just to double-check this. `mpiexec_mpt` is on Cheyenne, but I'm not sure if it is available on Stampede2. Are you aware of any of this? Thank you.

[2020-03-29 01:41] wjlei1990 commented on #109
I think this may need some corrections.

I just tried one simulation which used 384 GPUS and 384 CPU cores. On summit the job should use `384/6=64 nodes`. However, if I asked for `64 * 2 * (22-1) * 4 = 10752 CPUs` and `384 GPUs`, the slurm showed the job asked for 128 nodes, which is not correct.

My resource alllocation:
[code]

[2020-03-29 02:25] wjlei1990 commented on #109
* the baseline example is located here: `/gpfs/alpine/world-shared/geo111/lei/entk/specfem3d_globe_990cd4`.
The bash script to launch the job is: `job_solver.bash`. You may directly submit and run it, to use as the baseline.

* The current entk python script I used is: `/gpfs/alpine/world-shared/geo111/lei/entk/run_entk.py`. It has only 1 stage and 1 task in that stage. The task is a forward SPECF

[2020-03-29 02:29] wjlei1990 commented on #108
As documented in the API docs here, for example:
`https://radicalentk.readthedocs.io/en/stable/api/app_create/task.html`

Is `uid` a attribute in the `Task` class?

[2020-03-29 09:01] andre-merzky commented on #108
`uid` is a valid attribute, but its value is assigned at a very late point in time,  during task submission, and thus it is still `None` when you try to use it.  `name` is assigned by the user immediately upon creation and is always valid, but it is the user's responsibility to keep it unique.  Last but not least, the resolution of data references (as for you input staging dependency) is done base

[2020-03-29 20:49] wjlei1990 commented on #108
Got it. Thanks for clarifying it.

So is the example in the doc still valid?
[code]

[2020-03-30 11:43] andre-merzky commented on #109
@wjlei1990 : thanks for the batch script!  What is the runtime we are expected to see?  I don't mind running this test, but getting jobs of that size will always take a bit and will burn some allocation.  If you happen to have a smaller test case available, let us know please :-)

[2020-03-30 12:43] andre-merzky commented on #116
Uh, I may read this ticket incorrectly - are you asking for `mpiexec_mpt` on Stamedee then?

BTW: it seems we run out of allocation on cheyenne?
[code]

[2020-03-30 12:54] andre-merzky commented on #116
To expand on MPT: MPT is an SGI specific MPI flavor.  Cheyenne is an SGI machine, and thus has that MPI version.  Stampede2 is a Dell machine, and has no MPT - and will not have.

Do you have specific problem with the used mpi version, like performance degredation, or was the question for MPT an attempt to reproduce the Cheyenne runs as closely as possible?

[2020-03-30 13:45] Weiming-Hu commented on #116
Hi @andre-merzky, Thank you for your reply.

For your first question on the overspending account, I'm going to pin @cervone so that he can help to resolve this.

For your second question: I guess right now, I don't have specific problems with MPI versions. Sorry for the confusion. Please let me expand on this a bit more.

The analog program is OpenMP and MPI hybrid but **there are no OpenMP codes

[2020-03-30 13:53] andre-merzky commented on #116
Thanks for the verbosity actually, that cleans things up!

Please set the EnTK equivalent of
[code]
that will provide all processes with the respective number of codes and will set `OMP_NUM_THREADS` accordingly.  Note though that this holds for *all* processes in the MPI task, not only for rank.0 !  At the moment, we can't express heterogeneous task layout, i.e., layouts where ranks in the same ta

[2020-03-30 13:55] andre-merzky commented on #116
The EnTK settings should be:
[code]

[2020-03-30 13:59] Weiming-Hu commented on #116
That makes perfect sense. And for the heterogeneous task layout, actually, in anen program, worker processes are allowed to create only one thread. It is assumed that all cores have been occupied by one process through proper setup and launching. So I wouldn't worry about "overloading" the machine.

So this is what I plan to do: I'm going to test run with the new settings (`threads_per_process` an

[2020-03-30 14:08] andre-merzky commented on #116
I am not worried about overloading, I am worried about *underloading* (underutilizing) the machine :-)  Assume you defined `treads_per_process` as 4.  Now every MPI  rank is assumed to have 4 OpenMP threads, and thus will get 4 cores assigned.  If the ranks (apart from rank.0) then only use one thread, then 3 out of 4 cores remain idle...

Lets see how much of a problem that will create...  Either

[2020-03-30 15:25] wjlei1990 commented on #109
Hi Andre, the running time shoule be around 1 min 20 sec, if submitted using lsf batch script.

[2020-03-30 23:46] andre-merzky commented on #109
When running the batch script, I see:
[code]
The runtime was about 4 seconds.  Do you have any suggestion?   I did a recursive copy of your `specfem3d_globe_990cd4` directory and run from there (needed write permissions to `OUTPUT_FILES/`).  Also, I had to enable the `module load` commands in the batch script to avoid unresolved library links.

[2020-03-30 23:58] lsawade commented on #114
# Downloading data from within workflow

One of the future goals of my workflow is whenever an initial solution for an
earthquake mechanism is available to run an inversion on this new earthquake.
For that workflow it would be of supreme convenience if the data download could
happen inside the workflow.

## Workflow

The workflow can be split into multiple stages.

1. Create database structure for

[2020-03-31 00:01] wjlei1990 commented on #109
Could you share the location of your running directory? May I take a look?

[2020-03-31 00:21] andre-merzky commented on #109
Sure!  It lives here:
[code]
But you will need to be in the `med110` group :-(  If you are not (which I guess) I can move to a world readable dir - but that will have to wait 'til tomorrow...

[2020-03-31 00:23] wjlei1990 commented on #109
I don't have access yet. From the error message itself, I can't tell what is going wrong. Just to do a quick check, could you submit the job again?

I am also trying to give a more clean and lean built SPECFEM. I will do some tests and update to you later.

[2020-03-31 00:27] wjlei1990 commented on #109
Hi Andre, I rebuilt the SPECFEM and could you copy it again to test. The newly built one now only used system modules and libraries. The previous one has dependency on one library that sits on my own home directory.

The SPECFEM3d sits in the same directory:
`$WORLDWORK/geo111/lei/entk/specfem3d_globe_990cd4`

[2020-04-03 13:10] andre-merzky commented on #111
We have preliminary support for Traverse now.  I still need to check GPU support though - otherwise the machine behaved fairly well :-D

The PRs in RS and RP are here:
  - RS: https://github.com/radical-cybertools/radical.saga/pull/778
  - RP: https://github.com/radical-cybertools/radical.pilot/pull/2112

[2020-04-04 03:55] lee212 commented on #109
@wjlei1990 , I tried with different node counts i.e. 1/2/4/8/16/32/64 which is equivalent up to 384 gpus. It seemed I was not able to replicate the hanging issue but my test runs showed that, for example, 384 gpus for single task has the resource file like:

[code]

Similar placements I observed for the other runs.

My script is almost identical to yours and it is located at `$WORLDWORK/csc393/hrl

[2020-04-04 09:33] andre-merzky commented on #109
Thanks @lee212 : that task layout looks correct to me.  I had the impression though that `MPI` would be needed?  That should result in the same layout though.

[2020-04-04 16:04] wjlei1990 commented on #109
Hi @lee212 , I copied your script to my directory:
[code]
However, the job is not successful. I doubt if your job is also succesful, since when I checked your job output directory, there is no output files generated:
[code]
In a successful run, the output should be like this directory:
[code]
Did you remove the output files of your job?

One more intesting behaviour I found in entk is, the python

[2020-04-05 05:14] lee212 commented on #109
Okay, I re-ran with the executable, and saw:

[code]

[2020-04-05 16:20] wjlei1990 commented on #109
I think you may missed some modules:
[code]
Maybe I should put them into my scripts.

[2020-04-05 18:44] lee212 commented on #109
I added these modules and ran a test only with 6gpus, result output is here: `/gpfs/alpine/world-shared/csc393/hrlee/hpc-workflow /run_with_module_load_6gpus`
I see some warning/error messages but are these okay to ignore, can you confirm?

Does it have to run with 384 gpus? I submitted new job anyway which will be likely starting on Monday 2pm.

[2020-04-06 12:53] lee212 commented on #109
Okay, the job with 384 gpus is also complete, it seems failed with some errors although these modules were added to `pre_exec`. The output is here `/gpfs/alpine/world-shared/csc393/hrlee/hpc-workflow/run_with_module_load_384gpus`

[2020-04-06 12:55] lee212 commented on #109
Just in case, my stacks are:
[code]

[2020-04-07 04:29] wjlei1990 commented on #109
Hi @lee212 I think I should have resolved most of the issue. I can successfully launch a few tasks in using ENTK. There is one remaining question. I found when the entk exit, the job however still stays on the job queue and keep buring hours, even though I think all the job should have finished.

Here is what ENTK print to the terminal.
[code]
I suppose the job should finish with the `All componen

[2020-04-07 08:27] andre-merzky commented on #109
Yes, the job should finish.  @wjlei1990 , can you please provide (or point me to) a *client* side sandbox to check what is happening?  That is an RP level error most likely.

[2020-04-07 15:12] wjlei1990 commented on #109
Hi Andre, I put one example here:
[code]

[2020-04-08 14:46] wjlei1990 commented on #109
Hi I would also like to know how to do performance benchmark? Things that are interesting for me including how to measure the overhead, and also like the time for each task and stage.

According to @lee212 suggestion, I put following flags on my `.bashrc` file.
[code]
I think ENTK will generate some profiling files. Could you provide me some instructions on how to use it?

[2020-04-08 16:29] lee212 commented on #109
radical.analytics might provide you some numbers/plots, but be aware that it is heavily under development and you may see errors/issues often. Please use it with caution. I think I have full instructions somewhere but a quick guide to try it out is here:

[code]

Once this is complete, you run analytics for a particular session, in practice I do like, for example,:
[code]

If this completes succes

[2020-04-08 22:03] lee212 commented on #109
@wjlei1990 , I know this is about testing 384 gpus for one task, for now, but do you or did you run a test with multiple tasks as well? I am just curious if the current version works seamlessly when we increase the number of concurrent tasks.

[2020-04-08 22:22] wjlei1990 commented on #109
I did test with 5 concurrent tasks and each task with 384 nodes. The job run successfully and output files looks good to me. I haven't done any performance check yet.

[2020-04-08 22:24] wjlei1990 commented on #109
Here is one example output from `radical-analytics-inspect`.

[code]

[2020-04-09 09:49] andre-merzky commented on #109
Hi @wjlei1990 :

Thanks - but that is the *pilot* sandbox.  I meant the session directory on the client side, i.e., which is created in the location where you run the EnTK script.  Thanks!

As for the analysis: there is something off with the utilization obviously, I'll  look into it. But in general, the utilization won't look great since you are not using the CPU cores, and we count those as idle

[2020-04-09 13:30] wjlei1990 commented on #109
Hi Andre, the directory is here:
[code]
This one is a small-scale job.

If you are looking for a full-scale job:
[code]

[2020-04-09 14:08] andre-merzky commented on #109
Thanks.  From the logs, it looks like the pilot job gets canceled all right:

[code]
Cancellation takes a while, but that's LSF taking its time.  Do you see the job alive for longer than a couple of minutes?

[2020-04-09 23:22] andre-merzky commented on #113
Is this a duplicate of #100?  If not, then I am not sure I remember what this ticket is about, apologies - does anybody have more details, please?

[2020-04-10 04:56] wjlei1990 commented on #113
Seems a duplicate one. There are tickets open for both summit and tranverse cluster.

[2020-04-10 15:18] Weiming-Hu commented on #116
This is the profiling for one task

[code]

The dimension of the task is

[code]

I would like to discuss during our meeting today about the possibilities of running the task at scale and whether we need further optimization.

[2020-04-10 15:32] Weiming-Hu commented on #116
This is the profiling with the second stage for the PV simulation with a single thread.

[code]

[2020-04-10 18:09] wjlei1990 commented on #109
Got you. So as long as the job finished with a few minutes within entk script exiting, it should be fine. I think I observed a few minutes for my small scale job. I haven't monitored the large-scale job yet since it is a bit difficult(to predict when the job will be running). But I will keep an eye on it.

[2020-04-10 18:12] mturilli commented on #113
Closed as a duplicate of #100

[2020-04-10 18:12] #113 closed

[2020-04-10 18:15] lsawade commented on #112
# Downloading data from within workflow

One of the future goals of my workflow is whenever an initial solution for an
earthquake mechanism is available to run an inversion on this new earthquake.
For that workflow it would be of supreme convenience if the data download could
happen inside the workflow.

## Workflow

The workflow can be split into multiple stages.

1. Create database structure for

[2020-04-10 18:26] #108 closed

[2020-04-10 18:28] mturilli commented on #95
Tiger proven to be unusable due to queue time. Closing for inactivity.

[2020-04-10 18:28] #95 closed

[2020-04-11 15:43] wjlei1990 opened #117 "Performance metric for radical.analytics"
Hi, I am recently doing some performance analysis for the ENTK tools on summit. The `radical.analytics` works great for our purpose but we find it might be usefull if it can generate more measurements metrics.

Currently, the `radical.analytics` will genetate one plain text file that summarize the usage of resource and 4 figures. It would be great if it can output more details in text mode(plain t

[2020-04-11 19:43] andre-merzky commented on #117
That's  an misunderstanding: the tools *do* analyze GPU utilization, too.  My point was that the utilization numbers will take both, GPU and CPU, into account - and since CPU cores are idle, the utilization numbers will look rather bad for GPU use cases.

Thanks for the list of metrics, we'll provide a script to dig them out.

[2020-04-13 15:57] wjlei1990 commented on #117
Cool. So maybe it should provide analytics data in various granularity.

[2020-04-19 21:45] mturilli commented on #117
@wjlei1990 we discussed your metrics and we think we are ready to give it a go. Would you have a meaningful session to share with the profiles of both EnTK and RADICAL-Pilot? We would then work on that session to produce some early plots for some of the metrics you have listed. We are planning to do that on a notebook that then we would share and you would be able to iterate/expand upon as needed.

[2020-04-21 15:39] wjlei1990 commented on #117
Hi Matteo, can you access those files on summit?

sandbox here `/gpfs/alpine/world-shared/geo111/lei/entk/sandbox/re.session.login5.lei.018358.0000`
and here `/gpfs/alpine/world-shared/geo111/lei/entk/re.session.login5.lei.018358.0000`

[2020-04-21 16:59] lsawade commented on #112
# I T ' S   R U N N I N G

[2020-04-21 17:07] lsawade commented on #112
The reason for that was misunderstanding in the GPU resource assignment!

For each task we have to set the CPU requirements to the correct number of MPI tasks like
[code]

But the GPU assignment is GPUs/Task. So if I need 6 GPUs for my 6 tasks the GPU count is one. Since it will assign one GPU to each MPI task:

[code]
Thank you!

[2020-04-21 17:24] wjlei1990 commented on #112
Compared to our last communication, what did you change to make it work?

[2020-04-21 17:59] lsawade commented on #112
I used the above resource dictionaries, that's all! So my specfem task with 6 MPI slices would look like this.

[code]

[2020-04-21 18:49] andre-merzky commented on #112
Yes, the naming used for the gpu specs is confusing, and we are planning to change that rather sooner than later.

@mturilli : just making you aware that this popped up again.

[2020-04-21 19:35] wjlei1990 commented on #117
A few more metric that came to my mind:
1. the number of nodes ENTK asked for to run the job script
2. the total running time of lsf job script.

I am not sure if it is easy for you to extract those values.

[2020-04-22 02:26] lsawade commented on #112
I'm encountering a new, but very different issue. In my project environment, much like the `radical-stack` function, I have "binaries" installed via `setup.py`. When I'm trying to run this or rather activate the environment in the pre-executables the workflow manager will not bow to my will. I'm probably just misunderstanding.

What I was thinking would work is the following task setup:

[code]

B

[2020-04-22 08:34] andre-merzky commented on #112
Hi @lsawade : since the pilot is running in it's own environment, it is indeed sometimes tricky to pull up a new virtualenv or conda env for the tasks.  But yes, we have some workarounds for that.  What surprises me though is that `conda` wouldn't be found after the `pre_exec` - that is something I need to look into.  I am glad you have a workaround...

[2020-04-22 15:58] lee212 commented on #112
@lsawade , my suggestion for the `conda` search is to update $PATH in your `pre_exec`, for example,
try this first on your bash shell to check the location:
[code]
If you can see where it is located, I would add it the `$PATH`:

[code]

I assume the behavior is somewhat different than you expected because you may have conda init in your `.bashrc`, for example on Summit,:
[code]

So your shell know

[2020-04-22 16:59] mturilli commented on #117
From slack:
[code]

[2020-04-23 15:22] lsawade commented on #112
@lee212 That sounds like a good solution! I will test that

[2020-04-23 15:38] lsawade commented on #112
I have also encountered an unrelated issue Trying to run multiple simulations simultaneously.

So I tried creating multiple tasks using a for-loop with different run directories. It seems like EnTK is hanging again. See below workflow:

[code]

Note that the for-loop is just one task. I wanted to try launching multiple ones, but it wasn't possible because of how many nodes are requested in the fin

[2020-04-23 16:44] lee212 commented on #112
I am not a Slurm expert but I guess you may want to exchange the two variables: `processes` and `threads_per_process` to assign 6 physical cores per task. Also, if you consider 4 hw threads (SMT4) on Traverse, the numbers become 24 (6*4).  It looks like:
[code]
This results in `srun` command like:
[code]
This is actually built by a Pilot launch method from here: https://github.com/radical-cybertoo

[2020-04-23 17:36] andre-merzky commented on #112
The srun launch method in RP is not very stable yet.  We should probably check if mpirun or mpiexec are available on traverse and switch...

[2020-04-23 21:17] Weiming-Hu opened #118 "Adding a modified task to a stage failed"
I have observed an unexpected behavior (from a user's perspective) of EnTK. Here is a minimal case for reproducing this behavior.

[code]

After running the above code, I have the following results:

[code]

When I'm trying to add a modified task to a stage, it won't go through. I have to create a new task using `Task()` each time. Is this expected?

I can see use case #2 to be helpful sometimes w

[2020-04-23 22:43] lsawade commented on #112
@lee212  I'm going to check out the processes, I know that Traverse has 4 hardware threads per core, so that might solve the problem.
But my whole resource set is just asking for a small amount of cores anyway, how come that EnTK would ask for more nodes. I mean I would understand less nodes with the thread argument, just not more. I'll continue to investigate. I'll check and update you. Thanks!

[2020-04-24 02:40] lsawade commented on #112
### Update

Seems to me that I have been the issue.
After going over my code again after a few hours I found these neat little lines:

[code]

I don't usually like those, EnTK didn't either. One job ran succesfully, now trying to simultaneous ones.

[2020-04-24 07:50] andre-merzky commented on #118
It is in fact expected behavior.  In the second case, you are creating one task instance.  That one task instance is then changed 10 times - but no new tasks are created.  Registering the same task 10 times is not the same as registering 10 different tasks (as in the first case).

Note that the `Task` constructor accepts a `from_dict`, so you can replace the code with something like
[code]

If tha

[2020-04-24 07:57] andre-merzky commented on #112
Ugh, those like look dangerous...  Do you have a backup this time? :-D

[2020-04-24 07:58] andre-merzky commented on #112
Cool!

[2020-04-24 14:27] Weiming-Hu opened #119 "Modifying shared_data leads to unexpected behaviors"
Hi team, here is yet another confusion that I'm having. It might be a very simple one but I couldn't find much information on using the `shared_data` attribute of an app manager, although I'm aware of a quick tutorial [here](https://radicalentk.readthedocs.io/en/latest/user_guide/adding_shared_data.html).

The following code will walk you through reproducing the issue in an interactive python sess

[2020-04-24 15:55] Weiming-Hu commented on #116
I noticed that EnTK is using srun. But I have encountered the following issue when using srun on Stampede.

[code]