[2020-04-24 17:17] mturilli commented on #117
@wjlei1990 , see https://github.com/radical-experiments/hpcw-princeton/blob/master/analysis/summit_pr_wf.ipynb for an initial analysis with some of the metrics you requested and some others that might be useful

[2020-04-24 18:45] mturilli commented on #114
https://github.com/radical-collaboration/hpc-workflows/issues/112#issuecomment-612153304

[2020-04-24 18:46] #114 closed

[2020-04-24 18:49] mturilli commented on #112
Now that the workflow work, we need to address https://github.com/radical-collaboration/hpc-workflows/issues/112#issuecomment-612153304 . @lsawade , could you show us the commands that you would use to move the data between two tasks?

[2020-04-24 18:51] mturilli commented on #111
Done!

[2020-04-24 18:51] #111 closed

[2020-04-24 18:52] #109 closed

[2020-04-25 08:25] andre-merzky commented on #119
This behavior is an unfortunate side effect of how the RE API is implemented: the attribute setters are actually hooked into function calls which set *internal* state which does not always (as in this case) represent the actual attribute types being set.  We agree that this is confusing and has unexpected side effects.

Changing the api has significant intertia for us, so there is no quick solutio

[2020-04-29 16:57] mturilli commented on #119
As discussed with @lee212, we will open two tickets in EnTK repo to improve data staging documentation and starting a RFC for an API iteration.

[2020-05-01 02:58] lsawade commented on #112
Hi everyone,

So in my job, I'm requesting 4 nodes, and then for certain tasks I'm asking for a single core. Does EnTK automatically detect that I need one core on one node? I'm asking because I'm getting this error:
[code]

The opposite happens for my specfem job, I would like to run one simulation on 2 nodes, using 3 GPUs on each Node (I thought that would make sense), but the resource assignmen

[2020-05-01 03:01] lsawade commented on #112
@mturilli, the download/staginng data can be put on hold for now until we get the main workflow running. It should be lower priority than the computationally heavy part.

[2020-05-01 03:38] wjlei1990 opened #120 "Launch multiple job in one script"
Hi, is it possible to launch multiple jobs at once using just one script?

So currently, we are planning to launch a huge batch of small simulations on summit. Each task (one simulation) will take 1 node on summit and one task will take about 10 mins. We are planning to launch 10,000 to 20,000 tasks in the near future. I am planning to use 100 nodes.

So we can't just put all the tasks into one jo

[2020-05-01 08:00] andre-merzky commented on #120
@wjlei1990 : you can submit 20k tasks directly to EnTK or RP, and we take care of execution coordination.  That is a number we can handle rather well.  If runtime is a problem, please consider to increase the pilot size, you can go significantly higher than 100 concurrent tasks.   When using 200 nodes, runtime already goes down to approx 2 hours which the batch system should accept AFAIU, but you

[2020-05-01 08:04] andre-merzky commented on #112
The node list contains 6 node names for the 6 ranks, but you will see that only two individual node names are used (`[traverse-k04g1,traverse-k04g8]`), so that looks correct.

Having said that: srun is indeed rather fickle with mpi layout requests, we have seen that on other machines.  We'll try to switch you to mpirun as launch method.

[2020-05-01 13:52] lsawade commented on #112
Ah, I see so, in the `json` below it's simple asking for individual resources from the two nodes separately for each process?

But that then again would mean that it's asking for 6 GPUs from `traverse-k04g8` right? Is that why `srun` is giving you trouble?

[code]

I feel like stepping in the dark right now.

[2020-05-02 12:17] lsawade commented on #112
I think I have sort of isolated the issue. When I have three nodes at my disposal. A job that requires only one process will fail as well using `srun`. @andre-merzky, see
`radical.pilot.sandbox/re.session.traverse.princeton.edu.lsawade.018383.0006/pilot.0000/unit.000000`.
While the nodelist specifies that only 1 Node is necessary for the job, and the `.sl` shows just a single task/process. `srun`

[2020-05-05 20:46] mturilli commented on #100
@wjlei1990 could you provide us with a link to the batch job script + task code you are using to use GPU MPS on Summit? This would greatly help us to shape our discussion about how to support it in EnTK/RP.

[2020-05-05 20:54] wjlei1990 commented on #100
Example lsf script without GPUMPS:
[code]

Example script with GPUMPS
[code]

The difference is:
1. `#BSUB -alloc_flags gpumps` to enable GPUMPS
2. `jsrun -n 96 -a 4 -c 4 -g 1 ./bin/xspecfem3D` will uses allows 4 mpi running on 1 single GPU card.

Do you just want the script or you want some running example?

[2020-05-06 02:16] mturilli commented on #100
Thank you very much! If sharing some running example requires no relevant effort then yes, that might be useful too.

[2020-05-08 16:01] wjlei1990 opened #121 "Can I control the job layout using ENTK?"
Can I control the job layout using ENTK?

For example, on summit each node has two POWER9 processors. If I have a single-thread task and I want to put two taks on one node so each POWER9 will get exactly 1, how can I do that?

[2020-05-08 16:05] wjlei1990 commented on #100
Hi Matteo, you may find running example here:
[code]

There are 3 lsf scripts using GPUMPS from 1 to 4:
1. job_solver.bash
2. job_solver.mps2.bash
3. job_solver.mps4.bash

I also did some performance benchmark by running the task:

| GPUMPS | Job Time (sec) | Core GPU Simulation Time (sec) |
| --- | --- | --- |
| 1 | 81 | 50 |
| 2 | 133 | 103 |
| 4 | 194 | 162 |

The core simulation is measuring j

[2020-05-08 16:06] andre-merzky commented on #121
Alas you can't influence that on API level.  If this has a significant performance impact, we can change the agent scheduler to ensure socket locality for threads.  Can you measure what the impact is?

[2020-05-08 16:11] wjlei1990 commented on #121
I am just wondering :) I haven't done any performance metric yet. I don't think it will impact the performance that much.

[2020-05-08 16:22] andre-merzky commented on #121
I don't think so either :-)  But let us know if you have indications otherwise, ok?

[2020-05-08 17:15] wjlei1990 commented on #121
Maybe I should ask in another way. Can I control how many tasks(single thread) to be put onto 1 node?  Some of my (single-threaded) tasks are IO and memory intensive. So I don't want all of them to squeeze on 1 node.

---
I guess the answer is also No, right?

[2020-05-08 18:05] andre-merzky commented on #121
Ah, that's a fantastic use case: I also need that capability right now :-)

https://github.com/radical-cybertools/radical.pilot/issues/2139

[2020-05-08 18:17] mturilli commented on #118
@lee212 this also has to go into the documentation.

[2020-05-08 18:25] mturilli commented on #103
For now we do not need to do the porting.

[2020-05-08 18:25] #103 closed

[2020-05-08 18:30] andre-merzky commented on #116
@Weiming-Hu : what MPI module do you use on Stampede2 and Cheyenne to compile your code?  Thanks.

[2020-05-08 18:30] andre-merzky commented on #112
@lsawade : what MPI module do you use on Traverse to compile your code?

[2020-05-08 18:40] Weiming-Hu commented on #116
These are the modules I use:

[code]

[2020-05-11 03:50] lsawade commented on #112
I use `openmpi/gcc`

[2020-05-12 03:47] wjlei1990 opened #122 "Change the default name of lsf job?"
Hi Can I change the name of the lsf job showing in the queue?

Say I have two jobs in the queue:
[code]
They both have the name `pilot.0000` and I can't differentiate between them...

[2020-05-12 08:04] andre-merzky commented on #122
This is now implemented in radical-cybertools/radical.pilot/pull/2146

[2020-05-13 04:27] wjlei1990 commented on #117
Hi Matteo,

I prepared two more running examples. so you may use that as baseline model for ENTK performance evaluation.

1. normal scale: each task uses 384 GPUs and 64 nodes.
* client: `/gpfs/alpine/world-shared/geo111/lei/entk/re.session.login4.lei.018394.0006`
* sandbox: `/gpfs/alpine/world-shared/geo111/lei/entk/sandbox/re.session.login4.lei.018394.0006.tar`

2. small scale: each task uses 6

[2020-05-13 04:38] wjlei1990 opened #123 "Some checks to avoid job hanging?"
Yesterday I was having a issue with a job.

The situation is that I forgot to load one module in the entk script. However, when I lauch the ENTK job script, the job just run normally without interruption. However, due to the missing module,  all the tasks just keep buring hours without being killed.

I am a bit worried if in the future, if the system settings changed and I didn't realized the chan

[2020-05-15 18:25] wjlei1990 commented on #123
One idea came to my mind is to have some checks after each task in run. For example, if I have 100 task submitted. The ENTK have run 10 of them and all of them have failed. I will then need to kill this whole job.

Not sure if ENTK is capable of doing it?

[2020-05-15 19:09] andre-merzky commented on #123
You should get notifications for each task state change, and can count the failing tasks, and take action on a certain threshold?   I am not too familiar with RE's API, maybe @mturilli  or @lee212 can comment, but I think you have to register a function as `post_exec` on a task or pipeline instance to get the callback mechanism.

Would that address your use case?

[2020-05-16 04:39] mturilli commented on #117
Hi @wjlei1990 , @lsawade please see an initial characterization of RTC performance for the two runs you shared at https://github.com/radical-experiments/hpcw-princeton/blob/master/analysis/incite2020.ipynb

Good news, our resource utilization efficiency is ~97% for the source inversion and ~94% for the structural inversion. Note that these figures do not account for idling CPUs. This is because th

[2020-05-16 05:36] wjlei1990 commented on #117
Great! The result looks very promising. I will dig more into it tomrrow.

We defintely would like to go bigger if ENTK and the machine is stable at even larger scale. I can do some large-scale tests in the near future.  What is the scale (in terms of number of nodes on Summit) are you confident to push to?

[2020-05-19 00:38] mturilli commented on #117
I think we can double down. With JSRUN, we can run a maximum of 900 tasks. You run 100 so far, we could try 200? One thing I noticed: You run the full workflow in ~21 minutes and you asked for 60 minutes. You might be able to run 200 tasks on the same 640 nodes in around 45 minutes.

Ultimately, I think it depends on how big you would like to run your production runs and on what scale you say you

[2020-05-22 17:53] lee212 commented on #123
I'd like to echo the `post_exec` feature with the example here: https://radicalentk.readthedocs.io/en/latest/adv_examples/adapt_tc.html

It has an evaluation function after a stage is finished to decide to continue or not. Based on your description, run 10 tasks in a stage with `post_exec` to determine whether it kills a job or continue the rest of 90 tasks.

[2020-05-22 18:25] mturilli commented on #122
This needs to be merged and then can be tried.

[2020-05-22 18:34] lee212 commented on #119
https://github.com/radical-cybertools/radical.entk/issues/442

[2020-05-29 22:53] wjlei1990 commented on #117
OK. Here is the running cases for strong scaling. I am keeping the total number of tasks to 200 for all the cases.

#### Case I: `simul_run_task` = 5, `total_task` = 200
* client: `/gpfs/alpine/world-shared/geo111/lei/entk/re.session.login5.lei.018411.0002`
* sandbox: `/gpfs/alpine/world-shared/geo111/lei/entk/sandbox/strong_scaling/re.session.login5.lei.018411.0002`

I asked for `64 * 5 = 320` no

[2020-06-03 17:10] lee212 commented on #112
Hi, I am willing to run a test once this is ready but I wonder if I can have an account on Traverse for the test purpose.

[2020-06-03 20:54] mturilli commented on #117
Thank you @wjlei1990. I added the analysis of the new sessions to https://github.com/radical-experiments/hpcw-princeton/blob/master/analysis/incite2020.ipynb . Note that something went wrong with the `re.session.login5.lei.018411.0003` session. The units seems not having run anything. This does not create any event related to the unit and therefore we are not able to quantify how much time it took

[2020-06-04 14:16] lsawade commented on #112
Hi @lee212, we can probably organize an account for you!

[2020-06-05 18:03] #123 closed, assigned to nobody

[2020-06-05 18:03] wjlei1990 commented on #123
I will try to use some `warm up` jobs to check the job status and updated to you.

[2020-06-05 18:04] #120 closed, assigned to wjlei1990

[2020-06-05 19:40] mturilli opened #124 "Request MongoDB and RabbitMQ endpoints if needed"
All, please enter your request in this spreadsheet (you will have to request access):
https://docs.google.com/spreadsheets/d/1Z-UNb6U7x6KPZbsV7Zcey_Cgx_UuHR_Sj-FYzkONEiE/

[2020-06-07 14:01] wjlei1990 opened #125 "job failed on Summit using ENTK"
I had two jobs submitted on summit and both of them failed... I checked the sandbox, there is no `unit.0000*` generated. The job seems just got killed somehow, without running anything.

In the terminal I got this output. Could you help me figure out why the job failed?
[code]

[2020-06-08 07:56] andre-merzky commented on #125
@wjlei1990 : would you mind attaching the pilot sandbox?  Thanks!

[2020-06-08 23:57] wjlei1990 commented on #125
@andre-merzky Here is one sandbox for failed job:
[code]

[2020-06-11 12:51] wjlei1990 commented on #125
Still have some issues after update of `radical.stack`.
[code]

Here is the `radical.stack`:
[code]

The sandbox is here:
[code]

I will launch another job today to see if I get lucky...

[2020-06-11 12:56] mturilli commented on #125
Hi @wjlei1990 , let's debug this further before attempting another submission. See my comments on slack about updating the whole stack so that both of us have the same environment.

[2020-06-17 15:49] lee212 commented on #112
Thanks @lsawade , I have access to Traverse now.

[2020-06-17 16:29] lsawade commented on #112
@lee212 Great!

[2020-06-19 14:27] wjlei1990 commented on #125
Hi All,

I think I should have updated all the radical package:
[code]

But I still have issues running ENTK.  The most recent job I submitted has the error in the unit of sandbox:
[code]
I copied the sandbox here:
[code]

I prepare a small scale job and you may copy it and test using it:
[code]

[2020-06-19 18:14] wjlei1990 commented on #124
Princeton got the new MongoDB endpoints.

[2020-06-19 18:16] mturilli commented on #122
Scheduled for July release

[2020-06-19 18:22] #117 closed

[2020-06-19 18:24] mturilli commented on #116
This is now about running Penn State on Cheyenne

[2020-06-19 18:26] mturilli commented on #112
@lee212 to run a standard test and report back

[2020-06-19 18:27] lee212 commented on #118
@Weiming-Hu, task creation: https://radicalentk.readthedocs.io/en/latest/user_guide/adding_tasks.html

[2020-06-19 18:27] #104 closed

[2020-06-23 20:19] Weiming-Hu commented on #124
Penn State requested access to the shared document.

[2020-06-23 21:11] mturilli commented on #124
You should be able to access it now

[2020-06-23 21:16] Weiming-Hu commented on #124
Will my credential appear later in the sheet? Sorry I'm not sure what I should do.

[2020-06-23 21:19] mturilli commented on #124
Just fill in your request in the mongodb and rabbitmq tabs (down on the left) and we will create them for you. I will send you your password privately.

[2020-06-23 21:34] Weiming-Hu commented on #124
I have put down my name only. Is there anything else I should do?

[2020-07-03 04:14] lsawade commented on #112
@lee212 are there any updates?

[2020-07-07 03:30] shantenujha commented on #112
Assigning to @mturilli too as this has been labeled "priority high" for a while but we're still stuck.

[2020-07-07 10:12] mturilli commented on #112
Hi @shantenujha , I do not have an account on the machine so I am afraid I cannot do much about this ticket.

[2020-07-13 13:52] lee212 commented on #112
@lsawade , I wanted to inform you that I have completed a few test runs (mainly srun) and now try to switch mpirun for the correct mapping. I will post any progress.

[2020-07-13 13:53] lsawade commented on #112
@lee212 awesome! Thank you! Let me know if there's anything I can do!

[2020-07-17 18:09] #124 closed, assigned to mturilli, wjlei1990, Weiming-Hu

[2020-07-17 18:10] #118 closed

[2020-07-17 18:11] #116 closed

[2020-07-17 18:12] mturilli commented on #115
This is now unblocked.

[2020-07-17 18:17] Weiming-Hu commented on #119
Thank you very much. This is working in the devel branch of radical.entk.

[2020-07-17 18:17] #119 closed, assigned to lee212

[2020-07-31 18:08] lee212 commented on #112
@lsawade, FYI, I created a separate branch for mpirun testing, https://github.com/radical-cybertools/radical.pilot/tree/fix/princeton_traverse. If you like to give it a try, let me know. I, however, have to warn you this is not a solution and you may experience the same problem again.

[2020-08-28 18:04] mturilli commented on #122
Released and ready to be tested.

[2020-08-28 18:23] #100 closed

[2020-08-28 18:28] lee212 commented on #112
@lsawade, I finished some tests and it seems working to assign gpus correctly with `mpirun`. I wanted to confirm this is resolved on your side as well, if you can share your scripts to run your jobs, I can replicate and see whether your problems are resolved or not, in specific, I am looking at these:
- "requesting 4 nodes, and then for certain tasks, I'm asking for a single core"
- "run one simul

[2020-09-11 15:05] Weiming-Hu commented on #115
Tests with the default branch of EnTK show different errors on different platforms.

1. Test on Cheyenne head node: Could not resolve hostname

![cheyenne_head_node_error](https://user-images.githubusercontent.com/16421338/92941253-237fdd80-f41e-11ea-9ada-7ef85f90e860.png)

2. Test on local desktop: A call-out command failed. In the `re.session` log files, I found the following error:

[code]

3.

[2020-09-11 18:03] wjlei1990 commented on #125
Had a debug session with Matteo. Jobs up running the the run time is longer than expected. We are seeing 10m running time for each task (should be around 2 min). Will try a few things to see if we can fix the issue.

[2020-09-11 18:07] andre-merzky commented on #125
@mtitov : Mikhail, can you advise on the current scheme to set the SMT level for summit?  Thanks!

[2020-09-11 18:09] mturilli commented on #125
This is is task description:
[code]
in the .sh script of the units I have
[code]
and the .rs lists the GPU correctly:
[code]

[2020-09-11 18:14] mtitov commented on #125
Information about SMT is defined in resource config as [following](https://github.com/radical-cybertools/radical.pilot/blob/devel/src/radical/pilot/configs/resource_ornl.json#L145-146):
[code]
currently it yet available in devel-branchs for both Pilot and SAGA

also SMT could be regulated with env variable: `export RADICAL_SAGA_SMT=2` (valid values are 1,2,4)

[2020-09-11 18:17] wjlei1990 commented on #125
Hi, thanks or the info. Does that mean I need to install the devel branches for both Pilot and SAGA?

[2020-09-11 18:22] mtitov commented on #125
@wjlei1990 yes, since that new attribute `system_architecture` was just lately introduced

[2020-09-11 18:56] andre-merzky commented on #125
@wjlei1990 : the RCT releases will go out today, if you want to delay testing for a day or so you can use the released version.

[2020-09-15 06:23] lee212 commented on #112
@lsawade , can you share your script tested on Traverse? I heard that you're now working on Summit directly but this will be helpful to see the difference between srun and mpirun for the future.

[2020-09-15 23:31] lsawade commented on #112
@lee212 I will get you stuff on Thursday if that's ok, I'm a bit crammed with things right now!

[2020-09-16 00:10] lee212 commented on #112
Thanks lucas. Thursday sounds good!

[2020-09-16 09:23] andre-merzky commented on #125
The new releases have been pushed to pypi, and the `system_architecture` problem should be resolved after an update of the stack.

[2020-09-17 16:15] lsawade commented on #112
@lee212 What RMQ port are you using? I got this from Matteo at some point, but it doesn't seem to work:
[code]

The error I'm getting is the following:
[code]

[2020-09-21 15:41] lsawade commented on #112
Just an update: After a chat session with @lee212 , I got specfem to run and I am now in the process of testing and working out the workflow.

[2020-09-25 15:22] Weiming-Hu commented on #115
Hi folks, unfortunately, even when I set `schema` in the resource file, I still had some issues.

[code]

I grep the following errors from the log files:

[code]

This is how my resource file looks like

[code]

[2020-09-25 15:42] lsawade commented on #112
Hi,

There are multiple things I would like to bring up in today's meeting:

- [ ] Implementation of #SBATCH --reservation=test on Traverse.
- [ ] Difficulty debugging, due to queue-ing. Sometimes even for a workflow containing a single Task, it's fairly hard to debug due to overhead and queue time.
- [ ] Is there a dry-run optio that maybe just loads modules and checks if executable exist? Or can

[2020-09-25 16:27] wjlei1990 commented on #125
Hi, I updated the `radical-stack` and the issue seems to be still there. The task is still running very slow (9 min insteand of 2 min but it runs and finishes succesfully). Here is my stack:
[code]

Here is my task description:
[code]

Here is resource description:
[code]

[2020-09-25 16:29] wjlei1990 commented on #122
Hi, I justed update the radical stack and it seems adding the `job_name` didn't do the trick...

[code]
Here is the resource description:
[code]

The job name is still `pilot.0000` in the job queue.
[code]

[2020-09-25 18:07] andre-merzky commented on #125
@mtitov : Mikhail, can you please reference or provide a piece of documentation for @wjlei1990 on how to configure SMT level for summit?  Thanks!

[2020-09-25 18:16] Weiming-Hu commented on #115
This is my stack info

[code]

The session folder would be `/glade/u/home/wuh20/github/pv-workflow/02_simulate/use-entk/re.session.cheyenne2.wuh20.018530.0002`.

The sandbox is at `/glade/scratch/wuh20/tmp/rp_agent_tar_dirr21yxevo`.

[2020-09-25 18:41] lsawade opened #126 "Using a Tunnel to Download on a Non-Internet Compute Node"
## Internet for Non-Internet Compute Nodes

As mentioned in our meeting, I would like to add download functionality to one of my tasks. The reason for this is that the workflow is going to be a routine HPC job in the long-term.

In the normal Pipeline/Stage/Task setting on, e.g. Summit, this looks like the following:

#### Code sample

<details>

[code]

</details>

Now, this task of course fails

[2020-09-25 18:47] andre-merzky commented on #126
How would `request_data` work, i.e., with what data service would it need to communicate?

[2020-09-25 19:20] lsawade commented on #126
It's basically a wrapper around this function: [https://docs.obspy.org/packages/autogen/obspy.clients.fdsn.mass_downloader.html](https://docs.obspy.org/packages/autogen/obspy.clients.fdsn.mass_downloader.html)

Which in turn is a wrapper around a url query that downloads seismic data to a specific location to the disk from here [https://www.fdsn.org/webservices/](https://www.fdsn.org/webservices/)

[2020-09-25 22:43] mtitov commented on #125
@andre-merzky: I'm checking logs (had contacted Wenjie to go through latest run), and I see that `CUDA_VISIBLE_DEVICES` is not set correctly. I've found that for each task 6 GPUs are assigned, so RCT skips it (in scheduler). Can you, please, confirm that if we set number of cpu processes then for each process requested number of gpu processes is assigned (as in example task `t1` would have 6 cpu p

[2020-09-26 14:34] andre-merzky commented on #125
Ouch, this we need to fix.  What you stumble over is [this](https://github.com/radical-cybertools/radical.pilot/blob/devel/src/radical/pilot/agent/scheduler/base.py#L899).  The underlying problem is that `_handle_cuda` attempts to add `CUDA_VISIBLE_DEVICES` to the _task_'s environment - but if you look at the task layout above, you'll notice that we would need to set different env variables _per r

[2020-09-26 14:35] andre-merzky commented on #125
But also, I should have read your comment to the end :-)  Yes, splitting into 1cpu/1gpu task would resolve this.  If that is feasible depends on the application though, as the tasks would not share an MPI communicator anymore...

[2020-09-27 04:01] mtitov commented on #125
I guess this actually brings us to your previous comment. Yeah, I was thinking on how to resolve task definition in terms of RCT the first, and missed this point.

[2020-09-27 20:31] lsawade commented on #112
@lee212 , have you updated Princeton traverse to _**not**_ having to use this resource setup for single core task:
[code]
?

[2020-09-29 02:51] wjlei1990 commented on #125
Hi all, thanks for your help. So I guess I will need to wait for some updates of ENTK to make the task running correctly. Am I right?

[2020-09-29 17:41] lsawade commented on #126
@andre-merzky, could you elaborate what this means, or requirements to you expect/want the process to look like?

[2020-09-29 17:48] andre-merzky commented on #126
i am actually not sure what that implies...  But, a request / proposal: can you try to get that function to work over an arbitrary ssh tunnel?  If you manage to do that, we can provide that tunnel to do the same thing from the compute nodes (the tunnel endpoint would be hosted on the batch node).  Would that work for you?

[2020-09-29 22:08] lsawade commented on #126
How would that look? Do you mean something like this:

[code]

where `/home/lsawade/gcmt3d/workflow/entk/ssh-request-data.sh` looks like:

[code]

This works fine to download data on the login node executed from my home computer.

[2020-10-02 23:38] wjlei1990 commented on #125
Hi all, as mentioned by @mtitov, I just updated the `radical-stack`.
[code]

After relaunching the job, it still has the same issue. My job script is located in `/gpfs/alpine/world-shared/geo111/lei/entk.small/run_entk.hrlee.py` on Summit.

Some desciption about the task. For each task, it will use 6 CPU and 6 GPU. There will 1 MPI allocated on 1 CPU and 1 GPU. @mtitov has mentioned to change the

[2020-10-03 13:14] andre-merzky commented on #125
@mtitov : can you have a look at the `-B` option as described [here](https://www.ibm.com/support/knowledgecenter/SSWRJV_10.1.0/jsm/jsrun.html)?  It might be the right option to use to convince jsrun to set the correct `CUDA_VISIBLE_DEVICES` value...

[2020-10-09 16:33] wjlei1990 commented on #122
I did another test today with updated radical-stack:
[code]

It seems the naming issue still persists.

[2020-10-09 18:12] #112 closed

[2020-10-09 18:16] andre-merzky commented on #112
@lsawade : gthe slurm adaptor in the RCT stack should support reservations.  Please specify it as `account:reservation` in your `project` field of the resource description.  Can you give that a try, please?

[2020-10-10 00:00] andre-merzky commented on #122
Hmm, I see this works in the last release:

[code]

So it seems that EnTK is not forwarding that setting to RP.  I opened an EnTK ticket(radical-cybertools/radical.entk/issues/484), lets see what @lee212 says about it...

[2020-10-13 21:11] lsawade commented on #112
@andre-merzky: Do you mean `project_id`?

[2020-10-30 15:41] andre-merzky commented on #125
@mtitov : ping

[2020-10-30 15:42] andre-merzky commented on #122
@lee212 , @iparask : ping on radical-cybertools/radical.entk/issues/484

[2020-11-13 18:04] andre-merzky commented on #126
@mtitov : Mikhail, can you help Lucas (@lsawade ) to use our tunnel for that data transfer request?  If that works, we can also change the resource config to pull up an additional application tunnel.

[2020-11-13 18:06] #125 closed, assigned to mturilli, wjlei1990

[2020-11-13 18:06] mtitov commented on #125
Since RP always sets env variable `CUDA_VISIBLE_DEVICES` ether to a specific value or keeps it empty, then the extra operation from a user in task pre_exec solved the issue `unset CUDA_VISIBLE_DEVICES` (was confirmed by @wjlei1990)

[2020-11-24 05:01] Weiming-Hu opened #127 "EnTK does not terminate after user programs are complete"
I have encountered this problem once. I'm using EnTK on NCAR Cheyenne. My radical stack info is as follows:

[code]

My workflow consists of two stages. I requested 6480 CPUs for 480 minutes (8 hours). However, when the second stage is complete (roughly after 2 hours), EnTK did not terminate as expected, instead it

[code]

EnTK was stuck at the `submitting` stage but the tasks were complete with

[2020-12-02 19:24] mtitov commented on #126
@lsawade: Hi Lucas, can you please copy the following resource config into `$HOME/.radical/pilot/configs/resource_princeton.json` and define IP address of the destination (or a host name) where you want to copy data in this env var `RP_APP_TUNNEL_ADDR` below:
[code]
 p.s. if you use `virtenv` from a different location, then you can update the corresponding parameter

[2020-12-08 19:05] lsawade commented on #126
I will test this as soon as the cluster is back up! Thanks @mtitov

[2020-12-11 18:17] Weiming-Hu commented on #115
Documented [here](https://weiming-hu.github.io/EnTK-Cheyenne-Setup/)

[2020-12-11 18:17] #115 closed

[2020-12-11 18:25] lee212 commented on #127
@Weiming-Hu , I wanted to tell you that I will be following this up along with the open ticket: https://github.com/radical-cybertools/radical.entk/issues/509, as this needs to be addressed in the use of pika. We anticipate this will be resolved no later than the January release.

[2020-12-11 18:28] Weiming-Hu commented on #127
Sounds good to me. I will be actively monitoring this thread. Thanks.

[2020-12-11 18:28] mturilli opened #128 "Supporting ORNL Andes"
https://www.olcf.ornl.gov/olcf-resources/compute-systems/andes/

[2020-12-11 18:28] mturilli opened #129 "Deprecation message in EnTK"
See https://github.com/radical-cybertools/radical.entk/issues/523

[2020-12-15 19:12] mturilli commented on #129
@lsawade please try the latest EnTK release 1.5.8. The deprecation message should now be printed only once. Feel free to consider updating your script to avoid the deprecation message and let us know whether you need help with that.

[2021-01-08 15:01] lsawade commented on #126
Hi @mtitov Thanks for this. It kind of fell of my radar there being AGU, holidays etc.
I'm not really clear on the usage within the workflow now. Would it be something like this:

[code]

[2021-01-08 15:16] lsawade commented on #129
Looks good! No more unnecessary prints after I fixed the deprecation messages. Thanks!

[2021-01-08 15:16] #129 closed, assigned to mturilli, lsawade

[2021-01-08 15:31] lsawade opened #130 "EnTK stuck in a loop after getting resource assignment?"
Hi,

I have tried to run a simple job after updating EnTK, but it seems to get stuck. This Job has worked previously worked.
I `tail -f`'d the radical.log and it seemed like it was looping.

Log:
`/home/lsawade/simple_entk_specfem/re.session.traverse.princeton.edu.lsawade.018635.0001/radical.log`

Sandbox:
`/scratch/gpfs/lsawade/radical.pilot.sandbox/re.session.traverse.princeton.edu.lsawade.01863

[2021-01-08 15:48] andre-merzky commented on #130
Hey @lsawade - would you mind attaching a tarball of the pilot sandbox to this ticket?  Thank you!

[2021-01-08 15:58] lsawade commented on #130
Sorry! Should have done this immediately! --> [sandbox.tar.zip](https://github.com/radical-collaboration/hpc-workflows/files/5788117/sandbox.tar.zip)

[2021-01-08 17:07] andre-merzky commented on #130
np!

The code hangs while trying to create an ssh tunnel, or, more precisely, while trying to find an open port for creating the tunnel.  The host to tunnel to is listed as `10.33.24.12` - is that the expected target IP?  Is that IP reachable from the login node?

From `bootstrap_0.out`:
[code]

The first tunnel is for MongoDB, and  tries to set up a tunnel for `129.114.17.185:27017` via host `tra

[2021-01-08 17:13] lee212 commented on #130
Hi Andre, I am in the ssh terminal and I can confirm It is traverse:
[code]

[code]

Can this be a temporal failure?

[2021-01-08 17:19] lsawade commented on #126
Hi @lee212 @andre-merzky,

I'm linking #130 here because I feel I'm misunderstanding the way I am supposed to setup/use the tunnel. Comments?

[2021-01-08 17:26] lsawade commented on #130
See #126, maybe I'm misunderstanding how I am supposed to do this. I concur with Hyungro, the IP selected is local to the cluster and I can ssh to it.

[2021-01-08 17:41] andre-merzky commented on #130
I doubt it, as one second before we were still able to create a tunnel to the MongoDB host, also via Traverse.

I agree that this overlaps with #126 - @mtitov , can you please look into this?  Thanks!

[2021-01-08 17:58] wjlei1990 commented on #128
In `radial.saga`, the `self.rm.host()` returns `localhost`. So `saga` is not aware of the system.

After some modification on the source code, the `radical.saga` now works on andes.

Plan to move to `radical.pilot` and `radical.ensemble` soon.

[2021-01-08 22:48] lsawade commented on #126
Hi everyone,

After figuring out that this was all a misunderstanding and some guidance from Andre the workflow is able to download data. I'll describe the setup below. But first let me answer the main question.

---

#### Why the heck am I not pre-downloading the data?

While the main reason for the workflow is to recompute an improved database of thousands of earthquakes (the computational part

[2021-01-08 22:51] lsawade commented on #130
Problem was solved. There where issues setting up the tunnel as mentioned in #126 , but the problem was solved by by not using a tunnel. Please refer to #126 !

[2021-01-08 22:51] #130 closed, assigned to mtitov

[2021-01-09 14:09] andre-merzky commented on #128
What modifications are those?

[2021-01-22 17:11] wjlei1990 commented on #122
Tested on Summit. The new stack of radical tools now support user-specific job name. Thanks for this improvement!

This issue can be closed at today's meeting.

I also noticed a change in the python script. Now entk requires the string type
[code]

In the old version, it asks for a list:
[code]

[2021-01-22 17:24] wjlei1990 commented on #128
The code change I made are in the file of `adaptors/slurm/slurm_job.py`.

Since `self.rm.host` are `localhost`. So I manually set the value to `andes`:
[code]

There are a few changes to the header information.
[code]

[2021-01-22 17:32] andre-merzky commented on #122
That is correct.  The list type has been phased out for quite a while though.  Let us know if that transition poses a problem though, and we'll extend the backward compatibility for a while.

[2021-01-22 17:59] wjlei1990 commented on #122
I just updated all the radical stack. No worries. It is a very easy change on our side.

[2021-01-22 18:14] #126 closed, assigned to mtitov, andre-merzky

[2021-01-22 18:15] #122 closed, assigned to andre-merzky

[2021-02-04 05:08] Weiming-Hu opened #131 "Using int in task arguments leads to error"
I have encountered the following problem. I'm creating a task like this:

[code]

Please note that `weights` is a list with integers, e.g. `[1, 1, 1, 2]`.

And when I try to run my workflow, I got the following error:

[code]

A workaround is to convert `weights` to strings, e.g. `weights = [str(w) for w in weights]`.

Maybe there is a deeper cause for this? Thanks!

[2021-02-04 05:08] Weiming-Hu commented on #131
My stack info:

[code]

[2021-02-04 08:26] andre-merzky commented on #131
Hmm, we should catch this error earlier - but the observation itself is correct: the arguments are passed on a command line, and the only type a command line knows is strings.  We might in the future relax this and convert to strings on our own, but at the moment we don't.

[2021-02-04 17:05] Weiming-Hu opened #132 "EnTK behavior and performance consideration"
*This is not a bug report but rather a proposed agenda for our next weekly meeting.*

I have been using `EnTK` to run a standard grid search workflow for parameter optimization. I have about **170** geographic locations and I would like to optimize the weight for each of these locations. The total number of weight combinations is **8,001**.

A minimal workflow to run **1** weight combination at **

[2021-02-04 19:11] Weiming-Hu commented on #132
Questions:

1. `processes` vs `threads_per_process`: Where do processes and threads land onto?
2. Status in logging: `Scheduled`, `Submitted`, ...?
3. The correspondence between unit folder ID and task/stage/pipeline?

[2021-02-05 08:34] andre-merzky commented on #132
if `cpu_process_type` is `MPI`, then process ranks will land on any node.  The scheduler will try to place them on the same node, but is free to distribute. assuming that MPI works across nodes.  `threads_per_process` will allocate that number of cores per process *on the same node*, so that the process can spawn threads which land on their own core.

`Scheduled`: the task accepted by RE and waits

[2021-02-05 09:46] andre-merzky commented on #132
We'll probably discuss this on the call, but some quick feedback anyway:

  - very short tasks put significant strain on the system: if the turnaround time for scheduling, placing and starting a task is in the same order of magnitude than actually running the task, efficiency decreases
  - many tasks are, in general, not a problem for the execution system: in fact, they make it easier to load-bala

[2021-02-05 18:18] #127 closed, assigned to lee212

[2021-02-05 18:19] #121 closed, assigned to andre-merzky, lee212

[2021-02-05 21:52] Weiming-Hu commented on #132
Great discussion today and everything you said makes total sense to me. Thank you very much for the awesome tool. I guess this ticket has pretty much served its purpose. I'm going to close this and open others one more specific to issues I had currently.

[2021-02-05 21:52] #132 closed, assigned to nobody

[2021-02-05 22:17] Weiming-Hu opened #133 "Longer runtime in large scale simulation"
## Problem description

I have observed a longer runtime when I execute the exact same workflow but on a larger scale. My program is multi-threaded and time profiling is done for each sub-routine. As far as I'm concerned, this is not due to IO competition because the IO time on the large scale is consistent with that on the small scale. There might be a different cause to this.

## Log files

I ha

[2021-02-05 22:19] Weiming-Hu opened #134 "Errored with radical analytics demo"
This is a migration of the bug reported [here](https://github.com/radical-cybertools/radical.entk/issues/543). This ticket is created simply for keeping track of the issue during weekly meetings.

[2021-02-07 01:36] lsawade opened #135 "EnTK runs smooth, but Task State shows FAILED."
Hi!

Rather weird, I just updated my stack using `pip install --upgrade radical.<package>`. Now, even though the `Task`s run smoothly without failing (output in simulations and STDOUT is fine), the `Task state` shows up in the log as `FAILED`.

#### Stack

<details>

[code]

</details>

#### Terminal log

<details>

[code]

</details>

#### Session Sandbox

[re.session.traverse.princeton.edu.lsawa

[2021-02-07 10:15] andre-merzky commented on #135
@lsawade,  could you please also attache the client sandbox?  Thanks!

[2021-02-07 15:07] lsawade commented on #135
It is attached, at the very bottom under Session zip!

[2021-02-07 15:10] lsawade commented on #135
updated!

[2021-02-07 17:45] andre-merzky commented on #135
Thanks!

[2021-02-07 21:03] lsawade opened #136 "Small job: Sometimes one node, sometimes multiple nodes?"
Hi,

I just noticed some seemingly arbitrary behavior. I'm asking for 5 CPUs, 1 GPU in a test job, and sometimes the pilot requests
2 and sometimes a single node in SLURM. Is that expected?

Cheers,

Lucas

[2021-02-08 15:21] lsawade commented on #136
In my recent submissions, I have only ever encountered 1 node. I do not know if anything changed on my end. If this continues, just being 1 Node, and I don't encounter the 2 Node thing again today, I will close the issue.

[2021-02-08 15:22] Weiming-Hu opened #137 "Connection reset during workflow after stage is complete. pika setting is probably still needed"
I have experimented with the workflow without `pika` settings, specifically without the following two lines in my user code:

[code]

But then I got the following error in my client-side sandbox:

[code]

When I added back those lines to my user code, things are working again. I suppose there are still some leftover issues with `pika`?

Thank you

[2021-02-08 15:36] lee212 commented on #136
FYI,

You can check the Slurm script by enabling `DEBUG` mode in the pilot because it is a description of your job defining node counts such as 1 or 2 nodes. First, to enable the debug mode:
[code]
Once your job is finished, run grep with `SBATCH` from `radical.log` in the client sandbox directory (or open the file and search), you may find lines, for example:
[code]

Also, the pilot has system pr

[2021-02-08 15:39] lee212 commented on #137
@Weiming-Hu , can you confirm your `radical-stack`?

This might have to reopen this: https://github.com/radical-cybertools/radical.entk/issues/509

[2021-02-08 15:41] lsawade commented on #135
Hi, after computing some more elaborate workflows. I confirm that this issue persist in my stack. Even a `Hello, World!` task will show up as failed.

[2021-02-08 16:10] lsawade opened #138 "EnTK hangs on Traverse when using multiple Nodes"
Hi,

I don't know whether this is related to #135 . It is weird because I got everything running on a single node, but as soon as I use more than one EnTK seems to hang. I checked out the submission script and it looks fine to me; so, did the node list.

The workflow already hangs in the submission of the first task, which is a single core, single thread task.

[code]

#### Stack

[code]

#### Cli

[2021-02-08 16:14] lsawade commented on #136
Thanks for the tip!

[2021-02-08 16:42] lsawade opened #139 "Add quick check that checks task requirements vs. workflow requested requirements?"
A simple check that goes through the task resource requirements, and then checks against the dictionary of the AppManager.

It has happened to me now a couple of times that I - by accident - asked for more resources in a task than I ask for in the app manager for test cases. This lead to hanging of the task. It could be that this is specific to `SLURM`.

This also leads to the `unit0000*/` directo

[2021-02-08 16:55] andre-merzky commented on #135
Hi @lsawade , sorry for the delayed reply!  In the client sandbox, `radical.log` shows the following error messages for all tasks:
[code]

This appears to be the reason why the tasks fail.  And indeed, the task stdout is available in `unit.000000.out`, not in `STDOUT`.  Is that staging directive created by your application code or by EnTK?

[2021-02-08 16:58] andre-merzky commented on #139
Hi @lsawade - this related to [this issue](https://github.com/radical-cybertools/radical.pilot/issues/2129) in radical.pilot, and is not related to Slurm.  We have that issue at low priority at the moment, but given your ticket here we'll try to address it soon.  Thanks for letting us know!

[2021-02-08 17:03] andre-merzky commented on #138
Hi @lsawade - this is a surprising one.  The task stdout shows:
[code]

This one  __does__ look like a slurm problem.  Is this reproducible?

[2021-02-08 17:24] lsawade commented on #139
oh great and not great, I guess! I mean it's not that stuff isn't working, it's more a convenience feature.

[2021-02-08 17:34] lsawade commented on #138
Reproduced! The message with step creation appears after a while. Meaning I continuously checked the task's error file, and eventually the message showed up!

[2021-02-08 17:43] lsawade commented on #135
oh boi!

This is something I have kept from the first EnTk tutorials, but hasn't given me any trouble:

```t.download_output_data = ['STDOUT', 'STDERR']```

I don't actually need this anyway, so I'm going to get rid of it.

[2021-02-08 17:46] lsawade commented on #135
Next time, I'll make sure to `grep ERROR` in the log before I open an issue.

[2021-02-08 18:15] lsawade commented on #135
Alright, closing, because [that](https://github.com/radical-collaboration/hpc-workflows/issues/135#issuecomment-775287926)

was the issue.

[2021-02-08 18:15] #135 closed, assigned to andre-merzky

[2021-02-08 18:15] lsawade commented on #136
Not encountered again, closing..

[2021-02-08 18:15] #136 closed, assigned to nobody

[2021-02-08 20:20] andre-merzky commented on #135
Great, I am glad it wasn't more serious :-)  But it also tells us again that we need to improve error reporting...

[2021-02-08 20:22] Weiming-Hu commented on #137
Sure thing. Please see below:

[code]

[2021-02-08 20:27] andre-merzky commented on #138
@lsawade , would you please open an ticket with Traverse support?  Maybe our srun command is not well-formed for Traverse's Slurm installation?  Please include the srun command:

[code]
and the nodelist file which just contains:
[code]

[2021-02-08 20:29] lee212 commented on #137
Thank you @Weiming-Hu , can you try again after you update entk to `v1.5.12`?
The actual versioning got complicated like `  radical.entk         : 1.5.12-v1.5.12@HEAD-detached-at-v1.5.12` but you should have updated pika handling if you see `1.5.12` in the `radical-stack`.

[2021-02-08 20:35] lsawade commented on #138
It throws following error:
[code]

If I take out the `nodelist` argument, it runs

[2021-02-08 20:37] andre-merzky commented on #138
Hmm, is that node name not valid somehow?

[2021-02-08 20:37] Weiming-Hu commented on #137
Got it. Please let me try again with the updated version and I will make sure to report back here. Thanks.

[2021-02-08 20:41] lsawade commented on #138
I tried running it with the nodename as a string and that worked

[code]

---

Note that I'm using salloc and hence a different nodename

[2021-02-08 20:45] lsawade commented on #138
I found the solution. When SLURM takes in a file for a nodelist, one has to use the node file option:

[code]

[2021-02-08 20:46] andre-merzky commented on #138
Oh!  Thanks for tracking that down, we'll fix this!

[2021-02-09 17:47] lsawade commented on #138
It is puzzling though, that `srun` doesn't throw an error. When I do it by hand,  `srun` throws an error when feeding a nodelist file to the `--nodelist=` option

[2021-02-16 20:15] Weiming-Hu opened #140 "Best strategy for jobs with dynamic allocation"
I'm wondering what would be the best practice for a workflow with dynamic allocation. For example, let's say I have 10 tasks in a stage, but they have different computational costs. One task might take 3 hours while the other ones only take 1 hour. If I configure full parallelization (enough resources for all tasks to run at the same time), I will basically waste 2 hours from those tasks finishing

[2021-02-16 20:27] andre-merzky commented on #140
Hi @Weiming-Hu: we do not have any capabilities to help shaping the pilot size.  As a rule of thumb though: the wider the pilot, the smaller the total time of execution; the smaller the pilot, the better the resource utilization.  It boils really down to a tradeoff between those two metrics, and what value you want them to have.  I should emphasize though that the stack is built to run *many* task

[2021-02-16 20:55] Weiming-Hu commented on #140
When you say `many tasks`, could you mention a number for me just to have a general idea. Thank you.

[2021-02-16 21:03] andre-merzky commented on #140
No fixed number, but it relates to your question: we expect to use any specific core or GPU for multiple tasks.  So we basically expect that a set of task get placed on the resources, some of them finish, get replaced with new tasks, and so on, for several or many rounds of replacement.

Consider this: if we would only use each resource for a single task, then using a batch script which starts all

[2021-02-16 21:21] Weiming-Hu commented on #140
That makes sense to me. I found myself in the second position where you mention that each resource is used by one task.

But I still prefer EnTK because I can code up my workflow to request a dynamic number of cores based on the expected computation. If I have to set that manually that would be a pain for me (50+ tasks in a single stage). It is also going to be a lot hard to maintain the functiona

[2021-02-16 21:24] andre-merzky commented on #140
I don't want to discourage you from using EnTK, obviously :-)  But yes, for tasks with widely varying runtimes I would suggest to use a smaller pilot so that tasks can shuffle in and out a number of times.

[2021-02-19 18:05] #140 closed, assigned to Weiming-Hu

[2021-02-19 18:10] #133 closed, assigned to Weiming-Hu

[2021-03-05 18:05] #137 closed, assigned to Weiming-Hu

[2021-03-05 18:07] #131 closed, assigned to Weiming-Hu

[2021-03-05 18:14] #128 closed, assigned to nobody

[2021-03-05 18:15] wjlei1990 commented on #128
pull requests submitted https://github.com/radical-cybertools/radical.saga/pull/823

[2021-03-19 16:40] andre-merzky commented on #138
@lsawade : the fix has been released, please let us know if that problem still happens!

[2021-03-19 17:04] lsawade commented on #138
@andre-merzky, will test!

[2021-03-19 17:09] #134 closed, assigned to Weiming-Hu

[2021-04-02 11:49] lsawade commented on #138
Sorry, for the extraordinarily late feedback, but the issue seems to persist. It already hangs in the `Hello, World` task.
Did I update correctly?

---

**My stack**:

<details>

[code]

</details>

**My script**:

<details>

[code]

</details>

Tarball:

[sandbox.tar.gz](https://github.com/radical-collaboration/hpc-workflows/files/6249407/sandbox.tar.gz)

[2021-04-02 13:33] andre-merzky commented on #138
Bugger... - the code though is using `--nodefile=`:

[code]

but that task indeed never returns.  Does that line work on an interactive node?  FWIW, `task.0000.nodes` contains:
[code]

[2021-04-02 15:45] lsawade commented on #138
Yes, in interactive mode and change of the nodefile to the node I land on it works

Edit: In my interactive job I'm using one node only, let me try with two...

#### Update

It works also when using the two nodes in the interactive job and editing the `task.0000.nodes` to contain one of the accessible nodes. Either node works, so this does not seem to be the problem.

[2021-04-02 15:50] andre-merzky commented on #138
Would you mind running one more test: interactively get two nodes, and run the command towards the *other*  node than the one you land on.  You should see the allocated nodes via `cat $SLURM_NODEFILE` or something like that (`env | grep SLURM` will be helpful)

Thank you!

[2021-04-02 15:54] andre-merzky commented on #138
Hmm, where does that leave us... - so it is *not* the `srun` command format which is at fault after all?

Can you switch your workload to, say, `/bin/date` to make sure we are not looking at the wrong place, and that the application code behaves as expected when we run under EnTK?

[2021-04-02 15:56] lsawade commented on #138
See Update above

`echo $SLURM_NODELIST` works, I don't seem to have the `nodefile` environment variable.

[2021-04-02 15:56] lsawade commented on #138
What do you mean with switching my workload to `/bin/date` ?

[2021-04-02 16:11] lsawade commented on #138
I also tested running the entire `task.0000.sh` in interactive mode, and it had no problem.

[2021-04-02 17:06] mturilli commented on #138
Slurm on Traverse seems to be working in a strange way. Lucas is in contact with the research service at Princeton.

[2021-04-03 18:04] lsawade commented on #138
Two things that have come up:

1. The `srun` command needs a `-G0` flag (no GPUs) if a non-gpu task is executed with a resource set that contains GPUs. The command will ***only*** hang if the resource set contains GPUs and run otherwise.
2. Make sure your print statement does not contain any `!` my hello world task also encountered issues because I didn't properly escape the `!` in `"Hello, World!

[2021-04-03 18:14] lsawade commented on #138
Most quick debugging discussions were held on Slack but here a summary for posterity:
@andre-merzky published a quick fix for the `srun` command one of the [RP branch](https://github.com/radical-cybertools/radical.pilot/tree/fix/hpc_wf_138)es  (https://github.com/radical-cybertools/radical.pilot/commit/aee4fb8862fa4fbf55589a23a9cc0c66ee839d40), but there is `KeyError` that is issued by EnTK when c

[2021-04-03 18:26] andre-merzky commented on #138
My apologies, that error is now fixed in RP.

[2021-04-03 18:38] lsawade commented on #138
Getting a new one again!

[code]

[2021-04-12 18:07] lsawade opened #141 "conda installation from Installation instructions fails"
Haven't had this before but on `traverse`, I can't get the `radical.entk` package:

[code]

Probably just a build issue...

[2021-04-12 20:10] iparask commented on #141
Hello @lsawade, there is a mistake in the documentation. Can you try:
[code]

Thank you

[2021-04-13 15:01] lsawade commented on #141
Lawd, I could have tried that myself... thanks for getting back to me!

[2021-04-30 15:18] lsawade commented on #141
Not working for Traverse again, I assume a build is missing:

[code]

[2021-04-30 17:22] lsawade commented on #138
So the way I install entk and the pilot at the moment is as follows:

[code]

(Note, I'm not changing pilot here and just keep the default one.)

Then, I get the `radical.pilot` repo to create the static `ve.rp`. Log out, log in,

[code]

Log out, Log in:

[code]

[2021-05-06 06:20] lsawade commented on #138
Are there any news here?

[2021-05-11 16:46] lsawade commented on #138
@andre-merzky ?

[2021-05-13 00:18] lsawade commented on #138
Alright, I got the workflow manager to -- at least -- run.  **Not hanging, yay**

One of the issues is that when I create the static environment using `radical-pilot-create-static-ve`, it does not install any dependencies, so I installed all requirements into the `ve.rp`.

However, I'm sort of back to square one. A serial task executes, and `task.0000.out` has "Hello World" in it, and the log show

[2021-05-17 17:36] lsawade commented on #138
@andre-merzky ping

[2021-05-25 14:33] mtitov commented on #138
hi @lsawade , that message in `err` file looks like a verbose message and doesn't indicate an error

and some additional comments:
(a) `radical-pilot-create-static-ve`: for dependencies there is an extra option `-d` (== set default modules)
(b) if for running your workflow you use a shared FS (using the same virtual env for client and pilot), then you can set that in the resource config, e.g.,
[co

[2021-05-25 21:18] lsawade commented on #138
Hi @mtitov , thank for getting back to me. Aah, I missed that when installing the `static-ve`.

That's what I thought, too. I mean the tasks finishes successfully (`STDOUT` Is fine). It just flags itself as failed when I run the `appmanager`. So, I'm a bit unsure why the `Task` fails.

[2021-05-25 22:47] mtitov commented on #138
Yeah, that what I missed, so task has the final state `FAILED` and has it after `TMGR_STAGING_OUTPUT`, thus I assume something went wrong on client side. @lsawade can you please attach client sandbox as well?

[2021-05-27 14:38] lsawade commented on #138
Sorry I only saw the notification now, attached the corresponding client sandbox.

---

[client_sandbox.tar.gz](https://github.com/radical-collaboration/hpc-workflows/files/6554806/client_sandbox.tar.gz)

[2021-05-27 15:07] mtitov commented on #138
hi @lsawade , thank you for a sandbox, looks like the issue is with the name of the output: by default RP sets the name of task output as `<task_uid>.out` (and it is similar for err-file), before we had it as `STDOUT` for all tasks. For now if you want to collect corresponding outputs without using task ids, then output file name could be set explicitly, thus:
[code]
(*) With your run everything w

[2021-05-27 15:32] lsawade commented on #138
Lord, if that ends up being the final issue, that would be wild... Let me test this later today, and I will get back to you!

[2021-05-27 19:44] lee212 commented on #141
@andre-merzky, I realized that there are osx and Linux packages only, and I am trying to build PowerPC package (conda ppc64le) but it requires the permission to https://github.com/conda-forge/radical.pilot-feedstock, and https://github.com/conda-forge/radical.utils-feedstock as they are dependency of radical.entk and I am not maintainer. Could you add me to these? I will figure out rest.

[2021-05-28 15:55] wjlei1990 opened #142 "Tracking ENTK Performance Test on Summit"
I have conducted a few test cases on Summit using `radical.entk`.

Each task is using 384 GPU (64 nodes),  which is the same size as our current production case.

The current tests contains slurm jobs that can run simulataneous tasks 1, 5, 10, and 20 at the same time. Those slurm jobs used 64, 320, 640 and 1280 nodes on Summit.

We will further analyze the results using `radical.analytics`.

If I

[2021-05-28 16:09] wjlei1990 commented on #142
I noticed on summit, if entk failed to launch the job, then it pops the exception:

[code]

It is not a big deal. I think it may be just a small bug (that raised an unhandled exception) in the `entk` software.

[2021-05-28 16:31] lsawade commented on #138
So, I tested stuff yesterday, and things seem to work out! There is one catch that is probably solvable. When I have need GPUs from different nodes I feel like the mpirun in the `task.000x.sh` has to fail because it does not know which GPUs to use. Meaning, I want to run 2 instances of specfem simultaneously, each needs 6 GPUs, but I only have 4 GPUs per node and am running on 3 nodes (12 GPUs tot

[2021-05-28 16:59] lsawade commented on #138
Update:

I tried to run the `mpirun` line in interactive mode and it hangs. I do not know why. It even hangs when I do not specify the nodes. But(!), this one does not:

```srun -n 6 --gpus-per-task=1 ./bin/xspecfem3D```

[2021-06-03 22:03] lsawade commented on #138
Just a quick update. I'm still looking for a work around here and in contact with the Research computing people here.

```srun -n 6 --gpus=6 <some test task>```

works, but when I do

```srun -n 6 --gpus=6 ./bin/xspecfem3D```

it doesn't. Very curious, but I'm on it, and will put more info here eventually.

[2021-06-21 16:58] lsawade commented on #138
Just a quick update, the above described commands are executed differently depending on the cluster at hand in Princeton. Meaning that it will be hard to generalize Slurm submission. I have been talking to people from picscie, there is no obvious solution right now. I will get back here again once I have more info.

[2021-06-22 04:32] wjlei1990 commented on #142
Hi @mturilli, I am wondering if there is any instructions for the performance analysis?

[2021-06-23 18:42] mturilli commented on #142
Hi @wjlei1990, happy to try to run the same analysis we used for the previous proposal on your new session. Let me know where I can find it and I will see what we can get out of it.

[2021-06-23 19:21] wjlei1990 commented on #142
Hi @mturilli, thanks for the help. The client log is located here:
[code]

Then sandbox log is located here:
[code]

[2021-06-24 13:16] mturilli commented on #142
@wjlei1990 , please find the update notebook for INCITE 2021 at: https://github.com/radical-experiments/hpcw-princeton/blob/master/analysis/incite2021.ipynb

I used the latest session at the specified path as it seemed the only one that had successfully completed (`re.session.login1.lei.018775.0008`)

[2021-06-24 15:20] wjlei1990 commented on #142
@mturilli it is weird...because what i saw on the terminal is that all the jobs are done. I checked the ouptut files they are good...

What do you suggest me to do? Maybe I can submit all the jobs one more time.

[2021-06-24 16:21] mturilli commented on #142
Thanks @wjlei1990. I double checked and found all the profiles I needed. I pushed an iteration of the notebook with the plots of all the sessions.

[2021-06-24 16:27] wjlei1990 commented on #142
@mturilli Cool! Thanks very much. I think we can discusss it a bit more during our next meeting, and what is the next thing to be done for our paper!

[2021-06-25 14:39] lee212 commented on #141
Thanks, Andre adding me to the maintainer of RCT in conda-forge channel.

I made few updates, and it supports PowerPC like:

@lsawade , please try again at your convenience, and let us know.
[code]

[2021-06-25 17:07] mturilli commented on #138
@lsawade to provide an example that we can test on other clusters with SLURM.

[2021-06-25 17:35] mturilli opened #143 "CISE article"
Look into the suggested tracks and discuss here how to proceed.

[2021-06-25 19:15] lsawade commented on #138
I cannot test whether this would work, but below an example that I expect to work if `slurm` is configured correctly.

The jobs submit, just not in parallel. This submission setup is for 3 Nodes, where each node has 4 GPUs, and two gpu-requiring `srun`s have to be executed, each with 6 tasks and a 1 gpu per task.  For this setup to run in parallel, the two `srun`s would have to share a node.

Let

[2021-07-08 16:34] shantenujha commented on #143
Based upon a meeting that Jeroen and I had with NSF earlier today, I would like to suggest a target date of 15 Sep, no later than 01 Oct, 2021.

[2021-07-08 16:35] shantenujha commented on #143
Apologies for the accidental close. Erratic mouse movement.

[2021-07-08 20:01] Weiming-Hu opened #144 "EnTK errored on Cheyenne"
I have recently encountered the following error on Cheyenne.

[code]

My radical stake shows the following:

[code]

Any ideas? Thanks in advance.

[2021-07-08 20:03] Weiming-Hu commented on #144
I have updated `radical.entk` with `pip install radical.entk --upgrade`. Is that sufficient for the update? Thanks.

[2021-07-08 20:40] Weiming-Hu opened #145 "Missing documentation for the -d option in radical-pilot-create-static-ve"
The current documentation has the following information:

[code]

However, it misses the `-d` option which installs the default modules required. Honestly, I would prefer it to be the default behavior of the command because I don't really know what modules I need. The default modules always solve my problem.

My radical stack is as follows:

[code]

This issue has been raised in [this previous iss

[2021-07-08 20:49] Weiming-Hu commented on #144
Actually, once I have upgraded all `radical.*` modules, I'm able to get pass that error. But I encountered a different error.

[code]

My current stack is as follows:

[code]

[2021-07-12 12:49] andre-merzky commented on #144
Hi @Weiming-Hu - we pushed a round of releases for RU, RS and RP.  Would you mind updating your stack once more and check if the error persists?  Specifically the last error (mismatch on return values from `schedule_waitpool` should not happen on that stack, AFICT.  Thanks!

[2021-07-12 12:50] andre-merzky commented on #145
Thanks for the feedback! The documentation certainly needs to get fixed.   We'll discuss the default setting also.

[2021-07-12 13:59] Weiming-Hu commented on #144
Thank you! I have upgraded to the following stack:

[code]

But it seems that the process got stuck at submitting. Please see the below printout log:

[code]

[2021-07-12 15:32] Weiming-Hu commented on #144
I have attached my client side log, [re.session.cheyenne1.wuh20.018820.0002.tar.gz](https://github.com/radical-collaboration/hpc-workflows/files/6802582/re.session.cheyenne1.wuh20.018820.0002.tar.gz), and the server side log, [re.session.cheyenne1.wuh20.018820.0002.server.tar.gz](https://github.com/radical-collaboration/hpc-workflows/files/6802581/re.session.cheyenne1.wuh20.018820.0002.server.tar.

[2021-07-23 16:54] andre-merzky commented on #139
This has been resolved by RP release 1.6.7.  Thanks for your patience! :-)

[2021-07-23 16:54] #139 closed, assigned to andre-merzky

[2021-07-23 17:04] mturilli commented on #144
@Weiming-Hu can you confirm that this is fixed now?

[2021-07-23 17:04] mturilli commented on #144
@Weiming-Hu can you confirm that this is fixed now?

[2021-07-23 17:06] mturilli commented on #141
it works!

[2021-07-23 17:06] #141 closed, assigned to lee212

[2021-07-23 17:42] lsawade commented on #143
Just a follow-up:

- [Call for papers ](https://www.computer.org/digital-library/magazines/cs/track-calls-for-papers#Software%20Engineering)
- As Shantenu mentioned the editor for that section is indeed Jeff Carver, and they provide an email address for submission scope: [cise-software@computer.org](mailto:cise-software@computer.org)

We (@wjlei1990 and I) will start working towards an abstract we

[2021-08-04 16:44] wjlei1990 commented on #142
Hi @mturilli, I did another performance measurement on Summit using real simulation cases.

The thrid case is not so perfect. I think there are some slow nodes involved in the simulation.

So I am going to relaunch this one and update the figure.

![incite_2021_ovh_ttx](https://user-images.githubusercontent.com/5777547/128220935-bad2e78e-9e8c-4669-9f3c-00f4c13c58fa.png)
![incite_2021_ru](https://u

[2021-08-04 19:19] wjlei1990 opened #146 "Possible to put a timeout in the jsrun command?"
Hi team,

Is it possible to put `timeout` in the `jsrun` command?

I used to run the command like this:
[code]

[2021-08-05 16:33] wjlei1990 opened #147 "Issues (?) when submitting jobs"
Hi I constantly encountered this issue when using entk on summit.

This issue doesn't not always happen but sometime it just pops out...I am not sure what is the reason...Could you help us to figure them out?

[code]

[2021-08-05 16:51] wjlei1990 commented on #147
Another error run:
[code]

[2021-08-05 16:51] wjlei1990 commented on #147
[code]

[2021-08-05 17:20] wjlei1990 commented on #147
This issues seems to be related to my `.bashrc` file.

I had a very lengthy bashrc that takes a while to load on Summit. I think today Summit is kind of slow so it tooke longer than before to load the bashrc file.

After cleaning the bashrc file a bit, I can get most of the jobs submitted.

Thanks for the help.

Let me know if you have updates in the future.

[2021-08-05 18:59] andre-merzky commented on #147
@wjlei1990 - you could try to set this env variable on the client side, before running your script:
[code]
the default timeout is 10 seconds, which may be indeed too short if your bash startup takes too long.

[2021-08-05 21:36] andre-merzky commented on #146
Hi @wjlei1990 - we don't support timeouts at the moment.  A quick workaround would be to wrap the task in a shell script and to kill it after some time.  Please let us know if you need help with setting this up!

[2021-08-08 05:03] wjlei1990 opened #148 "OSError: [Errno 116] Stale file handle"
Hi,

I have 4 large jobs waiting in the queue on Summit. They have been sitting in the queue for a while, due to their large job size.

I noticed 3 of 4 jobs kept showing error messages below, repetatively.
[code]

[2021-08-08 06:54] andre-merzky commented on #148
Do you have an estimate on how long the jobs were sitting in the queue?  We have not seen that error mode before, it looks like the Python logging layer looses access to the log file handles :-/  I'll check if we missed some documented limits.

[2021-08-08 14:40] wjlei1990 commented on #148
Hi @andre, about 3-4 days.

Now the python script is killed:
[code]
However, on the Summit lsf job queue, the job still exists. Should I cancel the job manually?

If I leave it there, when the job is running, will it run properly?

[2021-08-09 18:52] wjlei1990 commented on #148
Now there is a job running on Summit...but this job seems doing nothing...not computing anything...

I am going to kill it manually...

But I am waiting for ENTK team to comment further!

[2021-08-09 23:02] #147 closed, assigned to andre-merzky, lee212, mturilli

[2021-08-09 23:04] wjlei1990 commented on #146
Hi @andre-merzky, could you be more specific?

So originally I have this:
[code]

What should I put into the shell script, and how should I prepare the entk commands?

[2021-08-10 09:59] andre-merzky commented on #146
Hi @wjlei1990,

if `timeout` is available on the compute nodes, you could change the EnTK task description from
[code]
to
[code]

If that is not an option, have a look at [this stackoverflow page](https://stackoverflow.com/questions/687948/timeout-a-command-in-bash-without-unnecessary-delay) for a couple of ways on how to time out a command.  Let me know if that helps!

[2021-08-10 10:02] andre-merzky commented on #148
Sorry for the late response!

Indeed, the pilot job will start, but EnTK delays the submission of tasks until it learns about the job startup, so if the client side is gone, then no tasks get submitted to the pilot :-/

I did not find anything related to logging handler timeouts in Python, and have no idea what happens there.  Do I read your post correctly that one of the 4 jobs succeeded?

[2021-08-10 17:32] wjlei1990 commented on #148
actually I kill them all manually, since I feel that one will not survive...

So I have no idea if it will be successful or not.

[2021-08-13 15:22] wjlei1990 opened #149 "any way to get radical job id"
Is there any way to get radical job id?

[code]

For example, I want to get the `018849.0008` when running python script. Any way to do it?

[2021-08-13 15:29] wjlei1990 commented on #149
Also, is there anyway to get slurm job id?

I usually have multiple jobs running. So having those job ids will make tracking progress much easier.

[2021-08-20 08:20] andre-merzky commented on #149
The session ID should be returned by `AppManager.sid`:
[code]

I am afraid that this is not exposed by the RE API :-/  But, you should be able to set a `job_name` in the resource description, and that job name is also set on the slurm job.  Slurm commands allow to look for job names also IIRC, or you can at least grep for it.

[2021-08-20 08:23] andre-merzky commented on #148
I am really sorry, but I have no idea yet what to do here and how to debug.  That is not supposed to happen.

One question though: did all jobs fail on the same log message, or on random ones?  If you don't know, would you mind submitting a couple of small but long running tests to check?  Maybe the log error is a red herring and the error is related to code nearby, not to the logging...

[2021-08-27 21:21] wjlei1990 opened #150 "ENTK seems to break after Summit OS Update"
Hi,

After Summit system OS update this week, I always got this error after submitting jobs:
[code]

I re-installed `erlang (Erlang/OTP 25 [DEVELOPMENT] [erts-12.0.3])` and `rabbitmq_server-3.9.4`. Due to the system update, the old version installed on summit just broke and not working any more.

Any thoughts on the failure? Is it my issue or `entk` issue?

[code]

[2021-09-01 22:12] wjlei1990 commented on #150
New Error occured!

[code]

Does it mean the mongodb breaks?
[code]

[2021-09-02 18:01] mturilli commented on #150
Hi @wjlei1990 , unfortunately 129.114.17.185 is momentarily offline. I am working on bringing it back up ASAP. Meanwhile, could you try to use our services deployed at ORNL? @lee212 could you give Wenjie the details of the endpoints and how to use them?

[2021-09-02 19:34] lee212 commented on #150
@wjlei1990 , I sent the information over Slack, let me know if you didn't receive the notification or had an issue with it.

[2021-09-04 15:17] wjlei1990 commented on #150
@lee212 @mturilli

Thanks for the mongodb update. This part now  works.

However, ETNK still has some issues running the job on summit:
[code]

This is what I got from ENTK sandbox:
[code]
The job seems to be running in the queue on Summit. However, `entk` seems to fail at launch tasks.

[2021-09-17 17:04] lee212 commented on #150
Update: release has been made, pypi installation will reflect this update. you can get rp:
[code]

~~This issue has been addressed and merged to the devel branch, we will have this fix in the next release. In the meantime, would you be able to install radical.pilot from the github repo?~~

~~The installation instruction of getting the devel branch is removing your current installation first and in

[2021-09-17 17:06] #149 closed, assigned to nobody

[2021-09-17 17:07] #148 closed, assigned to andre-merzky

[2021-09-27 13:58] wjlei1990 commented on #150
After testing it on Summit, now the task directory is generated from `pilot.0000`. However, tasks are still not running properly. I n the `task.0000.err` file, I found this:
[code]

This is my script for creating task:
[code]

Anything wrong with the task config?

[2021-09-27 14:01] andre-merzky commented on #150
Hi @wjlei1990 - we got informed by another user that the ERF format is broken on summit at the moment.  Tickets have been opened toward IBM, but so far we have no ETA for a fix I am afraid.

[2021-09-27 14:03] wjlei1990 commented on #150
@andre-merzky thanks for the update!

[2021-09-27 19:31] wjlei1990 commented on #150
My entk script is located here:
[code]

[2021-10-05 17:40] Weiming-Hu commented on #144
I'm sorry for not responding to this ticket earlier. This has been long fixed and actually the paper has been already submitted to Data in Brief per our previous discussions through emails. Please let me know if you have any questions. Closing...

[2021-10-05 17:40] #144 closed, assigned to Weiming-Hu

[2021-10-11 23:06] lsawade commented on #138
ping

[2021-10-13 20:37] andre-merzky commented on #138
Hi @lsawade, I will have time on Friday to work on this and hope to have results back before our call.

[2021-10-14 18:50] lee212 commented on #150
@wjlei1990, please try to use/replicate this script, you would be able to avoid ERF error,
[code]
It uses `jsrun` arguments to specify resource sets as a temporal fix. We will eventually try pmix/prrte later though.

[2021-10-15 11:54] andre-merzky commented on #138
Hey @lsawade - the reason for the behavior eludes me completely.  I can confirm that the same is observed on at least one other Slurm cluster (expanse @ SDSC), and I opened a ticket there to hopefully get some useful feedback.  At the moment I simply don't know how we can possibly resolve this.  I am really sorry for that, I understand that this is blocking progress since several months by now :-/

[2021-10-15 14:23] lsawade commented on #138
Yeah, I have had a really long thread with the people from the research computing group and they did not understand why this is not working either. Maybe we should contact the `slurm` people?

[2021-10-15 15:56] andre-merzky commented on #138
Yes, I think we should resort to that.  I'll open a ticket if the XSEDE support is not able to suggest a solution within a week.

[2021-10-15 16:23] wjlei1990 commented on #150
Thanks~

Issue resolved! Ticket can be closed in today's meeting.

[2021-10-15 17:02] #150 closed, assigned to wjlei1990

[2021-10-15 17:03] #146 closed, assigned to wjlei1990

[2021-10-15 17:03] mturilli commented on #145
Will be in the next release

[2021-10-15 17:03] #145 closed, assigned to andre-merzky, Weiming-Hu

[2021-10-17 09:40] andre-merzky commented on #138
We got some useful feedback from XSEDE after all: slurm seems indeed to be unable to do correct auto-placement for non-node-local tasks.  I find this surprising, and it may still be worthwhile to open a slurm ticket about this.  Either way though: a workaround is to start the job with a specific node file.  From your example above:
[code]
should work as expected with
[code]
where the host file loo

[2021-10-21 01:13] lsawade commented on #138
Hi @andre-merzky,

I have been playing with this and I can't seem to get it to work. I explain what I do here:
https://github.com/lsawade/slurm-job-step-shared-res

I'm not sure whether it's me or Traverse.

Can you adjust this mini example to see whether it runs on XSEDE? Things you would have to change are the automatic writing of the hostfile and how many tasks per job step. If you give me the

[2021-10-25 10:05] andre-merzky commented on #138
The hardware setup on Expanse is really similar to Traverse: 4 GPUs/node.

I pasted something incorrect above, apologies!  Too many scripts lying around :-/  The `--gpus=6` flag was missing.  Here should be the correct one, showing the same syntax working for both `cyclic` and `block`:

This is the original script:
<details>

[code]
</details>

These are the resulting node files:
<details>

[code]

[2021-10-25 23:29] lsawade commented on #138
So, I have some good news, I have also tested this on `Andes`, and it definitely works on `Andes` as well. An added `batch_andes.sh` batch script to the repo to test the arbitrary distribution for `cyclic` and `block` with nodes [1,2], [1,2] and [1], [1,2,2], respectively.

The annoying news are that it does not seem to work on Traverse. At least I was able to test whether it's a user error...

So

[2021-10-26 20:10] lsawade commented on #138
Ok I can run things on Traverse using this setup. But there are some things I have learnt:

One traverse to not give a job step the entire CPU affinity of the involved nodes, I have to use the `--exclusive` flag in srun, which indicates that certain cpus/cores are exclusively used by that job step and not anything else.

Furthermore, I _**cannot**_ use `--cpus-per-task=1`. Which makes a lot of sen

[2021-11-03 16:41] andre-merzky commented on #138
...

I am not sure I appreciate the distinction - isn't 'this setup' also using GPUs from a pool of requested GPUs?

Given the first statement (`I can run things on Traverse using this setup`), it sounds like we should encode just this in RP to get you running on Traverse, correct?

[2021-11-03 18:31] lsawade commented on #138
Well, I'm not quite sure. It seems to me that if I request, `#SBATCH --gpus-per-task=1` I already prescribe how many GPUs a task uses, which worries me. Maybe it's a misunderstanding on my end..

[2021-11-08 12:51] andre-merzky commented on #138
This batch script [here](https://github.com/radical-collaboration/hpc-workflows/issues/138#issuecomment-950751345) does not use that directive.  The sbatch only needs to provision the right number of nodes - the `per_task` parameters should not matter (even if you need to specify it in your case for some reason) as we overwrite them in the `srun` directives anyway?

[2021-11-08 17:17] lsawade commented on #138
Exactly! But this does not seem to work!

[code]
works;

[code]
does not work!

---

Unless, I'm making a dumb mistake ...

[2021-11-12 18:03] #142 closed, assigned to wjlei1990

[2021-12-10 17:28] andre-merzky commented on #138
Sorry, I did not work on this further, yet.

[2022-01-14 12:12] andre-merzky commented on #138
Hi @lsawade - I still can't make sense of it and wasn't able to reproduce it on other Slurm clusters :-(  But either way, please do give the RS branch `fix/traverse` (https://github.com/radical-cybertools/radical.saga/pull/840) a try.  It now hardcodes the `#SBATCH --gpus-per-task=1` for Traverse.

[2022-01-21 16:29] lsawade commented on #138
Hi @andre-merzky - So, I was getting errors in the submission, and I finally had a chance to go through the log. And, I found the error, the submitted `SBATCH` script can't work like this:

[code]

In this case, you are asking for 32 GPUs on a single node. I have no solution for this because the alternative, requesting `4 tasks` seems stupid. And, research computing staff seemed to be immovable in

[2022-02-04 15:41] andre-merzky commented on #138
We discussed this topic on this weeks devel call.  At this point we are inclined to *not* support Traverse: the Slurm configuration on Traverse is contradicting the Slurm documentation,  and also how other Slurm deployments work.  To support Traverse we basically have to break support on other Slurm resources.
We can in principle create a separate `slurm_traverse` launch method and pilot launcher

[2022-02-04 18:36] mturilli commented on #138
We will have to write an executor specific to Traverse. This will require allocating specific resources and we will report back once we do some internal discussion. RADICAL remains available to discuss the configuration of new machines, in case it will be useful/needed. Meanwhile, Lucas is using Summit while waiting for Traverse to become viable with EnTK.

[2022-02-08 19:59] lsawade commented on #138
@andre-merzky

Today I was working on something completely separate, but -- again -- I had issues with Traverse even for an embarrassingly parallel submission. It turned out that there seems to be an issue with how hardware threads are assigned.

If I just ask for `--ntasks=5` I will not get `5` physical cores from the Power9 CPU, but rather `4` hardware threads from one core and `1` hardware thre

[2022-02-11 20:41] lsawade commented on #138
I have confirmed my suspicions. I have _**finally**_ found a resource and task description that definitely works. Test scripts are located here [traverse-slurm-repo](https://github.com/lsawade/slurm-job-step-shared-res), but I will summarize below:

The `sbatch` header:

[code]

So, in the `sbatch` header, I'm explicitly asking for 32 tasks where each task has access to 4 cpus. In SLURM language P

[2022-03-04 16:33] wjlei1990 opened #151 "Performance Benchmark on Summit (slow Summit computing node encounted or not?)"
Hi Radical team, I recently have performed some benchmark tests to measure the ENTK on Summit.

----
Update 1: sandbox files have been copied to: `/gpfs/alpine/world-shared/geo111/lei/sandbox_log/summit.sandbox_log`
Let me know if you have any permission issues or not.
----

The first test is kind of weak scaling test. The number of tasks increase linearly with number of nodes:
![Screenshot from 2

[2022-03-04 17:16] wjlei1990 commented on #151
Here is another performance test I made on Summit. Here is the kind of 'strong scaling' test. I keep the total number of tasks the same but vary the number of computing nodes.
![Screenshot from 2022-03-04 12-14-03](https://user-images.githubusercontent.com/5777547/156810307-d16fdfab-dca7-4e29-aa1f-af5315d6d281.png)

![incite_2022_strong_ru](https://user-images.githubusercontent.com/5777547/1568091

[2022-03-05 13:39] andre-merzky commented on #151
Hi @wjlei1990 - the plots below look a bit closer into the contributions of the individual task runtimes.  X-axis is the task ID, y-axis is the duration of the contributions, the differently colored plots show what time the task spend in what activity.  Scheduling is not shown, but the scheduling data looked as expected and did not contribute to the pattern.

![re session login5 lei 019044 0000_du

[2022-03-07 17:36] wjlei1990 commented on #151
Hi @andre-merzky, thanks for the investigation and detailed explanation. The slowdown here is sort of what I would expect. The executable runtime should be almost the same between different tasks. So this shouldn't be due to different runtime of tasks. This behavior could be caused by Summit slow running computing node or could be stalled filesystem.

In terms of reporting to Summit, what informat

[2022-03-08 10:05] andre-merzky commented on #151
Hi @wjlei1990 ,

Yes.  It's a bit hacky, but here you go:

[code]

The output is now `<session_id>.<lsf_jobid>`.

The job ID is indeed the important one.  I am not sure if they have detailed logs - if not they likely will ask you to run again and to let them know the job number to turn on monitoring.

Other important info would be (IMHO): size of the job (they get that from the jobid though), the

[2022-03-31 16:17] wjlei1990 opened #152 "some entk jobs errored out (task not running)"
Hi Entk team,

Recently (last two weeks), I encounted entk error out for multiple times:
[code]

Do you have any idea what caused this issue?

[2022-04-01 11:29] andre-merzky commented on #152
Hi @wjlei1990 - Alas I don't have a quick answer based on that message as that can have multiple causes.  Could you please attach the pilot sandbox to this ticket?  On what machine is that run executed?
Thank you!

[2022-04-01 16:06] wjlei1990 commented on #152
[entk_log.zip](https://github.com/radical-collaboration/hpc-workflows/files/8399316/entk_log.zip)

Hi @andre-merzky - The job is running on Summit. I attached both the client and sandbox log in the zip file. Let's talk about it in today's meeting.

[2022-04-01 16:10] wjlei1990 commented on #152
Here is the radical-stack:
[code]

The version used to work on Summit like a month ago. That's how I generated the previous benchmark test results.

[2022-04-01 17:22] andre-merzky commented on #138
@lsawade - thanks for you patience!  In radical-saga and radical-pilot, you should now find two branches named `fix/issue_138_hpcwf`.  They hopefully implement the right special cases for Traverse to work as expected.  Would you please give them a try?  Thank you!

[2022-04-01 18:02] lsawade opened #153 "Logging feature request"
[nnodes link](https://github.com/icui/nnodes)

One of the great features of `nnodes` is a direct task logging ability while the jobs is running. We didn't know we needed this until we had it. Very simply put, it's a command line tool that let's you keep track of all jobs that are running, done, failed, or to be submitted. The example output for two moment tensor inversions is as follows:

[code]

[2022-04-01 18:05] lsawade commented on #138
Will give it a whirl!

[2022-04-01 19:41] lsawade opened #154 "Is it possible to run EnTK locally on summit? In an interactive allocation?"
`nnodes` supports by design another incredible feature for debugging. Since nnodes is run as part of the batch submission, we can run ``nnodes`` on Summit with an interactive allocation in the debug queue.

We've found that "the hurdle" of having to run the workflow manager then communicating with mongoDB, then submitting has its advantages, but carries a big drawback when debugging the workflow.

[2022-04-01 19:43] lsawade commented on #154
I changed the title, because mongodb is not the prohibitor in this case it's just queue time to fix small problems.

[2022-04-04 09:59] andre-merzky commented on #154
I'm afraid we are not able to realistically support this in the very near future.  I opened an [issue](https://github.com/radical-cybertools/radical.pilot/issues/2573) for this.

And, you are right, MongoDB is not the main issue in this context.

[2022-04-05 16:35] wjlei1990 commented on #152
@andre-merzky I removed the python related stuff in the sandbox. It seems the same issue occurred again:
[code]

Here is the sandbox output.
[re.session.login3.lei.019087.0000.zip](https://github.com/radical-collaboration/hpc-workflows/files/8420195/re.session.login3.lei.019087.0000.zip)

[2022-04-05 17:07] andre-merzky commented on #152
Well, it actually kind of worked.  Alas the version you are using pulls `pymongo` as default.  After releasing that stack (1.8), `pymongo` saw an API update which broke backward compatibility.  We now specify `pymongo<4`  as dependency.  Please do remove the virtualenv once more, update your local stack (all versions should be 1.13 or better from pypi), and try once more.

Thanks, Andre.

[2022-04-05 17:19] wjlei1990 commented on #152
Super! Thanks @andre-merzky. Let me try and I will update to you shortly!

Here is the updated stack on Summit:
[code]

[2022-04-05 19:25] wjlei1990 commented on #152
@andre-merzky Seems to work to a certain point (not yet fully functional yet). Tasks got scheduled in ENTK but failed to execute.
[code]

This is the error I got from `task.0000.out`:
[code]

sandbox log file: [re.session.login3.lei.019087.0001.zip](https://github.com/radical-collaboration/hpc-workflows/files/8421317/re.session.login3.lei.019087.0001.zip)

In the `create_task` function, I am using

[2022-04-05 20:53] andre-merzky commented on #152
I am afraid that won't work - you should only need to specify `xspecfm3D` as executable (as in the commented line before) along with the core and gpu requirements, and RP will make sure that `jsrun` is called with the correct parameters.  The way you use it now basically means we run
[code]
which is bound to fail (jsrun is not available on the compute nodes).

Also, btw, please use
[code]
instead

[2022-04-06 16:29] wjlei1990 commented on #152
@andre-merzky, the current script is modified based on this ticket: https://github.com/radical-collaboration/hpc-workflows/issues/150#issuecomment-943629896

Back in 2021 Oct, ENTK fails to launch `specfem3d_globe` on Summit using convention ways. So a temporary fix was brought up to make specfem can run again:
[code]

I tried to convert the script back by just setting:
[code]

However, I still go

[2022-04-06 20:16] lsawade commented on #138
@andre-merzky , I find the branch in the pilot but not in saga? Should I just use fix/traverse for saga?

[2022-04-07 08:19] andre-merzky commented on #138
@lsawade : Apologies, I missed a push for the branch...  It should be there now in RS also.

[2022-04-10 22:09] andre-merzky commented on #152
Hi @wjlei1990 - could you please also attach the task sandbox `/gpfs/alpine/geo111/world-shared/lei/entk/run_0000/task.0000.err`?  That is now outside of the pilot sandbox so I'm afraid I can't see what's happening to the task with above tarball...  Thanks!

[2022-04-18 20:29] wjlei1990 commented on #152
here you go! I think this is what you mean `task sandbox` or `client sandbox`, right?
[re.session.login3.lei.019088.0001.zip](https://github.com/radical-collaboration/hpc-workflows/files/8508016/re.session.login3.lei.019088.0001.zip)

[2022-04-20 11:49] andre-merzky commented on #153
Yes, that is indeed neat - accepted as feature request.

[2022-04-20 11:54] andre-merzky commented on #152
Alas no, not really.  I think you set in your task description something like
[code]
or similar.  Those run directories now contain the information about the task execution.  By default those run directories live inside the pilot sandbox - but since you set the task sandbox manually, they now do not and are thus not included in the tarball you attached...

[2022-04-20 11:55] andre-merzky commented on #151
Hey @wjlei1990 - did you hear back from Summit support on this topic, by any chance?

[2022-04-20 11:55] andre-merzky commented on #138
Hey @lsawade - did you have the chance to look into this again?

[2022-04-21 22:50] wjlei1990 commented on #152
Here you go.  @andre-merzky
[run_0000.log.zip](https://github.com/radical-collaboration/hpc-workflows/files/8535532/run_0000.log.zip)

Actually, I took a look into the `task.0000.err`, it is a empty file.

However, `task.0000.out` has some output information:
[code]

[2022-04-29 22:29] wjlei1990 commented on #152
Hi @andre-merzky, my running directory is here: `/gpfs/alpine/world-shared/geo111/lei/entk.small`

What you need to copy in that folder is:
[code]

Then you can try it and see if there is anything you need to fix or not.

[2022-05-02 18:33] lsawade commented on #138
Sorry, @andre-merzky , I thought I had updated the issue before I started driving on Friday...

So, the issue persists. An error is still thrown when `--cpus_per_task` is used due to the underscores.

[code]

[code]
<details>

[code]

</details>

[2022-05-04 14:59] mtitov commented on #152
@wjlei1990 hi Wenjie, can you please update radical stack (stack that you've used also workable, but configs required some fixes, which is done in RE/RP since v.1.14).

p.s. btw we also can try PRRTE as a launch method, and its updates are about to be merged into devel-branch

[2022-05-09 18:50] wjlei1990 commented on #152
@mtitov Once I updated the radical stack, do you want me to submit tasks again to test if it works?

[2022-05-09 21:18] mtitov commented on #152
@wjlei1990 hi Wenjie, yes, can you please try with jsrun (`'resource': 'ornl.summit'`) and if that will fail then with prrte(*) (`'resource': 'ornl.summit_prte'`)

(*) yet devel-branch: `pip install git+https://github.com/radical-cybertools/radical.pilot.git@devel`

[2022-05-11 02:33] wjlei1990 commented on #152
@mtitov `('resource': 'ornl.summit')` still failed. I am going to try `prte`. I will update to you.

Here is my `radical-stack` output:
[code]

[2022-05-17 16:37] mtitov commented on #152
@wjlei1990 hi Wenjie, is there some updates on using PRRTE? (just in case of status updates, no rush)

p.s. meanwhile, can you share (somewhere on Summit within `world-shared`) pilot sandbox on that latest failed run?

[2022-05-17 16:52] mtitov commented on #138
@lsawade hi Lucas, can you please give it another try, since that was a typo in option setup and was fixed in that [branch](https://github.com/radical-cybertools/radical.saga/compare/fix/issue_138_hpcwf), thus the stack would look like this
[code]

[2022-05-20 18:14] wjlei1990 commented on #152
@mtitov Yes.

Session is: `re.session.login2.lei.019132.0000`

The sandbox is here:
[code]

The client log is here:
[code]

[code]

[2022-05-23 16:01] wjlei1990 commented on #152
@mtitov I updated the `radical.pilot` to the most recent devel branch and used `summit-prte`. Jobs still failed.

This is my `radical-stack`:
[code]

The session id is `re.session.login2.lei.019135.0000`.

The python job script is located here: `/gpfs/alpine/world-shared/geo111/lei/entk.small/entk.hrlee.py`

I also copied the sandbox and client log into the directory mentioned above.

Please let m

[2022-05-23 16:47] mtitov commented on #152
@wjlei1990 I still work on `jsrun` case, but for `prrte` please make the following updates:
1. use RP devel branch, latest updates were not yet released (`pip install git+https://github.com/radical-cybertools/radical.pilot.git@devel`)
2. add the following line into tasks `pre_exec` attribute (since prrte isolates env defined for its launching from env used for running an executable, and `module` c

[2022-05-27 13:56] wjlei1990 commented on #152
@mtitov Do you mean this? Adding `. /sw/summit/lmod/lmod/init/profile` to the very beginning of `pre_exec`?

[code]

I tried it and it failed. If I am not adding the command correctly, please correct me so I can submit it again

[2022-05-27 14:08] mturilli commented on #143
The draft is ready for review: https://www.overleaf.com/project/619c29ececd58586f3bd8e22 . Wenjie would like for RADICAL team to work on two sections: software solution and optimization process

[2022-05-31 09:24] andre-merzky commented on #143
I am afraid I don't have access to that overleaf project - could you please add `andremerzky@gmail.com` ?

[2022-06-01 22:22] wjlei1990 commented on #143
Just sent the invitation!

[2022-06-06 21:15] andre-merzky commented on #138
@lsawade : ping :-)